In [1]:
import numpy as np
import pandas as pd

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2015/tmod_vic2015.csv'

In [3]:
df = pd.read_csv(df_,low_memory = False)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

1     6988
4     6868
2     6856
5     6724
3     6611
17     783
12     736
13     728
14     727
19     724
7      718
6      718
15     717
20     716
10     699
11     681
18     678
8      669
9      656
16     654
21      35
22      11
23       2
Name: VIV_SEL, dtype: int64

In [5]:
df_copy.ND_TIPO.value_counts()

1    33789
2     7488
3     2329
4      711
5      382
Name: ND_TIPO, dtype: int64

In [6]:
df_copy.TD_TIPO.value_counts()

1    26301
2    10318
3     4854
5     1910
4     1316
Name: TD_TIPO, dtype: int64

In [7]:
df_copy.BPCOD.value_counts()

3     8279
2     7685
9     7113
4     5651
5     5357
10    3022
8     1699
7     1539
6     1482
1     1131
11     950
13     552
15      91
12      81
14      67
Name: BPCOD, dtype: int64

In [8]:
df_copy.R_SEL.value_counts()

1     21796
2     14210
3      5428
4      2179
5       741
6       201
7        68
8        35
10       18
9        18
12        3
19        2
Name: R_SEL, dtype: int64

In [9]:
df_copy.AREAM_OCU.value_counts()

1.0     4021
2.0     1514
4.0     1498
21.0    1330
29.0    1179
14.0    1153
36.0    1141
3.0     1138
39.0    1080
8.0     1051
41.0     910
7.0      806
26.0     790
33.0     745
5.0      740
40.0     714
18.0     695
24.0     619
15.0     586
10.0     523
27.0     489
9.0      450
31.0     429
13.0     396
28.0     383
25.0     356
17.0     339
32.0     326
19.0     308
12.0     266
43.0     257
16.0     220
Name: AREAM_OCU, dtype: int64

In [10]:
df_copy.AREAM_OCU.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',
                29.0:'29',14.0:'14',36.0:'36',21.0:'21',6.0:'6',
                8.0:'8',39.0:'39',41.0:'41',33.0:'33',18.0:'18',
                40.0:'40',25.0:'25',5.0:'5',26.0:'26',9.0:'9',
                7.0:'7',13.0:'13',15.0:'15',27.0:'27',31.0:'31',
                19.0:'19',28.0:'28',24.0:'24',10.0:'10',43.0:'43',
                17.0:'17',32.0:'32',16.0:'16',12.0:'12'}, inplace=True)

In [11]:
df_copy.AREAM_OCU.value_counts().astype('int64')

1     4021
2     1514
4     1498
21    1330
29    1179
14    1153
36    1141
3     1138
39    1080
8     1051
41     910
7      806
26     790
33     745
5      740
40     714
18     695
24     619
15     586
10     523
27     489
9      450
31     429
13     396
28     383
25     356
17     339
32     326
19     308
12     266
43     257
16     220
Name: AREAM_OCU, dtype: int64

In [12]:
df_copy.RESUL_H.value_counts()

A    44699
Name: RESUL_H, dtype: int64

In [13]:
df_copy.BP1_2C.value_counts()

15    2875
2     2612
21    2157
14    1947
17    1732
9     1716
11    1594
3     1573
25    1569
16    1536
22    1512
31    1453
28    1420
23    1411
6     1351
12    1344
10    1332
29    1318
27    1301
1     1276
19    1203
24    1099
30    1054
8     1008
20     987
4      985
26     953
7      939
13     928
32     899
18     856
5      759
Name: BP1_2C, dtype: int64

In [14]:
df_copy.BP1_3C.value_counts()

4      2530
5      2524
2      2384
1      2377
7      1812
3      1631
39     1409
6      1358
114    1338
14     1194
8      1124
17     1019
50      949
20      939
28      840
30      786
10      780
33      761
12      751
11      666
53      624
9       588
29      579
19      542
37      511
35      478
18      475
101     464
13      420
38      412
       ...
234       2
203       2
349       2
221       2
141       2
169       1
384       1
152       1
412       1
405       1
375       1
149       1
294       1
181       1
424       1
464       1
261       1
485       1
215       1
496       1
153       1
459       1
196       1
470       1
482       1
113       1
150       1
126       1
136       1
125       1
Name: BP1_3C, Length: 248, dtype: int64

In [15]:
df_copy.BP1_4.value_counts()

2    13712
3    11967
1     8859
4     8491
9     1670
Name: BP1_4, dtype: int64

In [16]:
df_copy.BP1_4.replace({9:99}, inplace=True)

In [17]:
df_copy.BP1_4.value_counts()

2     13712
3     11967
1      8859
4      8491
99     1670
Name: BP1_4, dtype: int64

In [18]:
df_copy.BP1_5.value_counts()

2    21322
1    14558
4     2327
3     1987
5     1659
6     1488
8      910
7      238
9      210
Name: BP1_5, dtype: int64

In [19]:
df_copy.BP1_5.replace({9:99}, inplace=True)

In [20]:
df_copy.BP1_5.value_counts()

2     21322
1     14558
4      2327
3      1987
5      1659
6      1488
8       910
7       238
99      210
Name: BP1_5, dtype: int64

In [21]:
df_copy.BP1_6.value_counts()

1.0    18247
2.0    14935
Name: BP1_6, dtype: int64

In [22]:
df_copy.BP1_6.replace({1.0:1,2.0:2}, inplace=True)

In [23]:
df_copy.BP1_6.value_counts()

1.0    18247
2.0    14935
Name: BP1_6, dtype: int64

In [24]:
df_copy.BP1_7.value_counts()

1.0    13880
2.0     4367
Name: BP1_7, dtype: int64

In [25]:
df_copy.BP1_7.replace({1.0:1,2.0:2}, inplace=True)
df_copy.BP1_7.value_counts()

1.0    13880
2.0     4367
Name: BP1_7, dtype: int64

In [26]:
df_copy.BP1_8.value_counts()

2.0    7616
1.0    6208
9.0      56
Name: BP1_8, dtype: int64

In [27]:
df_copy.BP1_8.replace({1.0:1,2.0:2,9.0:99}, inplace=True)
df_copy.BP1_8.value_counts()

2.0     7616
1.0     6208
99.0      56
Name: BP1_8, dtype: int64

In [28]:
df_copy.BP1_9.value_counts()

1.0    6789
2.0    3813
3.0    1555
4.0     533
9.0     525
6.0     464
5.0     201
Name: BP1_9, dtype: int64

In [29]:
df_copy.BP1_9.replace({1.0:'1',2.0:'2',99.0:'99',3.0:'3',4.0:'4',5.0:'5',6.0:'6',}, inplace=True)
df_copy.BP1_9.value_counts().astype('int64')

1      6789
2      3813
3      1555
4       533
9.0     525
6       464
5       201
Name: BP1_9, dtype: int64

In [30]:
df_copy.BP1_10_1.value_counts()

1.0    12573
0.0     1307
Name: BP1_10_1, dtype: int64

In [31]:
df_copy.BP1_10_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_1.value_counts().astype('int64')

1    12573
0     1307
Name: BP1_10_1, dtype: int64

In [32]:
df_copy.BP1_10_2.value_counts()

0.0    12109
1.0     1771
Name: BP1_10_2, dtype: int64

In [33]:
df_copy.BP1_10_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_2.value_counts().astype('int64')

0    12109
1     1771
Name: BP1_10_2, dtype: int64

In [34]:
df_copy.BP1_10_9.value_counts()

0.0    13473
1.0      407
Name: BP1_10_9, dtype: int64

In [35]:
df_copy.BP1_10_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_9.value_counts().astype('int64')

0    13473
1      407
Name: BP1_10_9, dtype: int64

In [36]:
df_copy.BP1_11.value_counts()

4.0    4201
3.0    3567
5.0    2472
9.0    1639
8.0     804
6.0     723
2.0     370
7.0      89
1.0      15
Name: BP1_11, dtype: int64

In [37]:
df_copy.BP1_11.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99'}, inplace=True)
df_copy.BP1_11.value_counts().astype('int64')

4     4201
3     3567
5     2472
99    1639
8      804
6      723
2      370
7       89
1       15
Name: BP1_11, dtype: int64

In [38]:
df_copy.BP1_12_1.value_counts()

1.0    10042
0.0     3838
Name: BP1_12_1, dtype: int64

In [39]:
df_copy.BP1_12_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_1.value_counts().astype('int64')

1    10042
0     3838
Name: BP1_12_1, dtype: int64

In [40]:
df_copy.BP1_12_2.value_counts()

0.0    12370
1.0     1510
Name: BP1_12_2, dtype: int64

In [41]:
df_copy.BP1_12_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_2.value_counts().astype('int64')

0    12370
1     1510
Name: BP1_12_2, dtype: int64

In [42]:
df_copy.BP1_12_3.value_counts()

0.0    13071
1.0      809
Name: BP1_12_3, dtype: int64

In [43]:
df_copy.BP1_12_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_3.value_counts().astype('int64')

0    13071
1      809
Name: BP1_12_3, dtype: int64

In [44]:
df_copy.BP1_12_4.value_counts()

0.0    13122
1.0      758
Name: BP1_12_4, dtype: int64

In [45]:
df_copy.BP1_12_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_4.value_counts().astype('int64')

0    13122
1      758
Name: BP1_12_4, dtype: int64

In [46]:
df_copy.BP1_12_5.value_counts()

0.0    13463
1.0      417
Name: BP1_12_5, dtype: int64

In [47]:
df_copy.BP1_12_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_5.value_counts().astype('int64')

0    13463
1      417
Name: BP1_12_5, dtype: int64

In [48]:
df_copy.BP1_12_9.value_counts()

0.0    13442
1.0      438
Name: BP1_12_9, dtype: int64

In [49]:
df_copy.BP1_12_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_9.value_counts().astype('int64')

0    13442
1      438
Name: BP1_12_9, dtype: int64

In [50]:
df_copy.BP1_13.value_counts()

2.0    7680
1.0    2362
Name: BP1_13, dtype: int64

In [51]:
df_copy.BP1_13.replace({1.0:'1',2.0:2}, inplace=True)
df_copy.BP1_13.value_counts().astype('int64')

2    7680
1    2362
Name: BP1_13, dtype: int64

In [52]:
df_copy.BP1_14_1.value_counts()

0.0    11438
1.0     2442
Name: BP1_14_1, dtype: int64

In [53]:
df_copy.BP1_14_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_1.value_counts().astype('int64')

0    11438
1     2442
Name: BP1_14_1, dtype: int64

In [54]:
df_copy.BP1_14_2.value_counts()

0.0    11988
1.0     1892
Name: BP1_14_2, dtype: int64

In [55]:
df_copy.BP1_14_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_2.value_counts().astype('int64')

0    11988
1     1892
Name: BP1_14_2, dtype: int64

In [56]:
df_copy.BP1_14_3.value_counts()

0.0    13871
1.0        9
Name: BP1_14_3, dtype: int64

In [57]:
df_copy.BP1_14_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_3.value_counts().astype('int64')

0    13871
1        9
Name: BP1_14_3, dtype: int64

In [58]:
df_copy.BP1_14_4.value_counts()

0.0    7042
1.0    6838
Name: BP1_14_4, dtype: int64

In [59]:
df_copy.BP1_14_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_4.value_counts().astype('int64')

0    7042
1    6838
Name: BP1_14_4, dtype: int64

In [60]:
df_copy.BP1_14_9.value_counts()

0.0    10675
1.0     3205
Name: BP1_14_9, dtype: int64

In [61]:
df_copy.BP1_14_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_9.value_counts().astype('int64')

0    10675
1     3205
Name: BP1_14_9, dtype: int64

In [62]:
df_copy.BP1_15.value_counts()

2.0    6595
1.0    5064
9.0    2221
Name: BP1_15, dtype: int64

In [63]:
df_copy.BP1_15.replace({1.0:'1',2.0:'0',9.0:'99'}, inplace=True)
df_copy.BP1_15.value_counts().astype('int64')

0     6595
1     5064
99    2221
Name: BP1_15, dtype: int64

In [64]:
df_copy.BP1_16_1.value_counts()

1.0    2942
0.0    2122
Name: BP1_16_1, dtype: int64

In [65]:
df_copy.BP1_16_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_1.value_counts().astype('int64')

1    2942
0    2122
Name: BP1_16_1, dtype: int64

In [66]:
df_copy.BP1_16_2.value_counts()

0.0    2789
1.0    2275
Name: BP1_16_2, dtype: int64

In [67]:
df_copy.BP1_16_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_1.value_counts().astype('int64')

1    2942
0    2122
Name: BP1_16_1, dtype: int64

In [68]:
df_copy.BP1_16_2.value_counts()

0.0    2789
1.0    2275
Name: BP1_16_2, dtype: int64

In [69]:
df_copy.BP1_16_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_2.value_counts().astype('int64')

0    2789
1    2275
Name: BP1_16_2, dtype: int64

In [70]:
df_copy.BP1_16_3.value_counts()

0.0    4891
1.0     173
Name: BP1_16_3, dtype: int64

In [71]:
df_copy.BP1_16_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_3.value_counts().astype('int64')

0    4891
1     173
Name: BP1_16_3, dtype: int64

In [72]:
df_copy.BP1_16_4.value_counts()

0.0    5028
1.0      36
Name: BP1_16_4, dtype: int64

In [73]:
df_copy.BP1_16_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_4.value_counts().astype('int64')

0    5028
1      36
Name: BP1_16_4, dtype: int64

In [74]:
df_copy.BP1_16_9.value_counts()

0.0    5027
1.0      37
Name: BP1_16_9, dtype: int64

In [75]:
df_copy.BP1_16_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_9.value_counts().astype('int64')

0    5027
1      37
Name: BP1_16_9, dtype: int64

In [76]:
df_copy.BP1_17.value_counts()

2.0    4399
1.0     659
9.0       6
Name: BP1_17, dtype: int64

In [77]:
df_copy.BP1_17.replace({1.0:'1',2.0:'0',9.0:'99'}, inplace=True)
df_copy.BP1_17.value_counts().astype('int64')

0     4399
1      659
99       6
Name: BP1_17, dtype: int64

In [78]:
df_copy.BP1_18.value_counts()

2.0    10844
1.0     1956
9.0      421
Name: BP1_18, dtype: int64

In [79]:
df_copy.BP1_18.replace({1.0:'1',2.0:'0',9.0:'99'}, inplace=True)
df_copy.BP1_18.value_counts().astype('int64')

0     10844
1      1956
99      421
Name: BP1_18, dtype: int64

In [80]:
df_copy.BP1_19_1.value_counts()

1.0    1809
0.0     806
Name: BP1_19_1, dtype: int64

In [81]:
df_copy.BP1_19_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_1.value_counts().astype('int64')

1    1809
0     806
Name: BP1_19_1, dtype: int64

In [82]:
df_copy.BP1_19_2.value_counts()

0.0    2150
1.0     465
Name: BP1_19_2, dtype: int64

In [83]:
df_copy.BP1_19_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_2.value_counts().astype('int64')

0    2150
1     465
Name: BP1_19_2, dtype: int64

In [84]:
df_copy.BP1_19_3.value_counts()

0.0    2541
1.0      74
Name: BP1_19_3, dtype: int64

In [85]:
df_copy.BP1_19_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_3.value_counts().astype('int64')

0    2541
1      74
Name: BP1_19_3, dtype: int64

In [86]:
df_copy.BP1_19_4.value_counts()

0.0    2454
1.0     161
Name: BP1_19_4, dtype: int64

In [87]:
df_copy.BP1_19_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_4.value_counts().astype('int64')

0    2454
1     161
Name: BP1_19_4, dtype: int64

In [88]:
df_copy.BP1_19_5.value_counts()

0.0    2604
1.0      11
Name: BP1_19_5, dtype: int64

In [89]:
df_copy.BP1_19_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_5.value_counts().astype('int64')

0    2604
1      11
Name: BP1_19_5, dtype: int64

In [90]:
df_copy.BP1_19_6.value_counts()

0.0    2541
1.0      74
Name: BP1_19_6, dtype: int64

In [91]:
df_copy.BP1_19_6.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_6.value_counts().astype('int64')

0    2541
1      74
Name: BP1_19_6, dtype: int64

In [92]:
df_copy.BP1_19_7.value_counts()

0.0    2595
1.0      20
Name: BP1_19_7, dtype: int64

In [93]:
df_copy.BP1_19_7.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_7.value_counts().astype('int64')

0    2595
1      20
Name: BP1_19_7, dtype: int64

In [94]:
df_copy.BP1_19_8.value_counts()

0.0    2109
1.0     506
Name: BP1_19_8, dtype: int64

In [95]:
df_copy.BP1_19_8.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_8.value_counts().astype('int64')

0    2109
1     506
Name: BP1_19_8, dtype: int64

In [96]:
df_copy.BP1_20.value_counts()

2    39661
1     5038
Name: BP1_20, dtype: int64

In [97]:
df_copy.BP1_21.value_counts()

2.0    19690
1.0      173
9.0       93
Name: BP1_21, dtype: int64

In [98]:
df_copy.BP1_21.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_21.value_counts().astype('int64')

2     19690
1       173
99       93
Name: BP1_21, dtype: int64

In [99]:
df_copy.BP1_22.value_counts()

2.0    119
1.0     54
Name: BP1_22, dtype: int64

In [100]:
df_copy.BP1_22.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_22.value_counts().astype('int64')

2    119
1     54
Name: BP1_22, dtype: int64

In [101]:
df_copy.BP1_23.value_counts()

4.0     12705
6.0      6344
3.0      5229
7.0      4465
9.0      3375
5.0      2878
1.0      2360
8.0      1729
99.0      202
2.0       201
Name: BP1_23, dtype: int64

In [102]:
df_copy.BP1_23.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'9',99.0:'99'}, inplace=True)
df_copy.BP1_23.value_counts().astype('int64')

4     12705
6      6344
3      5229
7      4465
9      3375
5      2878
1      2360
8      1729
99      202
2       201
Name: BP1_23, dtype: int64

In [103]:
df_copy.BP1_24.value_counts()

1.0    3349
2.0    1497
9.0     246
Name: BP1_24, dtype: int64

In [104]:
df_copy.BP1_24.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_24.value_counts().astype('int64')

1     3349
2     1497
99     246
Name: BP1_24, dtype: int64

In [105]:
df_copy.BP1_25.value_counts()

5.0    1729
2.0     685
3.0     439
4.0     258
6.0      96
1.0      93
9.0      49
Name: BP1_25, dtype: int64

In [106]:
df_copy.BP1_25.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_25.value_counts().astype('int64')

5     1729
2      685
3      439
4      258
6       96
1       93
99      49
Name: BP1_25, dtype: int64

In [107]:
df_copy.BP1_26.value_counts()

4.0    481
2.0    427
6.0    164
3.0    156
1.0    137
9.0     94
5.0     38
Name: BP1_26, dtype: int64

In [108]:
df_copy.BP1_26.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_26.value_counts().astype('int64')

4     481
2     427
6     164
3     156
1     137
99     94
5      38
Name: BP1_26, dtype: int64

In [109]:
df_copy.BP1_27.value_counts()

2.0    1888
4.0    1318
3.0     975
1.0     910
9.0       1
Name: BP1_27, dtype: int64

In [110]:
df_copy.BP1_27.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',9.0:'99'}, inplace=True)
df_copy.BP1_27.value_counts().astype('int64')

2     1888
4     1318
3      975
1      910
99       1
Name: BP1_27, dtype: int64

In [111]:
df_copy.BP1_28.value_counts()

3.0    1875
2.0    1550
5.0     551
4.0     513
6.0     338
1.0     257
9.0       8
Name: BP1_28, dtype: int64

In [112]:
df_copy.BP1_28.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_28.value_counts().astype('int64')

3     1875
2     1550
5      551
4      513
6      338
1      257
99       8
Name: BP1_28, dtype: int64

In [113]:
df_copy.BP1_29.value_counts()

2.0    2415
3.0    1413
4.0     919
1.0     345
Name: BP1_29, dtype: int64

In [114]:
df_copy.BP1_29.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4'}, inplace=True)
df_copy.BP1_29.value_counts().astype('int64')

2    2415
3    1413
4     919
1     345
Name: BP1_29, dtype: int64

In [115]:
df_copy.BP1_30.value_counts()

2    41256
1     3443
Name: BP1_30, dtype: int64

In [116]:
df_copy.BP1_31_1.value_counts()

0.0    3155
1.0     288
Name: BP1_31_1, dtype: int64

In [117]:
df_copy.BP1_31_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_1.value_counts().astype('int64')

0    3155
1     288
Name: BP1_31_1, dtype: int64

In [118]:
df_copy.BP1_31_2.value_counts()

0.0    1723
1.0    1720
Name: BP1_31_2, dtype: int64

In [119]:
df_copy.BP1_31_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_2.value_counts().astype('int64')

0    1723
1    1720
Name: BP1_31_2, dtype: int64

In [120]:
df_copy.BP1_31_3.value_counts()

0.0    3386
1.0      57
Name: BP1_31_3, dtype: int64

In [121]:
df_copy.BP1_31_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_3.value_counts().astype('int64')

0    3386
1      57
Name: BP1_31_3, dtype: int64

In [122]:
df_copy.BP1_31_4.value_counts()

0.0    2907
1.0     536
Name: BP1_31_4, dtype: int64

In [123]:
df_copy.BP1_31_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_4.value_counts().astype('int64')

0    2907
1     536
Name: BP1_31_4, dtype: int64

In [124]:
df_copy.BP1_31_5.value_counts()

0.0    3253
1.0     190
Name: BP1_31_5, dtype: int64

In [125]:
df_copy.BP1_31_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_5.value_counts().astype('int64')

0    3253
1     190
Name: BP1_31_5, dtype: int64

In [126]:
df_copy.BP1_31_6.value_counts()

0.0    3352
1.0      91
Name: BP1_31_6, dtype: int64

In [127]:
df_copy.BP1_31_6.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_6.value_counts().astype('int64')

0    3352
1      91
Name: BP1_31_6, dtype: int64

In [128]:
df_copy.BP1_31_7.value_counts()

0.0    3336
1.0     107
Name: BP1_31_7, dtype: int64

In [129]:
df_copy.BP1_31_7.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_7.value_counts().astype('int64')

0    3336
1     107
Name: BP1_31_7, dtype: int64

In [130]:
df_copy.BP1_31_8.value_counts()

0.0    3132
1.0     311
Name: BP1_31_8, dtype: int64

In [131]:
df_copy.BP1_31_8.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_8.value_counts().astype('int64')

0    3132
1     311
Name: BP1_31_8, dtype: int64

In [132]:
df_copy.BP1_31_9.value_counts()

0.0    3185
1.0     258
Name: BP1_31_9, dtype: int64

In [133]:
df_copy.BP1_31_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_9.value_counts().astype('int64')

0    3185
1     258
Name: BP1_31_9, dtype: int64

In [134]:
df_copy.BP1_33.value_counts()

1    26362
5     8790
3     8074
2     1161
4      195
9      117
Name: BP1_33, dtype: int64

In [135]:
df_copy.BP1_33.replace({9:99}, inplace=True)
df_copy.BP1_33.value_counts().astype('int64')

1     26362
5      8790
3      8074
2      1161
4       195
99      117
Name: BP1_33, dtype: int64

In [136]:
df_copy.BP1_34.value_counts().astype('int64')
#Pendiente

0.0          8050
1000.0       2274
2000.0       2100
3000.0       1776
500.0        1738
1500.0       1430
5000.0       1320
300.0        1276
200.0        1192
4000.0        864
800.0         823
100.0         733
600.0         698
10000.0       695
1200.0        656
9999999.0     635
2500.0        631
400.0         587
6000.0        528
700.0         443
7000.0        429
15000.0       423
20000.0       399
8000.0        391
3500.0        291
30000.0       286
150.0         239
1800.0        205
12000.0       198
900.0         183
             ...
2514.0          1
560.0           1
590.0           1
18500.0         1
153500.0        1
7300.0          1
1560.0          1
12050.0         1
3850.0          1
137000.0        1
190.0           1
225.0           1
27500.0         1
44000.0         1
2230.0          1
46000.0         1
245.0           1
1160.0          1
7.0             1
73.0            1
12600.0         1
640.0           1
800000.0        1
787.0           1
375.0           1
15600.0         1
234000.0        1
17500.0         1
1680.0          1
526.0           1
Name: BP1_34, Length: 404, dtype: int64

In [137]:
l=[]
for i in df_copy.BP1_34:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_34 = l
df_copy.BP1_34.value_counts()

nan        8907
0          8050
1000       2274
2000       2100
3000       1776
500        1738
1500       1430
5000       1320
300        1276
200        1192
4000        864
800         823
100         733
600         698
10000       695
1200        656
9999999     635
2500        631
400         587
6000        528
700         443
7000        429
15000       423
20000       399
8000        391
3500        291
30000       286
150         239
1800        205
12000       198
           ...
220000        1
15600         1
892           1
85            1
10400         1
46000         1
190000        1
2350          1
520           1
6200          1
16500         1
870           1
440           1
4000000       1
700000        1
12800         1
89            1
12200         1
850000        1
275           1
780           1
360000        1
437           1
59000         1
56            1
53000         1
8400          1
2230          1
675           1
4             1
Name: BP1_34, Length: 405, dtype: int64

In [138]:
df_copy.BP1_35.value_counts()
#Pendiente

0.0          33462
9999999.0      281
1000.0         218
500.0          211
2000.0         156
3000.0         133
300.0          115
5000.0         100
200.0           97
1500.0          89
600.0           73
100.0           72
10000.0         61
800.0           55
6000.0          53
4000.0          52
400.0           46
2500.0          39
20000.0         35
700.0           34
1200.0          29
150.0           25
30000.0         23
15000.0         21
8000.0          17
50.0            17
350.0           17
7000.0          16
50000.0         13
250.0           13
             ...
225.0            1
36000.0          1
165000.0         1
65000.0          1
380.0            1
3200.0           1
400000.0         1
85.0             1
12.0             1
3100.0           1
1300.0           1
2900.0           1
1350.0           1
480.0            1
85000.0          1
17000.0          1
4300.0           1
240.0            1
1400.0           1
1570.0           1
168000.0         1
179.0            1
20.0             1
160.0            1
370.0            1
1250.0           1
1995.0           1
2100.0           1
360.0            1
55.0             1
Name: BP1_35, Length: 112, dtype: int64

In [139]:
l=[]
for i in df_copy.BP1_35:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_35 = l
df_copy.BP1_35.value_counts()

0          33462
nan         8907
9999999      281
1000         218
500          211
2000         156
3000         133
300          115
5000         100
200           97
1500          89
600           73
100           72
10000         61
800           55
6000          53
4000          52
400           46
2500          39
20000         35
700           34
1200          29
150           25
30000         23
15000         21
8000          17
350           17
50            17
7000          16
50000         13
           ...
7580           1
2900           1
2100           1
3100           1
370            1
240            1
179            1
17000          1
24000          1
480            1
85000          1
380            1
168000         1
36000          1
1300           1
3200           1
10             1
1350           1
160            1
65000          1
165000         1
12             1
1570           1
400000         1
1995           1
20             1
4300           1
80000          1
35000          1
85             1
Name: BP1_35, Length: 113, dtype: int64

In [140]:
df_copy.BP1_36_01.value_counts()

0.0    16074
1.0     7419
Name: BP1_36_01, dtype: int64

In [141]:
df_copy.BP1_36_01.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_01.value_counts().astype('int64')

0    16074
1     7419
Name: BP1_36_01, dtype: int64

In [142]:
df_copy.BP1_36_02.value_counts()

0.0    17041
1.0     6452
Name: BP1_36_02, dtype: int64

In [143]:
df_copy.BP1_36_02.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_02.value_counts().astype('int64')

0    17041
1     6452
Name: BP1_36_02, dtype: int64

In [144]:
df_copy.BP1_36_03.value_counts()

0.0    14562
1.0     8931
Name: BP1_36_03, dtype: int64

In [145]:
df_copy.BP1_36_03.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_03.value_counts().astype('int64')

0    14562
1     8931
Name: BP1_36_03, dtype: int64

In [146]:
df_copy.BP1_36_04.value_counts()

0.0    14408
1.0     9085
Name: BP1_36_04, dtype: int64

In [147]:
df_copy.BP1_36_04.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_04.value_counts().astype('int64')

0    14408
1     9085
Name: BP1_36_04, dtype: int64

In [148]:
df_copy.BP1_36_05.value_counts()

0.0    21403
1.0     2090
Name: BP1_36_05, dtype: int64

In [149]:
df_copy.BP1_36_05.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_05.value_counts().astype('int64')

0    21403
1     2090
Name: BP1_36_05, dtype: int64

In [150]:
df_copy.BP1_36_06.value_counts()

0.0    18658
1.0     4835
Name: BP1_36_06, dtype: int64

In [151]:
df_copy.BP1_36_06.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_06.value_counts().astype('int64')

0    18658
1     4835
Name: BP1_36_06, dtype: int64

In [152]:
df_copy.BP1_36_07.value_counts()

0.0    19720
1.0     3773
Name: BP1_36_07, dtype: int64

In [153]:
df_copy.BP1_36_07.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_07.value_counts().astype('int64')

0    19720
1     3773
Name: BP1_36_07, dtype: int64

In [154]:
df_copy.BP1_36_08.value_counts()

0.0    14252
1.0     9241
Name: BP1_36_08, dtype: int64

In [155]:
df_copy.BP1_36_08.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_08.value_counts().astype('int64')

0    14252
1     9241
Name: BP1_36_08, dtype: int64

In [156]:
df_copy.BP1_36_09.value_counts()

0.0    11793
1.0    11700
Name: BP1_36_09, dtype: int64

In [157]:
df_copy.BP1_36_09.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_09.value_counts().astype('int64')

0    11793
1    11700
Name: BP1_36_09, dtype: int64

In [158]:
df_copy.BP1_36_10.value_counts()

0.0    23193
1.0      300
Name: BP1_36_10, dtype: int64

In [159]:
df_copy.BP1_36_10.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_10.value_counts().astype('int64')

0    23193
1      300
Name: BP1_36_10, dtype: int64

In [160]:
df_copy.BP1_36_11.value_counts()

0.0    22945
1.0      548
Name: BP1_36_11, dtype: int64

In [161]:
df_copy.BP1_36_11.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_11.value_counts().astype('int64')

0    22945
1      548
Name: BP1_36_11, dtype: int64

In [162]:
df_copy.BP1_36_99.value_counts()

0.0    23374
1.0      119
Name: BP1_36_99, dtype: int64

In [163]:
df_copy.BP1_36_99.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_99.value_counts().astype('int64')

0    23374
1      119
Name: BP1_36_99, dtype: int64

In [164]:
df_copy.BP2_1.value_counts()

2.0    822
1.0    300
9.0      9
Name: BP2_1, dtype: int64

In [165]:
df_copy.BP2_1.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP2_1.value_counts().astype('int64')

2     822
1     300
99      9
Name: BP2_1, dtype: int64

In [166]:
df_copy.BP3_1_01.value_counts()

0.0    12174
1.0      316
Name: BP3_1_01, dtype: int64

In [167]:
df_copy.BP3_1_01.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_01.value_counts().astype('int64')

0    12174
1      316
Name: BP3_1_01, dtype: int64

In [168]:
df_copy.BP3_1_02.value_counts()

0.0    12042
1.0      448
Name: BP3_1_02, dtype: int64

In [169]:
df_copy.BP3_1_02.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_02.value_counts().astype('int64')

0    12042
1      448
Name: BP3_1_02, dtype: int64

In [170]:
df_copy.BP3_1_03.value_counts()

0.0    10695
1.0     1795
Name: BP3_1_03, dtype: int64

In [171]:
df_copy.BP3_1_03.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_03.value_counts().astype('int64')

0    10695
1     1795
Name: BP3_1_03, dtype: int64

In [172]:
df_copy.BP3_1_04.value_counts()

0.0    11646
1.0      844
Name: BP3_1_04, dtype: int64

In [173]:
df_copy.BP3_1_04.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_04.value_counts().astype('int64')

0    11646
1      844
Name: BP3_1_04, dtype: int64

In [174]:
df_copy.BP3_1_05.value_counts()

0.0    11604
1.0      886
Name: BP3_1_05, dtype: int64

In [175]:
df_copy.BP3_1_05.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_05.value_counts().astype('int64')

0    11604
1      886
Name: BP3_1_05, dtype: int64

In [176]:
df_copy.BP3_1_06.value_counts()

0.0    11080
1.0     1410
Name: BP3_1_06, dtype: int64

In [177]:
df_copy.BP3_1_06.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_06.value_counts().astype('int64')

0    11080
1     1410
Name: BP3_1_06, dtype: int64

In [178]:
df_copy.BP3_1_07.value_counts()

0.0    7614
1.0    4876
Name: BP3_1_07, dtype: int64

In [179]:
df_copy.BP3_1_07.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_07.value_counts().astype('int64')

0    7614
1    4876
Name: BP3_1_07, dtype: int64

In [180]:
df_copy.BP3_1_08.value_counts()

0.0    11668
1.0      822
Name: BP3_1_08, dtype: int64

In [181]:
df_copy.BP3_1_08.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_08.value_counts().astype('int64')

0    11668
1      822
Name: BP3_1_08, dtype: int64

In [182]:
df_copy.BP3_1_09.value_counts()

0.0    9814
1.0    2676
Name: BP3_1_09, dtype: int64

In [183]:
df_copy.BP3_1_09.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_09.value_counts().astype('int64')

0    9814
1    2676
Name: BP3_1_09, dtype: int64

In [184]:
df_copy.BP3_1_10.value_counts()

0.0    11994
1.0      496
Name: BP3_1_10, dtype: int64

In [185]:
df_copy.BP3_1_10.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_10.value_counts().astype('int64')

0    11994
1      496
Name: BP3_1_10, dtype: int64

In [186]:
df_copy.BP3_1_11.value_counts()

0.0    9258
1.0    3232
Name: BP3_1_11, dtype: int64

In [187]:
df_copy.BP3_1_11.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_11.value_counts().astype('int64')

0    9258
1    3232
Name: BP3_1_11, dtype: int64

In [188]:
df_copy.BP3_1_99.value_counts()

0.0    11820
1.0      670
Name: BP3_1_99, dtype: int64

In [189]:
df_copy.BP3_1_99.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_99.value_counts().astype('int64')

0    11820
1      670
Name: BP3_1_99, dtype: int64

In [190]:
df_copy.BP3_2.value_counts()

2.0    3545
1.0    2061
9.0      45
Name: BP3_2, dtype: int64

In [191]:
df_copy.BP3_2.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP3_2.value_counts().astype('int64')

2     3545
1     2061
99      45
Name: BP3_2, dtype: int64

In [192]:
df_copy.BP4_1.value_counts()

1.0    1798
4.0    1079
3.0     236
5.0      55
6.0      34
9.0      19
2.0      17
Name: BP4_1, dtype: int64

In [193]:
df_copy.BP4_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP4_1.value_counts().astype('int64')

1     1798
4     1079
3      236
5       55
6       34
99      19
2       17
Name: BP4_1, dtype: int64

In [194]:
df_copy.BP5_1.value_counts()

1.0    6671
4.0     192
7.0      94
5.0      66
2.0      34
9.0      22
6.0      17
3.0      17
Name: BP5_1, dtype: int64

In [195]:
df_copy.BP5_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_1.value_counts().astype('int64')

1     6671
4      192
7       94
5       66
2       34
99      22
3       17
6       17
Name: BP5_1, dtype: int64

In [196]:
df_copy.BP5_2_1.value_counts()

1.0    5022
0.0    2091
Name: BP5_2_1, dtype: int64

In [197]:
df_copy.BP5_2_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_1.value_counts().astype('int64')

1    5022
0    2091
Name: BP5_2_1, dtype: int64

In [198]:
df_copy.BP5_2_2.value_counts()

0.0    6905
1.0     208
Name: BP5_2_2, dtype: int64

In [199]:
df_copy.BP5_2_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_2.value_counts().astype('int64')

0    6905
1     208
Name: BP5_2_2, dtype: int64

In [200]:
df_copy.BP5_2_3.value_counts()

0.0    6831
1.0     282
Name: BP5_2_3, dtype: int64

In [201]:
df_copy.BP5_2_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_3.value_counts().astype('int64')

0    6831
1     282
Name: BP5_2_3, dtype: int64

In [202]:
df_copy.BP5_2_4.value_counts()

0.0    5433
1.0    1680
Name: BP5_2_4, dtype: int64

In [203]:
df_copy.BP5_2_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_4.value_counts().astype('int64')

0    5433
1    1680
Name: BP5_2_4, dtype: int64

In [204]:
df_copy.BP5_3.value_counts()

3.0    5020
1.0     277
2.0     129
9.0       7
Name: BP5_3, dtype: int64

In [205]:
df_copy.BP5_3.replace({1.0:'1',2.0:'2',3.0:'3',9.0:'99'}, inplace=True)
df_copy.BP5_3.value_counts().astype('int64')

3     5020
1      277
2      129
99       7
Name: BP5_3, dtype: int64

In [206]:
df_copy.BP6_1.value_counts()

9.0    30
2.0    29
1.0    22
Name: BP6_1, dtype: int64

In [207]:
df_copy.BP6_1.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP6_1.value_counts().astype('int64')

99    30
2     29
1     22
Name: BP6_1, dtype: int64

In [208]:
df_copy.BP6_2.value_counts()

1.0    35
3.0    26
9.0    13
2.0     7
Name: BP6_2, dtype: int64

In [209]:
df_copy.BP6_2.replace({1.0:'1',2.0:'2',3.0:'3',9.0:'99'}, inplace=True)
df_copy.BP6_2.value_counts().astype('int64')

1     35
3     26
99    13
2      7
Name: BP6_2, dtype: int64

In [210]:
df_copy.BP7_1.value_counts()

2.0    257
3.0    149
4.0     79
1.0     58
9.0      9
Name: BP7_1, dtype: int64

In [211]:
df_copy.BP7_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',9.0:'99'}, inplace=True)
df_copy.BP7_1.value_counts().astype('int64')

2     257
3     149
4      79
1      58
99      9
Name: BP7_1, dtype: int64

In [212]:
df_copy.FAC_DEL.value_counts()

195     157
388     144
194     144
198     134
73      132
360     132
190     132
410     127
180     125
376     124
394     124
185     124
372     124
392     122
174     121
390     119
200     115
188     114
186     113
217     113
356     111
209     110
172     110
332     110
396     110
218     109
199     109
216     108
210     108
344     107
       ...
8465      1
7205      1
998       1
4964      1
725       1
5924      1
4566      1
5988      1
6532      1
3378      1
2630      1
1363      1
7536      1
3506      1
4581      1
2502      1
6596      1
3602      1
7888      1
6020      1
1747      1
3858      1
1971      1
2214      1
6167      1
2165      1
4278      1
2022      1
1990      1
2049      1
Name: FAC_DEL, Length: 2967, dtype: int64

In [213]:
df_copy.EST_DIS.value_counts()

104    1332
13      915
212     829
12      773
97      707
120     692
105     692
205     677
151     669
165     669
60      655
61      585
152     536
5       526
14      511
68      504
16      491
136     472
57      472
229     465
28      456
193     453
182     443
159     437
108     431
117     422
147     414
75      411
76      403
85      403
       ...
19       23
201      22
187      21
210      18
188      18
202      17
204      15
145      15
27       15
186      15
55       15
59       12
142      12
66       11
93       11
168      11
134      11
11       11
9         9
54        9
39        9
74        6
133       5
95        5
132       5
33        4
84        3
112       3
180       2
220       2
Name: EST_DIS, Length: 238, dtype: int64

In [214]:
df_copy.UPM_DIS.value_counts()

4336     39
6175     37
5497     35
770      33
4352     32
2463     32
4337     31
7132     30
9139     30
772      29
10571    29
5012     28
275      28
9106     27
714      27
6173     27
4130     27
732      27
4325     26
5887     25
8012     25
571      25
6163     25
1031     24
4096     24
4289     24
11479    24
5463     24
4063     24
5162     24
         ..
11094     1
9047      1
8102      1
7120      1
7152      1
3940      1
10081     1
9271      1
3186      1
11414     1
7376      1
8919      1
2770      1
4817      1
10742     1
211       1
6373      1
2482      1
4561      1
2183      1
499       1
10774     1
10275     1
4657      1
10339     1
8759      1
6768      1
10902     1
8887      1
1711      1
Name: UPM_DIS, Length: 9840, dtype: int64

In [215]:
df_copy.DOMINIO.value_counts()

U    30364
C     9855
R     4480
Name: DOMINIO, dtype: int64

In [216]:
df_copy.ESTRATO.value_counts()

2    22800
3    12643
4     5711
1     3545
Name: ESTRATO, dtype: int64

In [218]:
df_copy.FAC_DEL_AM.value_counts()

0       20696
192       116
187        91
188        88
196        86
190        82
206        80
199        78
191        77
326        74
205        73
209        73
186        73
398        72
184        71
410        71
446        71
444        70
216        69
180        69
189        68
210        67
200        67
213        66
202        66
182        65
214        65
197        65
378        63
228        63
        ...
3000        1
985         1
2852        1
3160        1
1995        1
76          1
4374        1
3256        1
7206        1
5223        1
3652        1
9345        1
1573        1
3620        1
1509        1
1451        1
1413        1
2904        1
3396        1
5415        1
3530        1
7656        1
1253        1
3626        1
5319        1
1221        1
3268        1
2517        1
3236        1
1983        1
Name: FAC_DEL_AM, Length: 2649, dtype: int64

In [219]:
df_copy.to_csv('2015.csv')