In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2013/tmod_vic2013.csv'

In [3]:
df = pd.read_csv(df_,low_memory = False)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

1     7925
3     7875
2     7739
5     7658
4     7479
6      599
7      594
9      584
10     567
8      566
11     552
13     525
16     508
18     493
12     484
17     463
19     445
20     430
14     417
15     416
21      67
22      60
35      59
25      55
33      51
28      51
26      47
29      41
31      38
40      38
27      36
30      35
23      32
37      31
39      28
38      28
24      28
34      24
32      21
36      17
41       6
42       3
43       1
44       1
Name: VIV_SEL, dtype: int64

In [5]:
df_copy.HOGAR.value_counts()

1    46287
2      695
3      107
4       24
5        4
Name: HOGAR, dtype: int64

In [6]:
df_copy.ND_TIPO.value_counts()

1    35297
2     7730
3     2613
4      948
5      521
6        5
9        1
8        1
7        1
Name: ND_TIPO, dtype: int64

In [7]:
df_copy.TD_TIPO.value_counts()

1    27567
2    10234
3     4995
5     2580
4     1708
6       24
9        9
Name: TD_TIPO, dtype: int64

In [8]:
df_copy.BPCOD.value_counts()

3     9857
2     8726
9     6388
4     6266
5     5821
10    3038
8     1707
1     1588
7     1551
11    1012
13     485
6      434
12      82
15      81
14      81
Name: BPCOD, dtype: int64

In [9]:
df_copy.R_SEL.value_counts()

1     22719
2     14963
3      5710
4      2373
5       805
6       340
7       129
8        44
9        20
10        9
12        2
11        2
17        1
Name: R_SEL, dtype: int64

In [10]:
df_copy.RESUL_H.value_counts()

A    47117
Name: RESUL_H, dtype: int64

In [11]:
df_copy.BP1_1.value_counts()

12    5482
11    4713
2     4094
3     4015
6     3943
8     3601
5     3563
10    3434
7     3404
9     3246
1     3118
4     2789
99    1715
Name: BP1_1, dtype: int64

In [12]:
df_copy.BP1_2C.value_counts()

14    2671
21    2626
15    2363
16    2086
25    1933
2     1930
22    1747
11    1638
3     1625
19    1602
8     1589
13    1523
9     1515
23    1468
30    1458
17    1449
20    1446
12    1410
31    1318
6     1300
26    1299
10    1279
7     1276
1     1234
27    1202
4     1116
24    1092
28    1009
5      753
29     753
18     704
32     682
99      21
Name: BP1_2C, dtype: int64

In [13]:
df_copy.BP1_3C.value_counts()

1      2992
2      2462
5      2422
114    2138
4      2117
39     2105
3      1880
6      1835
14     1624
53     1587
30     1488
7      1305
19     1286
20     1191
48     1166
50     1018
67     1000
28      942
101     839
11      692
120     652
17      628
10      627
193     624
8       600
106     595
33      539
9       508
38      434
57      413
       ...
159       2
447       2
113       2
392       2
452       2
232       2
419       1
161       1
144       1
202       1
145       1
192       1
416       1
207       1
178       1
338       1
427       1
301       1
147       1
163       1
142       1
88        1
340       1
468       1
310       1
500       1
201       1
397       1
137       1
551       1
Name: BP1_3C, Length: 219, dtype: int64

In [14]:
df_copy.BP1_4.value_counts()

2    13532
3    12946
4    10339
1     8605
9     1695
Name: BP1_4, dtype: int64

In [15]:
df_copy.BP1_4.replace({9:99}, inplace=True)

In [16]:
df_copy.BP1_4.value_counts()

2     13532
3     12946
4     10339
1      8605
99     1695
Name: BP1_4, dtype: int64

In [17]:
df_copy.BP1_5.value_counts()

2    22517
1    16352
4     2588
3     1910
5     1394
6     1228
8      652
9      242
7      234
Name: BP1_5, dtype: int64

In [18]:
df_copy.BP1_5.replace({9:99}, inplace=True)

In [19]:
df_copy.BP1_5.value_counts()

2     22517
1     16352
4      2588
3      1910
5      1394
6      1228
8       652
99      242
7       234
Name: BP1_5, dtype: int64

In [20]:
df_copy.BP1_6.value_counts()

1.0    19500
2.0    14502
Name: BP1_6, dtype: int64

In [21]:
df_copy.BP1_6.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_6.value_counts()

1    19500
2    14502
Name: BP1_6, dtype: int64

In [22]:
df_copy.BP1_7.value_counts()

1.0    15191
2.0     4309
Name: BP1_7, dtype: int64

In [23]:
df_copy.BP1_7.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_7.value_counts()

1    15191
2     4309
Name: BP1_7, dtype: int64

In [24]:
df_copy.BP1_8.value_counts()

2.0    7690
1.0    7374
9.0     127
Name: BP1_8, dtype: int64

In [25]:
df_copy.BP1_8.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_8.value_counts()

2     7690
1     7374
99     127
Name: BP1_8, dtype: int64

In [26]:
df_copy.BP1_9.value_counts()

1.0    7427
2.0    4056
3.0    1646
9.0     669
4.0     627
6.0     514
5.0     252
Name: BP1_9, dtype: int64

In [27]:
df_copy.BP1_9.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_9.value_counts()

1     7427
2     4056
3     1646
99     669
4      627
6      514
5      252
Name: BP1_9, dtype: int64

In [28]:
df_copy.BP1_10_1.value_counts()

1.0    13782
0.0     1409
Name: BP1_10_1, dtype: int64

In [29]:
df_copy.BP1_10_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_1.value_counts()

1    13782
0     1409
Name: BP1_10_1, dtype: int64

In [30]:
df_copy.BP1_10_2.value_counts()

0.0    13416
1.0     1775
Name: BP1_10_2, dtype: int64

In [31]:
df_copy.BP1_10_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_2.value_counts()

0    13416
1     1775
Name: BP1_10_2, dtype: int64

In [32]:
df_copy.BP1_10_9.value_counts()

0.0    14699
1.0      492
Name: BP1_10_9, dtype: int64

In [33]:
df_copy.BP1_10_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_9.value_counts()

0    14699
1      492
Name: BP1_10_9, dtype: int64

In [34]:
df_copy.BP1_11.value_counts()

4.0    4571
3.0    4164
5.0    2462
9.0    1884
8.0     825
6.0     722
2.0     459
7.0      84
1.0      20
Name: BP1_11, dtype: int64

In [35]:
df_copy.BP1_11.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99'}, inplace=True)
df_copy.BP1_11.value_counts()

4     4571
3     4164
5     2462
99    1884
8      825
6      722
2      459
7       84
1       20
Name: BP1_11, dtype: int64

In [36]:
df_copy.BP1_12_1.value_counts()

1.0    11367
0.0     3824
Name: BP1_12_1, dtype: int64

In [37]:
df_copy.BP1_12_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_1.value_counts()

1    11367
0     3824
Name: BP1_12_1, dtype: int64

In [38]:
df_copy.BP1_12_2.value_counts()

0.0    13649
1.0     1542
Name: BP1_12_2, dtype: int64

In [39]:
df_copy.BP1_12_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_2.value_counts()

0    13649
1     1542
Name: BP1_12_2, dtype: int64

In [40]:
df_copy.BP1_12_3.value_counts()

0.0    14339
1.0      852
Name: BP1_12_3, dtype: int64

In [41]:
df_copy.BP1_12_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_3.value_counts()

0    14339
1      852
Name: BP1_12_3, dtype: int64

In [42]:
df_copy.BP1_12_4.value_counts()

0.0    14509
1.0      682
Name: BP1_12_4, dtype: int64

In [43]:
df_copy.BP1_12_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_4.value_counts()

0    14509
1      682
Name: BP1_12_4, dtype: int64

In [44]:
df_copy.BP1_12_5.value_counts()

0.0    14796
1.0      395
Name: BP1_12_5, dtype: int64

In [45]:
df_copy.BP1_12_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_5.value_counts()

0    14796
1      395
Name: BP1_12_5, dtype: int64

In [46]:
df_copy.BP1_12_9.value_counts()

0.0    14713
1.0      478
Name: BP1_12_9, dtype: int64

In [47]:
df_copy.BP1_12_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_9.value_counts()

0    14713
1      478
Name: BP1_12_9, dtype: int64

In [48]:
df_copy.BP1_13.value_counts()

2.0    8664
1.0    2703
Name: BP1_13, dtype: int64

In [49]:
df_copy.BP1_13.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_13.value_counts()

2    8664
1    2703
Name: BP1_13, dtype: int64

In [50]:
df_copy.BP1_14_1.value_counts()

0.0    12402
1.0     2789
Name: BP1_14_1, dtype: int64

In [51]:
df_copy.BP1_14_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_1.value_counts()

0    12402
1     2789
Name: BP1_14_1, dtype: int64

In [52]:
df_copy.BP1_14_2.value_counts()

0.0    13281
1.0     1910
Name: BP1_14_2, dtype: int64

In [53]:
df_copy.BP1_14_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_2.value_counts()

0    13281
1     1910
Name: BP1_14_2, dtype: int64

In [54]:
df_copy.BP1_14_3.value_counts()

0.0    15172
1.0       19
Name: BP1_14_3, dtype: int64

In [55]:
df_copy.BP1_14_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_3.value_counts()

0    15172
1       19
Name: BP1_14_3, dtype: int64

In [56]:
df_copy.BP1_14_4.value_counts()

1.0    7699
0.0    7492
Name: BP1_14_4, dtype: int64

In [57]:
df_copy.BP1_14_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_4.value_counts()

1    7699
0    7492
Name: BP1_14_4, dtype: int64

In [58]:
df_copy.BP1_14_9.value_counts()

0.0    11852
1.0     3339
Name: BP1_14_9, dtype: int64

In [59]:
df_copy.BP1_14_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_9.value_counts()

0    11852
1     3339
Name: BP1_14_9, dtype: int64

In [60]:
df_copy.BP1_15.value_counts()

2.0    6956
1.0    5474
9.0    2761
Name: BP1_15, dtype: int64

In [61]:
df_copy.BP1_15.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_15.value_counts()

2     6956
1     5474
99    2761
Name: BP1_15, dtype: int64

In [62]:
df_copy.BP1_16_1.value_counts()

1.0    3112
0.0    2362
Name: BP1_16_1, dtype: int64

In [63]:
df_copy.BP1_16_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_1.value_counts()

1    3112
0    2362
Name: BP1_16_1, dtype: int64

In [64]:
df_copy.BP1_16_2.value_counts()

0.0    3011
1.0    2463
Name: BP1_16_2, dtype: int64

In [65]:
df_copy.BP1_16_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_2.value_counts()

0    3011
1    2463
Name: BP1_16_2, dtype: int64

In [66]:
df_copy.BP1_16_3.value_counts()

0.0    5237
1.0     237
Name: BP1_16_3, dtype: int64

In [67]:
df_copy.BP1_16_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_3.value_counts()

0    5237
1     237
Name: BP1_16_3, dtype: int64

In [68]:
df_copy.BP1_16_4.value_counts()

0.0    5419
1.0      55
Name: BP1_16_4, dtype: int64

In [69]:
df_copy.BP1_16_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_4.value_counts()

0    5419
1      55
Name: BP1_16_4, dtype: int64

In [70]:
df_copy.BP1_16_9.value_counts()

0.0    5448
1.0      26
Name: BP1_16_9, dtype: int64

In [71]:
df_copy.BP1_16_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_9.value_counts()

0    5448
1      26
Name: BP1_16_9, dtype: int64

In [72]:
df_copy.BP1_17.value_counts()

2.0    4749
1.0     722
9.0       3
Name: BP1_17, dtype: int64

In [73]:
df_copy.BP1_17.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_17.value_counts()

2     4749
1      722
99       3
Name: BP1_17, dtype: int64

In [74]:
df_copy.BP1_18.value_counts()

2.0    11727
1.0     2107
9.0      635
Name: BP1_18, dtype: int64

In [75]:
df_copy.BP1_18.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_18.value_counts()

2     11727
1      2107
99      635
Name: BP1_18, dtype: int64

In [76]:
df_copy.BP1_19_1.value_counts()

1.0    2022
0.0     807
Name: BP1_19_1, dtype: int64

In [77]:
df_copy.BP1_19_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_1.value_counts()

1    2022
0     807
Name: BP1_19_1, dtype: int64

In [78]:
df_copy.BP1_19_2.value_counts()

0.0    2296
1.0     533
Name: BP1_19_2, dtype: int64

In [79]:
df_copy.BP1_19_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_2.value_counts()

0    2296
1     533
Name: BP1_19_2, dtype: int64

In [80]:
df_copy.BP1_19_3.value_counts()

0.0    2731
1.0      98
Name: BP1_19_3, dtype: int64

In [81]:
df_copy.BP1_19_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_3.value_counts()

0    2731
1      98
Name: BP1_19_3, dtype: int64

In [82]:
df_copy.BP1_19_4.value_counts()

0.0    2658
1.0     171
Name: BP1_19_4, dtype: int64

In [83]:
df_copy.BP1_19_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_4.value_counts()

0    2658
1     171
Name: BP1_19_4, dtype: int64

In [84]:
df_copy.BP1_19_5.value_counts()

0.0    2821
1.0       8
Name: BP1_19_5, dtype: int64

In [85]:
df_copy.BP1_19_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_5.value_counts()

0    2821
1       8
Name: BP1_19_5, dtype: int64

In [86]:
df_copy.BP1_19_6.value_counts()

0.0    2735
1.0      94
Name: BP1_19_6, dtype: int64

In [87]:
df_copy.BP1_19_6.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_6.value_counts()

0    2735
1      94
Name: BP1_19_6, dtype: int64

In [88]:
df_copy.BP1_19_7.value_counts()

0.0    2351
1.0     478
Name: BP1_19_7, dtype: int64

In [89]:
df_copy.BP1_19_7.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_7.value_counts()

0    2351
1     478
Name: BP1_19_7, dtype: int64

In [90]:
df_copy.BP1_20.value_counts()

2    41248
1     5869
Name: BP1_20, dtype: int64

In [91]:
df_copy.BP1_21.value_counts()

2.0    22117
9.0      636
1.0      162
Name: BP1_21, dtype: int64

In [92]:
df_copy.BP1_21.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_21.value_counts()

2     22117
99      636
1       162
Name: BP1_21, dtype: int64

In [93]:
df_copy.BP1_22.value_counts()

2.0    122
1.0     40
Name: BP1_22, dtype: int64

In [94]:
df_copy.BP1_22.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_22.value_counts()

2    122
1     40
Name: BP1_22, dtype: int64

In [95]:
df_copy.BP1_23.value_counts()

4.0     13861
6.0      6052
3.0      5226
7.0      4735
5.0      3618
9.0      2955
1.0      2655
8.0      1558
2.0       229
99.0      197
Name: BP1_23, dtype: int64

In [96]:
df_copy.BP1_23.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'9',99.0:'99'}, inplace=True)
df_copy.BP1_23.value_counts()

4     13861
6      6052
3      5226
7      4735
5      3618
9      2955
1      2655
8      1558
2       229
99      197
Name: BP1_23, dtype: int64

In [97]:
df_copy.BP1_24.value_counts()

1.0    4138
2.0    1537
9.0     234
Name: BP1_24, dtype: int64

In [98]:
df_copy.BP1_24.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_24.value_counts()

1     4138
2     1537
99     234
Name: BP1_24, dtype: int64

In [99]:
df_copy.BP1_25.value_counts()

5.0    2126
2.0     935
3.0     518
4.0     260
1.0     113
9.0     103
6.0      83
Name: BP1_25, dtype: int64

In [100]:
df_copy.BP1_25.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_25.value_counts()

5     2126
2      935
3      518
4      260
1      113
99     103
6       83
Name: BP1_25, dtype: int64

In [101]:
df_copy.BP1_26.value_counts()

4.0    560
2.0    444
9.0    245
1.0    179
6.0    149
3.0    137
5.0     57
Name: BP1_26, dtype: int64

In [102]:
df_copy.BP1_26.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_26.value_counts()

4     560
2     444
99    245
1     179
6     149
3     137
5      57
Name: BP1_26, dtype: int64

In [103]:
df_copy.BP1_27.value_counts()

2.0    1909
4.0    1589
3.0    1225
1.0    1186
Name: BP1_27, dtype: int64

In [104]:
df_copy.BP1_27.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_27.value_counts()

2    1909
4    1589
3    1225
1    1186
Name: BP1_27, dtype: int64

In [105]:
df_copy.BP1_28.value_counts()

3.0    2100
2.0    2099
4.0     581
5.0     547
1.0     297
6.0     247
9.0      38
Name: BP1_28, dtype: int64

In [106]:
df_copy.BP1_28.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_28.value_counts()

3     2100
2     2099
4      581
5      547
1      297
6      247
99      38
Name: BP1_28, dtype: int64

In [107]:
df_copy.BP1_29.value_counts()

2.0    2931
3.0    1640
4.0     997
1.0     341
Name: BP1_29, dtype: int64

In [108]:
df_copy.BP1_29.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_29.value_counts()

2    2931
3    1640
4     997
1     341
Name: BP1_29, dtype: int64

In [109]:
df_copy.BP1_30.value_counts()

2    43350
1     3767
Name: BP1_30, dtype: int64

In [110]:
df_copy.BP1_31_1.value_counts()

0.0    3589
1.0     178
Name: BP1_31_1, dtype: int64

In [111]:
df_copy.BP1_31_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_1.value_counts()

0    3589
1     178
Name: BP1_31_1, dtype: int64

In [112]:
df_copy.BP1_31_2.value_counts()

1.0    2029
0.0    1738
Name: BP1_31_2, dtype: int64

In [113]:
df_copy.BP1_31_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_2.value_counts()

1    2029
0    1738
Name: BP1_31_2, dtype: int64

In [114]:
df_copy.BP1_31_3.value_counts()

0.0    3653
1.0     114
Name: BP1_31_3, dtype: int64

In [115]:
df_copy.BP1_31_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_3.value_counts()

0    3653
1     114
Name: BP1_31_3, dtype: int64

In [116]:
df_copy.BP1_31_4.value_counts()

0.0    3402
1.0     365
Name: BP1_31_4, dtype: int64

In [117]:
df_copy.BP1_31_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_4.value_counts()

0    3402
1     365
Name: BP1_31_4, dtype: int64

In [118]:
df_copy.BP1_31_5.value_counts()

0.0    3543
1.0     224
Name: BP1_31_5, dtype: int64

In [119]:
df_copy.BP1_31_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_5.value_counts()

0    3543
1     224
Name: BP1_31_5, dtype: int64

In [120]:
df_copy.BP1_31_6.value_counts()

0.0    3612
1.0     155
Name: BP1_31_6, dtype: int64

In [121]:
df_copy.BP1_31_6.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_6.value_counts()

0    3612
1     155
Name: BP1_31_6, dtype: int64

In [122]:
df_copy.BP1_31_7.value_counts()

0.0    3632
1.0     135
Name: BP1_31_7, dtype: int64

In [123]:
df_copy.BP1_31_7.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_7.value_counts()

0    3632
1     135
Name: BP1_31_7, dtype: int64

In [124]:
df_copy.BP1_31_8.value_counts()

0.0    3310
1.0     457
Name: BP1_31_8, dtype: int64

In [125]:
df_copy.BP1_31_8.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_8.value_counts()

0    3310
1     457
Name: BP1_31_8, dtype: int64

In [126]:
df_copy.BP1_31_9.value_counts()

0.0    3481
1.0     286
Name: BP1_31_9, dtype: int64

In [127]:
df_copy.BP1_31_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_9.value_counts()

0    3481
1     286
Name: BP1_31_9, dtype: int64

In [128]:
df_copy.BP1_32_1.value_counts()

0.0    6149
1.0    2694
Name: BP1_32_1, dtype: int64

In [129]:
df_copy.BP1_32_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_1.value_counts()

0    6149
1    2694
Name: BP1_32_1, dtype: int64

In [130]:
df_copy.BP1_32_2.value_counts()

0.0    8759
1.0      84
Name: BP1_32_2, dtype: int64

In [131]:
df_copy.BP1_32_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_2.value_counts()

0    8759
1      84
Name: BP1_32_2, dtype: int64

In [132]:
df_copy.BP1_32_3.value_counts()

0.0    8792
1.0      51
Name: BP1_32_3, dtype: int64

In [133]:
df_copy.BP1_32_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_3.value_counts()

0    8792
1      51
Name: BP1_32_3, dtype: int64

In [134]:
df_copy.BP1_32_4.value_counts()

0.0    8805
1.0      38
Name: BP1_32_4, dtype: int64

In [135]:
df_copy.BP1_32_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_4.value_counts()

0    8805
1      38
Name: BP1_32_4, dtype: int64

In [136]:
df_copy.BP1_32_5.value_counts()

1.0    5958
0.0    2885
Name: BP1_32_5, dtype: int64

In [137]:
df_copy.BP1_32_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_5.value_counts()

1    5958
0    2885
Name: BP1_32_5, dtype: int64

In [138]:
df_copy.BP1_32_9.value_counts()

0.0    8750
1.0      93
Name: BP1_32_9, dtype: int64

In [139]:
df_copy.BP1_32_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_9.value_counts()

0    8750
1      93
Name: BP1_32_9, dtype: int64

In [140]:
df_copy.BP1_33.value_counts()

1    29561
3     8202
5     7734
2     1320
4      191
9      109
Name: BP1_33, dtype: int64

In [141]:
df_copy.BP1_33.replace({9:'99'}, inplace=True)
df_copy.BP1_33.value_counts()

1     29561
3      8202
5      7734
2      1320
4       191
99      109
Name: BP1_33, dtype: int64

In [142]:
df_copy.BP1_34.value_counts()
#Pendiente

0.0          8239
1000.0       2560
2000.0       2270
500.0        2001
3000.0       1965
1500.0       1562
5000.0       1529
300.0        1368
200.0        1351
4000.0        922
800.0         817
10000.0       796
600.0         785
100.0         763
400.0         669
1200.0        668
2500.0        615
6000.0        554
20000.0       516
15000.0       511
700.0         487
8000.0        465
9999999.0     456
7000.0        456
3500.0        356
30000.0       340
150.0         293
50000.0       240
50.0          238
1800.0        233
             ...
7300.0          1
28.0            1
375.0           1
241.0           1
208.0           1
10700.0         1
9850.0          1
860.0           1
282000.0        1
33500.0         1
190000.0        1
1995.0          1
600000.0        1
530.0           1
7970.0          1
6400.0          1
136.0           1
1860.0          1
10200.0         1
132000.0        1
9400.0          1
820000.0        1
3.0             1
6200.0          1
863.0           1
13800.0         1
76000.0         1
47000.0         1
185.0           1
68000.0         1
Name: BP1_34, Length: 392, dtype: int64

In [224]:
l=[]
for i in df_copy.BP1_34:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_34 = l
df_copy.BP1_34.value_counts()

0          8239
nan        7843
1000       2560
2000       2270
500        2001
3000       1965
1500       1562
5000       1529
300        1368
200        1351
4000        922
800         817
10000       796
600         785
100         763
400         669
1200        668
2500        615
6000        554
20000       516
15000       511
700         487
8000        465
7000        456
9999999     456
3500        356
30000       340
150         293
50000       240
50          238
           ...
386           1
375           1
9850          1
21600         1
366           1
2220          1
357           1
156000        1
1375          1
340           1
1995          1
490           1
600000        1
530           1
5400          1
800000        1
22200         1
640           1
630           1
96000         1
1720          1
580           1
1746          1
570           1
553           1
5900          1
547           1
1860          1
535           1
104000        1
Name: BP1_34, Length: 393, dtype: int64

In [143]:
df_copy.BP1_35.value_counts()
#Pendiente

0.0          37067
1000.0         241
500.0          196
2000.0         190
9.0            153
3000.0         146
300.0          114
9999999.0      112
200.0           95
5000.0          86
1500.0          79
100.0           61
400.0           53
600.0           52
800.0           45
700.0           43
10000.0         43
1200.0          34
4000.0          33
2500.0          26
20000.0         25
50.0            22
150.0           21
15000.0         20
8000.0          17
7000.0          16
250.0           16
6000.0          15
30000.0         15
12000.0         12
             ...
5500.0           1
385.0            1
2700.0           1
512.0            1
8.0              1
780.0            1
65000.0          1
900000.0         1
3.0              1
220.0            1
70.0             1
1440.0           1
160000.0         1
160.0            1
470.0            1
105.0            1
700000.0         1
330.0            1
2450.0           1
850.0            1
300000.0         1
14600.0          1
7200.0           1
2300.0           1
480.0            1
527.0            1
7500.0           1
180000.0         1
26000.0          1
290.0            1
Name: BP1_35, Length: 117, dtype: int64

In [225]:
l=[]
for i in df_copy.BP1_35:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_35 = l
df_copy.BP1_35.value_counts()

0          8239
nan        7843
1000       2560
2000       2270
500        2001
3000       1965
1500       1562
5000       1529
300        1368
200        1351
4000        922
800         817
10000       796
600         785
100         763
400         669
1200        668
2500        615
6000        554
20000       516
15000       511
700         487
8000        465
7000        456
9999999     456
3500        356
30000       340
150         293
50000       240
50          238
           ...
386           1
375           1
9850          1
21600         1
366           1
2220          1
357           1
156000        1
1375          1
340           1
1995          1
490           1
600000        1
530           1
5400          1
800000        1
22200         1
640           1
630           1
96000         1
1720          1
580           1
1746          1
570           1
553           1
5900          1
547           1
1860          1
535           1
104000        1
Name: BP1_34, Length: 393, dtype: int64

In [145]:
df_copy.BP1_36_01.value_counts()

0.0    18701
1.0     6181
Name: BP1_36_01, dtype: int64

In [146]:
df_copy.BP1_36_01.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_01.value_counts()

0    18701
1     6181
Name: BP1_36_01, dtype: int64

In [147]:
df_copy.BP1_36_02.value_counts()

0.0    19428
1.0     5454
Name: BP1_36_02, dtype: int64

In [148]:
df_copy.BP1_36_02.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_02.value_counts()

0    19428
1     5454
Name: BP1_36_02, dtype: int64

In [149]:
df_copy.BP1_36_03.value_counts()

0.0    16559
1.0     8323
Name: BP1_36_03, dtype: int64

In [150]:
df_copy.BP1_36_03.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_03.value_counts()

0    16559
1     8323
Name: BP1_36_03, dtype: int64

In [151]:
df_copy.BP1_36_04.value_counts()

0.0    16448
1.0     8434
Name: BP1_36_04, dtype: int64

In [152]:
df_copy.BP1_36_04.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_04.value_counts()

0    16448
1     8434
Name: BP1_36_04, dtype: int64

In [153]:
df_copy.BP1_36_05.value_counts()

0.0    23678
1.0     1204
Name: BP1_36_05, dtype: int64

In [154]:
df_copy.BP1_36_05.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_05.value_counts()

0    23678
1     1204
Name: BP1_36_05, dtype: int64

In [155]:
df_copy.BP1_36_06.value_counts()

0.0    21153
1.0     3729
Name: BP1_36_06, dtype: int64

In [156]:
df_copy.BP1_36_06.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_06.value_counts()

0    21153
1     3729
Name: BP1_36_06, dtype: int64

In [157]:
df_copy.BP1_36_07.value_counts()

0.0    22303
1.0     2579
Name: BP1_36_07, dtype: int64

In [158]:
df_copy.BP1_36_07.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_07.value_counts()

0    22303
1     2579
Name: BP1_36_07, dtype: int64

In [159]:
df_copy.BP1_36_08.value_counts()

0.0    17574
1.0     7308
Name: BP1_36_08, dtype: int64

In [160]:
df_copy.BP1_36_08.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_08.value_counts()

0    17574
1     7308
Name: BP1_36_08, dtype: int64

In [161]:
df_copy.BP1_36_09.value_counts()

0.0    15289
1.0     9593
Name: BP1_36_09, dtype: int64

In [162]:
df_copy.BP1_36_09.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_09.value_counts()

0    15289
1     9593
Name: BP1_36_09, dtype: int64

In [163]:
df_copy.BP1_36_10.value_counts()

0.0    24071
1.0      811
Name: BP1_36_10, dtype: int64

In [164]:
df_copy.BP1_36_10.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_10.value_counts()

0    24071
1      811
Name: BP1_36_10, dtype: int64

In [165]:
df_copy.BP1_36_11.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_11.value_counts()

0    24391
1      491
Name: BP1_36_11, dtype: int64

In [166]:
df_copy.BP1_36_99.value_counts()

0.0    24661
1.0      221
Name: BP1_36_99, dtype: int64

In [167]:
df_copy.BP1_36_99.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_99.value_counts()

0    24661
1      221
Name: BP1_36_99, dtype: int64

In [168]:
df_copy.BP2_1.value_counts()

2.0    1108
1.0     464
9.0      16
Name: BP2_1, dtype: int64

In [169]:
df_copy.BP2_1.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP2_1.value_counts()

2     1108
1      464
99      16
Name: BP2_1, dtype: int64

In [170]:
df_copy.BP3_1_01.value_counts()

0.0    12088
1.0      433
Name: BP3_1_01, dtype: int64

In [171]:
df_copy.BP3_1_01.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_01.value_counts()

0    12088
1      433
Name: BP3_1_01, dtype: int64

In [172]:
df_copy.BP3_1_02.value_counts()

0.0    11981
1.0      540
Name: BP3_1_02, dtype: int64

In [173]:
df_copy.BP3_1_02.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_02.value_counts()

0    11981
1      540
Name: BP3_1_02, dtype: int64

In [174]:
df_copy.BP3_1_03.value_counts()

0.0    10621
1.0     1900
Name: BP3_1_03, dtype: int64

In [175]:
df_copy.BP3_1_03.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_03.value_counts()

0    10621
1     1900
Name: BP3_1_03, dtype: int64

In [176]:
df_copy.BP3_1_04.value_counts()

0.0    11679
1.0      842
Name: BP3_1_04, dtype: int64

In [177]:
df_copy.BP3_1_04.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_04.value_counts()

0    11679
1      842
Name: BP3_1_04, dtype: int64

In [178]:
df_copy.BP3_1_05.value_counts()

0.0    11650
1.0      871
Name: BP3_1_05, dtype: int64

In [179]:
df_copy.BP3_1_05.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_05.value_counts()

0    11650
1      871
Name: BP3_1_05, dtype: int64

In [180]:
df_copy.BP3_1_06.value_counts()

0.0    10589
1.0     1932
Name: BP3_1_06, dtype: int64

In [181]:
df_copy.BP3_1_06.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_06.value_counts()

0    10589
1     1932
Name: BP3_1_06, dtype: int64

In [182]:
df_copy.BP3_1_07.value_counts()

0.0    7555
1.0    4966
Name: BP3_1_07, dtype: int64

In [183]:
df_copy.BP3_1_07.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_07.value_counts()

0    7555
1    4966
Name: BP3_1_07, dtype: int64

In [184]:
df_copy.BP3_1_08.value_counts()

0.0    11877
1.0      644
Name: BP3_1_08, dtype: int64

In [185]:
df_copy.BP3_1_08.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_08.value_counts()

0    11877
1      644
Name: BP3_1_08, dtype: int64

In [186]:
df_copy.BP3_1_09.value_counts()

0.0    9972
1.0    2549
Name: BP3_1_09, dtype: int64

In [187]:
df_copy.BP3_1_09.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_09.value_counts()

0    9972
1    2549
Name: BP3_1_09, dtype: int64

In [188]:
df_copy.BP3_1_10.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_10.value_counts()

0    12089
1      432
Name: BP3_1_10, dtype: int64

In [189]:
df_copy.BP3_1_11.value_counts()

0.0    9798
1.0    2723
Name: BP3_1_11, dtype: int64

In [190]:
df_copy.BP3_1_11.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_11.value_counts()

0    9798
1    2723
Name: BP3_1_11, dtype: int64

In [191]:
df_copy.BP3_1_99.value_counts()

0.0    11820
1.0      701
Name: BP3_1_99, dtype: int64

In [192]:
df_copy.BP3_1_99.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_99.value_counts()

0    11820
1      701
Name: BP3_1_99, dtype: int64

In [193]:
df_copy.BP3_2.value_counts()

2.0    3970
1.0    1785
9.0     511
Name: BP3_2, dtype: int64

In [194]:
df_copy.BP3_2.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP3_2.value_counts()

2     3970
1     1785
99     511
Name: BP3_2, dtype: int64

In [195]:
df_copy.BP4_1.value_counts()

3.0    1428
4.0    1200
2.0     224
6.0     192
9.0      88
5.0      79
1.0      47
Name: BP4_1, dtype: int64

In [196]:
df_copy.BP4_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP4_1.value_counts()

3     1428
4     1200
2      224
6      192
99      88
5       79
1       47
Name: BP4_1, dtype: int64

In [197]:
df_copy.BP5_1.value_counts()

1.0    5811
4.0     236
5.0      94
9.0      91
7.0      57
2.0      46
6.0      30
3.0      23
Name: BP5_1, dtype: int64

In [198]:
df_copy.BP5_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_1.value_counts()

1     5811
4      236
5       94
99      91
7       57
2       46
6       30
3       23
Name: BP5_1, dtype: int64

In [199]:
df_copy.BP5_2_1.value_counts()

1.0    4775
0.0    1613
Name: BP5_2_1, dtype: int64

In [200]:
df_copy.BP5_2_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_1.value_counts()

1    4775
0    1613
Name: BP5_2_1, dtype: int64

In [201]:
df_copy.BP5_2_2.value_counts()

0.0    6134
1.0     254
Name: BP5_2_2, dtype: int64

In [202]:
df_copy.BP5_2_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_2.value_counts()

0    6134
1     254
Name: BP5_2_2, dtype: int64

In [203]:
df_copy.BP5_2_3.value_counts()

0.0    6091
1.0     297
Name: BP5_2_3, dtype: int64

In [204]:
df_copy.BP5_2_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_3.value_counts()

0    6091
1     297
Name: BP5_2_3, dtype: int64

In [205]:
df_copy.BP5_2_4.value_counts()

0.0    5229
1.0    1159
Name: BP5_2_4, dtype: int64

In [206]:
df_copy.BP5_2_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_4.value_counts()

0    5229
1    1159
Name: BP5_2_4, dtype: int64

In [207]:
df_copy.BP5_3.value_counts()

3.0    4659
1.0     369
2.0     140
9.0      61
Name: BP5_3, dtype: int64

In [208]:
df_copy.BP5_3.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_3.value_counts()

3     4659
1      369
2      140
99      61
Name: BP5_3, dtype: int64

In [209]:
df_copy.BP6_1.value_counts()

1.0    42
2.0    19
9.0    11
3.0     4
4.0     4
6.0     1
5.0     1
Name: BP6_1, dtype: int64

In [210]:
df_copy.BP6_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_1.value_counts()

1     42
2     19
99    11
3      4
4      4
6      1
5      1
Name: BP6_1, dtype: int64

In [211]:
df_copy.BP6_2.value_counts()

1.0    32
2.0    26
9.0    24
Name: BP6_2, dtype: int64

In [212]:
df_copy.BP6_2.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_2.value_counts()

1     32
2     26
99    24
Name: BP6_2, dtype: int64

In [213]:
df_copy.BP6_3.value_counts()

1.0    40
3.0    23
9.0    11
2.0     8
Name: BP6_3, dtype: int64

In [214]:
df_copy.BP6_3.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_3.value_counts()

1     40
3     23
99    11
2      8
Name: BP6_3, dtype: int64

In [215]:
df_copy.BP6_4.value_counts()

1.0    8
2.0    8
9.0    1
Name: BP6_4, dtype: int64

In [216]:
df_copy.BP6_4.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_4.value_counts()

2     8
1     8
99    1
Name: BP6_4, dtype: int64

In [217]:
df_copy.BP7_1.value_counts()

2.0    195
3.0    133
4.0    102
1.0     44
9.0     10
5.0      1
Name: BP7_1, dtype: int64

In [218]:
df_copy.BP7_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP7_1.value_counts()

2     195
3     133
4     102
1      44
99     10
5       1
Name: BP7_1, dtype: int64

In [219]:
df_copy.FAC_DEL.value_counts()

146      157
131      154
168      154
182      153
152      149
148      144
150      141
126      141
143      139
173      138
71       137
174      136
202      135
214      135
158      134
151      133
312      132
162      130
170      130
180      129
178      128
58       128
172      128
166      127
139      125
176      124
278      122
184      121
115      120
112      118
        ...
2715       1
4824       1
3175       1
2065       1
10530      1
3438       1
7290       1
1359       1
3558       1
1319       1
3214       1
1191       1
1095       1
3110       1
3078       1
2898       1
3246       1
1241       1
3352       1
4965       1
9015       1
1369       1
3480       1
4773       1
3608       1
3640       1
2598       1
3374       1
3672       1
3696       1
Name: FAC_DEL, Length: 2842, dtype: int64

In [220]:
df_copy.DOM.value_counts()

U    37147
C     6980
R     2990
Name: DOM, dtype: int64

In [221]:
df_copy.EST.value_counts()

114    1198
166    1159
106    1063
107     829
167     780
90      768
14      750
124     733
123     711
203     667
176     656
132     646
81      633
64      597
183     592
23      574
148     569
100     559
258     542
157     539
61      523
115     512
149     505
249     482
158     482
213     481
6       475
52      475
108     474
99      469
       ...
224      16
41       16
182      15
226      15
240      14
122      14
68       13
146      13
174      12
33       12
159      11
144      11
80       11
50       11
88       11
169      11
228      11
256      10
261      10
11        9
191       8
145       6
92        5
244       5
36        5
237       4
75        4
3         2
147       2
155       1
Name: EST, Length: 268, dtype: int64

In [222]:
df_copy.UPM.value_counts()

1023     47
12535    46
4385     45
10729    42
10355    40
13072    37
6662     36
10415    35
3564     35
5245     35
3714     34
9808     33
1018     32
1036     30
8180     30
7353     29
1062     29
632      28
8302     28
5240     28
6215     28
638      28
7136     28
5461     26
5287     26
5331     26
10393    25
3225     25
10540    25
704      25
         ..
10026     1
1070      1
1806      1
9962      1
5836      1
3727      1
1646      1
5740      1
11883     1
11819     1
1550      1
9738      1
1518      1
3535      1
1486      1
3503      1
9578      1
11595     1
3375      1
5420      1
11563     1
3343      1
11531     1
5324      1
3247      1
7341      1
11371     1
1102      1
11339     1
2049      1
Name: UPM, Length: 11052, dtype: int64

In [223]:
df_copy.EST_SOC.value_counts()

2    21824
3    15951
4     6319
1     3023
Name: EST_SOC, dtype: int64

In [226]:
df_copy.to_csv('2013.csv')