In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2014/tmod_vic2014.csv'

In [3]:
df = pd.read_csv(df_,low_memory=False)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

2     6719
1     6624
3     6531
4     6472
5     6435
7      802
10     753
6      746
8      742
19     713
9      712
12     710
17     697
13     664
18     661
16     660
11     658
14     649
20     634
15     631
21      36
22      20
25      20
35      17
29      17
39      15
38      14
24      14
40      13
43      10
23      10
30       9
37       9
26       9
28       9
33       9
34       7
31       7
36       5
45       5
27       5
32       4
41       1
Name: VIV_SEL, dtype: int64

In [5]:
df_copy.HOGAR.value_counts()

1    42540
2      823
3       96
4       19
Name: HOGAR, dtype: int64

In [6]:
df_copy.ND_TIPO.value_counts()

1    32486
2     7400
3     2380
4      789
5      423
Name: ND_TIPO, dtype: int64

In [7]:
df_copy.TD_TIPO.value_counts()

1    25086
2    10040
3     4773
5     2115
4     1464
Name: TD_TIPO, dtype: int64

In [8]:
df_copy.BPCOD.value_counts()

3     8164
2     7349
9     6373
4     5804
5     5424
10    3008
8     1594
6     1455
7     1300
1     1235
11     919
13     575
15     120
14      82
12      76
Name: BPCOD, dtype: int64

In [9]:
df_copy.R_SEL.value_counts()

1     20788
2     14386
3      5050
4      2142
5       756
6       200
7        88
8        33
9        25
10        6
14        2
18        1
11        1
Name: R_SEL, dtype: int64

In [10]:
df_copy.AREAM_OCU.value_counts()

1.0     4466
2.0     1907
4.0     1563
3.0     1311
21.0    1240
36.0    1093
29.0    1013
7.0      878
8.0      813
39.0     809
41.0     786
14.0     695
33.0     668
5.0      661
24.0     642
18.0     633
40.0     610
15.0     596
26.0     526
27.0     425
31.0     410
9.0      404
25.0     386
28.0     380
19.0     329
17.0     298
43.0     287
13.0     246
12.0     179
16.0     171
10.0     149
32.0     100
Name: AREAM_OCU, dtype: int64

In [11]:
df_copy.AREAM_OCU.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',
                29.0:'29',14.0:'14',36.0:'36',21.0:'21',6.0:'6',
                8.0:'8',39.0:'39',41.0:'41',33.0:'33',18.0:'18',
                40.0:'40',25.0:'25',5.0:'5',26.0:'26',9.0:'9',
                7.0:'7',13.0:'13',15.0:'15',27.0:'27',31.0:'31',
                19.0:'19',28.0:'28',24.0:'24',10.0:'10',43.0:'43',
                17.0:'17',32.0:'32',16.0:'16',12.0:'12'}, inplace=True)

In [12]:
df_copy.AREAM_OCU.value_counts()

1     4466
2     1907
4     1563
3     1311
21    1240
36    1093
29    1013
7      878
8      813
39     809
41     786
14     695
33     668
5      661
24     642
18     633
40     610
15     596
26     526
27     425
31     410
9      404
25     386
28     380
19     329
17     298
43     287
13     246
12     179
16     171
10     149
32     100
Name: AREAM_OCU, dtype: int64

In [13]:
df_copy.RESUL_H.value_counts()

A    43478
Name: RESUL_H, dtype: int64

In [14]:
df_copy.BP1_1.value_counts()

12    4926
11    4527
6     4041
3     3657
2     3451
5     3410
10    3388
8     3314
9     3153
7     2960
1     2716
4     2640
99    1295
Name: BP1_1, dtype: int64

In [15]:
df_copy.BP1_2C.value_counts()

15    3481
2     2582
14    2318
21    2259
9     1592
25    1566
17    1554
16    1483
30    1416
22    1411
11    1402
19    1390
23    1345
8     1323
27    1318
6     1274
3     1195
24    1160
12    1136
31    1117
26    1081
29    1079
4     1026
7     1007
10    1004
5      979
13     977
20     910
1      801
28     791
32     758
18     741
99       2
Name: BP1_2C, dtype: int64

In [16]:
df_copy.BP1_3C.value_counts()

4      2418
2      2225
5      1840
39     1734
1      1688
7      1628
3      1461
6      1444
114    1389
14     1278
8      1058
28      982
17      923
37      904
33      861
20      811
50      810
11      772
57      763
30      742
35      737
12      720
10      666
53      637
120     616
18      605
19      532
9       521
29      513
101     510
       ...
153       2
439       2
205       1
301       1
334       1
333       1
225       1
318       1
148       1
130       1
215       1
200       1
265       1
553       1
213       1
181       1
149       1
551       1
327       1
375       1
401       1
134       1
197       1
505       1
203       1
427       1
186       1
300       1
386       1
455       1
Name: BP1_3C, Length: 242, dtype: int64

In [17]:
df_copy.BP1_4.value_counts()

2    12668
3    11732
4     8966
1     8556
9     1556
Name: BP1_4, dtype: int64

In [18]:
df_copy.BP1_4.replace({9:99}, inplace=True)
df_copy.BP1_4.value_counts()

2     12668
3     11732
4      8966
1      8556
99     1556
Name: BP1_4, dtype: int64

In [19]:
df_copy.BP1_5.value_counts()

2    20877
1    14458
4     2051
3     1804
5     1600
6     1530
8      698
7      260
9      200
Name: BP1_5, dtype: int64

In [20]:
df_copy.BP1_5.replace({9:99}, inplace=True)
df_copy.BP1_5.value_counts()

2     20877
1     14458
4      2051
3      1804
5      1600
6      1530
8       698
7       260
99      200
Name: BP1_5, dtype: int64

In [21]:
df_copy.BP1_6.value_counts()

1.0    18677
2.0    13743
Name: BP1_6, dtype: int64

In [22]:
df_copy.BP1_6.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_6.value_counts()

1    18677
2    13743
Name: BP1_6, dtype: int64

In [23]:
df_copy.BP1_7.value_counts()

1.0    13976
2.0     4701
Name: BP1_7, dtype: int64

In [24]:
df_copy.BP1_7.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_7.value_counts()

1    13976
2     4701
Name: BP1_7, dtype: int64

In [25]:
df_copy.BP1_8.value_counts()

2.0    7239
1.0    6711
9.0      26
Name: BP1_8, dtype: int64

In [26]:
df_copy.BP1_8.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_8.value_counts()

2     7239
1     6711
99      26
Name: BP1_8, dtype: int64

In [27]:
df_copy.BP1_9.value_counts()

1.0    6780
2.0    3810
3.0    1643
4.0     600
9.0     456
6.0     450
5.0     237
Name: BP1_9, dtype: int64

In [28]:
df_copy.BP1_9.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_9.value_counts()

1     6780
2     3810
3     1643
4      600
99     456
6      450
5      237
Name: BP1_9, dtype: int64

In [29]:
df_copy.BP1_10_1.value_counts()

1.0    12773
0.0     1203
Name: BP1_10_1, dtype: int64

In [30]:
df_copy.BP1_10_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_1.value_counts().astype('int64')

1    12773
0     1203
Name: BP1_10_1, dtype: int64

In [31]:
df_copy.BP1_10_2.value_counts()

0.0    12169
1.0     1807
Name: BP1_10_2, dtype: int64

In [32]:
df_copy.BP1_10_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_2.value_counts().astype('int64')

0    12169
1     1807
Name: BP1_10_2, dtype: int64

In [33]:
df_copy.BP1_10_9.value_counts()

0.0    13641
1.0      335
Name: BP1_10_9, dtype: int64

In [34]:
df_copy.BP1_10_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_10_9.value_counts().astype('int64')

0    13641
1      335
Name: BP1_10_9, dtype: int64

In [35]:
df_copy.BP1_11.value_counts()

4.0    4264
3.0    3682
5.0    2352
9.0    1525
8.0     912
6.0     737
2.0     402
7.0      91
1.0      11
Name: BP1_11, dtype: int64

In [36]:
df_copy.BP1_11.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99'}, inplace=True)
df_copy.BP1_11.value_counts()

4     4264
3     3682
5     2352
99    1525
8      912
6      737
2      402
7       91
1       11
Name: BP1_11, dtype: int64

In [37]:
df_copy.BP1_12_1.value_counts()

1.0    10137
0.0     3839
Name: BP1_12_1, dtype: int64

In [38]:
df_copy.BP1_12_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_1.value_counts().astype('int64')

1    10137
0     3839
Name: BP1_12_1, dtype: int64

In [39]:
df_copy.BP1_12_2.value_counts()

0.0    12494
1.0     1482
Name: BP1_12_2, dtype: int64

In [40]:
df_copy.BP1_12_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_2.value_counts().astype('int64')

0    12494
1     1482
Name: BP1_12_2, dtype: int64

In [41]:
df_copy.BP1_12_3.value_counts()

0.0    13097
1.0      879
Name: BP1_12_3, dtype: int64

In [42]:
df_copy.BP1_12_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_3.value_counts().astype('int64')

0    13097
1      879
Name: BP1_12_3, dtype: int64

In [43]:
df_copy.BP1_12_4.value_counts()

0.0    13214
1.0      762
Name: BP1_12_4, dtype: int64

In [44]:
df_copy.BP1_12_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_4.value_counts().astype('int64')

0    13214
1      762
Name: BP1_12_4, dtype: int64

In [45]:
df_copy.BP1_12_9.value_counts()

0.0    13587
1.0      389
Name: BP1_12_9, dtype: int64

In [46]:
df_copy.BP1_12_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_9.value_counts().astype('int64')

0    13587
1      389
Name: BP1_12_9, dtype: int64

In [47]:
df_copy.BP1_12_5.value_counts()

0.0    13533
1.0      443
Name: BP1_12_5, dtype: int64

In [48]:
df_copy.BP1_12_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_12_5.value_counts().astype('int64')

0    13533
1      443
Name: BP1_12_5, dtype: int64

In [49]:
df_copy.BP1_13.value_counts()

2.0    7690
1.0    2447
Name: BP1_13, dtype: int64

In [50]:
df_copy.BP1_13.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_13.value_counts().astype('int64')

2    7690
1    2447
Name: BP1_13, dtype: int64

In [51]:
df_copy.BP1_14_1.value_counts()

0.0    11255
1.0     2721
Name: BP1_14_1, dtype: int64

In [52]:
df_copy.BP1_14_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_1.value_counts().astype('int64')

0    11255
1     2721
Name: BP1_14_1, dtype: int64

In [53]:
df_copy.BP1_14_2.value_counts()

0.0    12094
1.0     1882
Name: BP1_14_2, dtype: int64

In [54]:
df_copy.BP1_14_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_2.value_counts().astype('int64')

0    12094
1     1882
Name: BP1_14_2, dtype: int64

In [55]:
df_copy.BP1_14_3.value_counts()

0.0    13959
1.0       17
Name: BP1_14_3, dtype: int64

In [56]:
df_copy.BP1_14_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_3.value_counts().astype('int64')

0    13959
1       17
Name: BP1_14_3, dtype: int64

In [57]:
df_copy.BP1_14_4.value_counts()

0.0    7193
1.0    6783
Name: BP1_14_4, dtype: int64

In [58]:
df_copy.BP1_14_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_4.value_counts().astype('int64')

0    7193
1    6783
Name: BP1_14_4, dtype: int64

In [59]:
df_copy.BP1_14_9.value_counts()

0.0    10892
1.0     3084
Name: BP1_14_9, dtype: int64

In [60]:
df_copy.BP1_14_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_14_9.value_counts().astype('int64')

0    10892
1     3084
Name: BP1_14_9, dtype: int64

In [61]:
df_copy.BP1_15.value_counts()

2.0    6441
1.0    5357
9.0    2178
Name: BP1_15, dtype: int64

In [62]:
df_copy.BP1_15.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_15.value_counts().astype('int64')

2     6441
1     5357
99    2178
Name: BP1_15, dtype: int64

In [63]:
df_copy.BP1_16_1.value_counts()

1.0    3155
0.0    2202
Name: BP1_16_1, dtype: int64

In [64]:
df_copy.BP1_16_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_1.value_counts().astype('int64')

1    3155
0    2202
Name: BP1_16_1, dtype: int64

In [65]:
df_copy.BP1_16_2.value_counts()

0.0    3031
1.0    2326
Name: BP1_16_2, dtype: int64

In [66]:
df_copy.BP1_16_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_2.value_counts().astype('int64')

0    3031
1    2326
Name: BP1_16_2, dtype: int64

In [67]:
df_copy.BP1_16_3.value_counts()

0.0    5129
1.0     228
Name: BP1_16_3, dtype: int64

In [68]:
df_copy.BP1_16_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_3.value_counts().astype('int64')

0    5129
1     228
Name: BP1_16_3, dtype: int64

In [69]:
df_copy.BP1_16_4.value_counts()

0.0    5315
1.0      42
Name: BP1_16_4, dtype: int64

In [70]:
df_copy.BP1_16_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_4.value_counts().astype('int64')

0    5315
1      42
Name: BP1_16_4, dtype: int64

In [71]:
df_copy.BP1_16_9.value_counts()

0.0    5316
1.0      41
Name: BP1_16_9, dtype: int64

In [72]:
df_copy.BP1_16_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_16_9.value_counts().astype('int64')

0    5316
1      41
Name: BP1_16_9, dtype: int64

In [73]:
df_copy.BP1_17.value_counts()

2.0    4767
1.0     585
9.0       5
Name: BP1_17, dtype: int64

In [74]:
df_copy.BP1_17.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_17.value_counts().astype('int64')

2     4767
1      585
99       5
Name: BP1_17, dtype: int64

In [75]:
df_copy.BP1_18.value_counts()

2.0    11059
1.0     1966
9.0      366
Name: BP1_18, dtype: int64

In [76]:
df_copy.BP1_18.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP1_18.value_counts().astype('int64')

2     11059
1      1966
99      366
Name: BP1_18, dtype: int64

In [77]:
df_copy.BP1_19_1.value_counts()

1.0    1861
0.0     690
Name: BP1_19_1, dtype: int64

In [78]:
df_copy.BP1_19_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_1.value_counts().astype('int64')

1    1861
0     690
Name: BP1_19_1, dtype: int64

In [79]:
df_copy.BP1_19_2.value_counts()

0.0    2075
1.0     476
Name: BP1_19_2, dtype: int64

In [80]:
df_copy.BP1_19_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_2.value_counts().astype('int64')

0    2075
1     476
Name: BP1_19_2, dtype: int64

In [81]:
df_copy.BP1_19_3.value_counts()

0.0    2466
1.0      85
Name: BP1_19_3, dtype: int64

In [82]:
df_copy.BP1_19_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_3.value_counts().astype('int64')

0    2466
1      85
Name: BP1_19_3, dtype: int64

In [83]:
df_copy.BP1_19_4.value_counts()

0.0    2398
1.0     153
Name: BP1_19_4, dtype: int64

In [84]:
df_copy.BP1_19_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_4.value_counts().astype('int64')

0    2398
1     153
Name: BP1_19_4, dtype: int64

In [85]:
df_copy.BP1_19_5.value_counts()

0.0    2541
1.0      10
Name: BP1_19_5, dtype: int64

In [86]:
df_copy.BP1_19_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_5.value_counts().astype('int64')

0    2541
1      10
Name: BP1_19_5, dtype: int64

In [87]:
df_copy.BP1_19_6.value_counts()

0.0    2480
1.0      71
Name: BP1_19_6, dtype: int64

In [88]:
df_copy.BP1_19_6.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_6.value_counts().astype('int64')

0    2480
1      71
Name: BP1_19_6, dtype: int64

In [89]:
df_copy.BP1_19_8.value_counts()

0.0    2106
1.0     445
Name: BP1_19_8, dtype: int64

In [90]:
df_copy.BP1_19_8.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_8.value_counts().astype('int64')

0    2106
1     445
Name: BP1_19_8, dtype: int64

In [91]:
df_copy.BP1_19_7.value_counts()

0.0    2545
1.0       6
Name: BP1_19_7, dtype: int64

In [92]:
df_copy.BP1_19_7.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_19_7.value_counts().astype('int64')

0    2545
1       6
Name: BP1_19_7, dtype: int64

In [93]:
df_copy.BP1_20.value_counts()

2    38386
1     5092
Name: BP1_20, dtype: int64

In [94]:
df_copy.BP1_21.value_counts()

2.0    19342
1.0      150
9.0      119
Name: BP1_21, dtype: int64

In [95]:
df_copy.BP1_21.replace({1.0:'1',2.0:'2',9.0:99}, inplace=True)
df_copy.BP1_21.value_counts().astype('int64')

2     19342
1       150
99      119
Name: BP1_21, dtype: int64

In [96]:
df_copy.BP1_22.value_counts()

2.0    111
1.0     39
Name: BP1_22, dtype: int64

In [97]:
df_copy.BP1_22.replace({1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_22.value_counts().astype('int64')

2    111
1     39
Name: BP1_22, dtype: int64

In [98]:
df_copy.BP1_23.value_counts()

4.0     12273
6.0      6261
3.0      5098
7.0      4629
5.0      2840
9.0      2775
1.0      2517
8.0      1456
2.0       219
99.0      168
Name: BP1_23, dtype: int64

In [99]:
df_copy.BP1_23.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'9',99.0:'99'}, inplace=True)
df_copy.BP1_23.value_counts().astype('int64')

4     12273
6      6261
3      5098
7      4629
5      2840
9      2775
1      2517
8      1456
2       219
99      168
Name: BP1_23, dtype: int64

In [100]:
df_copy.BP1_24.value_counts()

1.0    3417
2.0    1400
9.0     314
Name: BP1_24, dtype: int64

In [101]:
df_copy.BP1_24.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_24.value_counts().astype('int64')

1     3417
2     1400
99     314
Name: BP1_24, dtype: int64

In [102]:
df_copy.BP1_25.value_counts()

5.0    1723
2.0     791
3.0     399
4.0     234
1.0     102
9.0     100
6.0      68
Name: BP1_25, dtype: int64

In [103]:
df_copy.BP1_25.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_25.value_counts().astype('int64')

5     1723
2      791
3      399
4      234
1      102
99     100
6       68
Name: BP1_25, dtype: int64

In [104]:
df_copy.BP1_26.value_counts()

4.0    465
2.0    388
1.0    146
3.0    137
6.0    116
9.0    103
5.0     45
Name: BP1_26, dtype: int64

In [105]:
df_copy.BP1_26.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_26.value_counts().astype('int64')

4     465
2     388
1     146
3     137
6     116
99    103
5      45
Name: BP1_26, dtype: int64

In [106]:
df_copy.BP1_27.value_counts()

2.0    1708
4.0    1344
3.0    1068
1.0    1011
Name: BP1_27, dtype: int64

In [107]:
df_copy.BP1_27.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_27.value_counts().astype('int64')

2    1708
4    1344
3    1068
1    1011
Name: BP1_27, dtype: int64

In [108]:
df_copy.BP1_28.value_counts()

3.0    2017
2.0    1591
5.0     531
4.0     450
6.0     256
1.0     243
9.0      43
Name: BP1_28, dtype: int64

In [109]:
df_copy.BP1_28.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_28.value_counts().astype('int64')

3     2017
2     1591
5      531
4      450
6      256
1      243
99      43
Name: BP1_28, dtype: int64

In [110]:
df_copy.BP1_29.value_counts()

2.0    2462
3.0    1466
4.0     909
1.0     294
Name: BP1_29, dtype: int64

In [111]:
df_copy.BP1_29.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',8.0:'8',9.0:'99',99.0:'99'}, inplace=True)
df_copy.BP1_29.value_counts().astype('int64')

2    2462
3    1466
4     909
1     294
Name: BP1_29, dtype: int64

In [112]:
df_copy.BP1_30.value_counts()

2    40052
1     3426
Name: BP1_30, dtype: int64

In [113]:
df_copy.BP1_31_1.value_counts()

0.0    3168
1.0     258
Name: BP1_31_1, dtype: int64

In [114]:
df_copy.BP1_31_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_1.value_counts().astype('int64')

0    3168
1     258
Name: BP1_31_1, dtype: int64

In [115]:
df_copy.BP1_31_2.value_counts()

1.0    1921
0.0    1505
Name: BP1_31_2, dtype: int64

In [116]:
df_copy.BP1_31_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_2.value_counts().astype('int64')

1    1921
0    1505
Name: BP1_31_2, dtype: int64

In [117]:
df_copy.BP1_31_3.value_counts()

0.0    3346
1.0      80
Name: BP1_31_3, dtype: int64

In [118]:
df_copy.BP1_31_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_3.value_counts().astype('int64')

0    3346
1      80
Name: BP1_31_3, dtype: int64

In [119]:
df_copy.BP1_31_4.value_counts()

0.0    3068
1.0     358
Name: BP1_31_4, dtype: int64

In [120]:
df_copy.BP1_31_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_4.value_counts().astype('int64')

0    3068
1     358
Name: BP1_31_4, dtype: int64

In [121]:
df_copy.BP1_31_5.value_counts()

0.0    3276
1.0     150
Name: BP1_31_5, dtype: int64

In [122]:
df_copy.BP1_31_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_5.value_counts().astype('int64')

0    3276
1     150
Name: BP1_31_5, dtype: int64

In [123]:
df_copy.BP1_31_6.value_counts()

0.0    3338
1.0      88
Name: BP1_31_6, dtype: int64

In [124]:
df_copy.BP1_31_6.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_6.value_counts().astype('int64')

0    3338
1      88
Name: BP1_31_6, dtype: int64

In [125]:
df_copy.BP1_31_7.value_counts()

0.0    3335
1.0      91
Name: BP1_31_7, dtype: int64

In [126]:
df_copy.BP1_31_7.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_7.value_counts().astype('int64')

0    3335
1      91
Name: BP1_31_7, dtype: int64

In [127]:
df_copy.BP1_31_8.value_counts()

0.0    3040
1.0     386
Name: BP1_31_8, dtype: int64

In [128]:
df_copy.BP1_31_8.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_8.value_counts().astype('int64')

0    3040
1     386
Name: BP1_31_8, dtype: int64

In [129]:
df_copy.BP1_31_9.value_counts()

0.0    3200
1.0     226
Name: BP1_31_9, dtype: int64

In [130]:
df_copy.BP1_31_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_31_9.value_counts().astype('int64')

0    3200
1     226
Name: BP1_31_9, dtype: int64

In [131]:
df_copy.BP1_32_1.value_counts()

0.0    5428
1.0    2366
Name: BP1_32_1, dtype: int64

In [132]:
df_copy.BP1_32_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_1.value_counts().astype('int64')

0    5428
1    2366
Name: BP1_32_1, dtype: int64

In [133]:
df_copy.BP1_32_2.value_counts()

0.0    7726
1.0      68
Name: BP1_32_2, dtype: int64

In [134]:
df_copy.BP1_32_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_2.value_counts().astype('int64')

0    7726
1      68
Name: BP1_32_2, dtype: int64

In [135]:
df_copy.BP1_32_3.value_counts()

0.0    7763
1.0      31
Name: BP1_32_3, dtype: int64

In [136]:
df_copy.BP1_32_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_3.value_counts().astype('int64')

0    7763
1      31
Name: BP1_32_3, dtype: int64

In [137]:
df_copy.BP1_32_4.value_counts()

0.0    7772
1.0      22
Name: BP1_32_4, dtype: int64

In [138]:
df_copy.BP1_32_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_4.value_counts().astype('int64')

0    7772
1      22
Name: BP1_32_4, dtype: int64

In [139]:
df_copy.BP1_32_5.value_counts()

1.0    5297
0.0    2497
Name: BP1_32_5, dtype: int64

In [140]:
df_copy.BP1_32_5.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_5.value_counts().astype('int64')

1    5297
0    2497
Name: BP1_32_5, dtype: int64

In [141]:
df_copy.BP1_32_9.value_counts()

0.0    7751
1.0      43
Name: BP1_32_9, dtype: int64

In [142]:
df_copy.BP1_32_9.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_32_9.value_counts().astype('int64')

0    7751
1      43
Name: BP1_32_9, dtype: int64

In [143]:
df_copy.BP1_33.value_counts()

1    26097
3     8948
5     6877
2     1266
4      227
9       63
Name: BP1_33, dtype: int64

In [144]:
df_copy.BP1_33.replace({9:99}, inplace=True)
df_copy.BP1_33.value_counts().astype('int64')

1     26097
3      8948
5      6877
2      1266
4       227
99       63
Name: BP1_33, dtype: int64

In [145]:
df_copy.BP1_34.value_counts()
#Pendiente

0.0          8840
1000.0       2212
2000.0       2018
500.0        1866
3000.0       1662
1500.0       1462
5000.0       1258
300.0        1242
200.0        1193
800.0         836
4000.0        776
600.0         749
10000.0       711
100.0         691
400.0         627
1200.0        615
2500.0        614
9999999.0     531
6000.0        506
700.0         468
15000.0       431
20000.0       402
7000.0        394
8000.0        351
3500.0        336
30000.0       316
150.0         278
1800.0        208
12000.0       204
1300.0        190
             ...
2160.0          1
565.0           1
279.0           1
910.0           1
4550.0          1
9800.0          1
3825.0          1
36.0            1
7680.0          1
10100.0         1
66000.0         1
1950.0          1
5380.0          1
680.0           1
2350.0          1
50400.0         1
50300.0         1
1090.0          1
12400.0         1
570.0           1
125.0           1
3050.0          1
7600.0          1
11800.0         1
369.0           1
320000.0        1
2524.0          1
190.0           1
3979.0          1
1060.0          1
Name: BP1_34, Length: 399, dtype: int64

In [146]:
l=[]
for i in df_copy.BP1_34:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_34 = l
df_copy.BP1_34.value_counts()

0          8840
nan        6940
1000       2212
2000       2018
500        1866
3000       1662
1500       1462
5000       1258
300        1242
200        1193
800         836
4000        776
600         749
10000       711
100         691
400         627
1200        615
2500        614
9999999     531
6000        506
700         468
15000       431
20000       402
7000        394
8000        351
3500        336
30000       316
150         278
1800        208
12000       204
           ...
1595          1
3250          1
2260          1
11300         1
3070          1
3060          1
3058          1
3050          1
650000        1
2524          1
84375         1
2450          1
2386          1
2370          1
2350          1
2160          1
9800          1
2150          1
2125          1
2080          1
600000        1
1980          1
10160         1
1915          1
10100         1
1870          1
51000         1
26300         1
1625          1
1950          1
Name: BP1_34, Length: 400, dtype: int64

In [147]:
df_copy.BP1_35.value_counts()
#Pendiente

0.0          34539
500.0          219
1000.0         174
2000.0         153
300.0          140
5000.0         108
3000.0         101
200.0          100
1500.0          95
9999999.0       84
400.0           65
10000.0         62
600.0           58
100.0           58
800.0           51
4000.0          33
6000.0          33
150.0           33
700.0           31
20000.0         26
2500.0          26
15000.0         24
50.0            24
3500.0          21
8000.0          19
1200.0          19
50000.0         15
30000.0         14
250.0           12
7000.0          11
             ...
66000.0          1
26000.0          1
37000.0          1
114.0            1
360.0            1
64.0             1
230.0            1
22000.0          1
3200.0           1
240.0            1
65000.0          1
16000.0          1
40.0             1
270.0            1
220.0            1
32000.0          1
25.0             1
6800.0           1
38000.0          1
300000.0         1
250000.0         1
10500.0          1
480.0            1
170.0            1
15.0             1
500000.0         1
4800.0           1
21000.0          1
2100.0           1
550.0            1
Name: BP1_35, Length: 113, dtype: int64

In [148]:
l=[]
for i in df_copy.BP1_35:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_35 = l
df_copy.BP1_35.value_counts()

0          34539
nan         6940
500          219
1000         174
2000         153
300          140
5000         108
3000         101
200          100
1500          95
9999999       84
400           65
10000         62
100           58
600           58
800           51
6000          33
4000          33
150           33
700           31
2500          26
20000         26
15000         24
50            24
3500          21
8000          19
1200          19
50000         15
30000         14
250           12
           ...
92             1
230            1
220            1
37000          1
240            1
270            1
3200           1
3100           1
85000          1
21000          1
2800           1
4800           1
10500          1
2100           1
300000         1
38000          1
26000          1
16000          1
22000          1
750            1
740            1
250000         1
550            1
6600           1
480            1
66000          1
6800           1
360            1
500000         1
6500           1
Name: BP1_35, Length: 114, dtype: int64

In [149]:
df_copy.BP1_36_01.value_counts()

0.0    8631
1.0    3074
Name: BP1_36_01, dtype: int64

In [150]:
df_copy.BP1_36_01.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_01.value_counts().astype('int64')

0    8631
1    3074
Name: BP1_36_01, dtype: int64

In [151]:
df_copy.BP1_36_02.value_counts()

0.0    8935
1.0    2770
Name: BP1_36_02, dtype: int64

In [152]:
df_copy.BP1_36_02.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_02.value_counts().astype('int64')

0    8935
1    2770
Name: BP1_36_02, dtype: int64

In [153]:
df_copy.BP1_36_03.value_counts()

0.0    7580
1.0    4125
Name: BP1_36_03, dtype: int64

In [154]:
df_copy.BP1_36_03.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_03.value_counts().astype('int64')

0    7580
1    4125
Name: BP1_36_03, dtype: int64

In [155]:
df_copy.BP1_36_04.value_counts()

0.0    7443
1.0    4262
Name: BP1_36_04, dtype: int64

In [156]:
df_copy.BP1_36_04.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_04.value_counts().astype('int64')

0    7443
1    4262
Name: BP1_36_04, dtype: int64

In [157]:
df_copy.BP1_36_05.value_counts()

0.0    10888
1.0      817
Name: BP1_36_05, dtype: int64

In [158]:
df_copy.BP1_36_05.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_05.value_counts().astype('int64')

0    10888
1      817
Name: BP1_36_05, dtype: int64

In [159]:
df_copy.BP1_36_06.value_counts()

0.0    9387
1.0    2318
Name: BP1_36_06, dtype: int64

In [160]:
df_copy.BP1_36_06.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_06.value_counts().astype('int64')

0    9387
1    2318
Name: BP1_36_06, dtype: int64

In [161]:
df_copy.BP1_36_07.value_counts()

0.0    10159
1.0     1546
Name: BP1_36_07, dtype: int64

In [162]:
df_copy.BP1_36_07.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_07.value_counts().astype('int64')

0    10159
1     1546
Name: BP1_36_07, dtype: int64

In [163]:
df_copy.BP1_36_08.value_counts()

0.0    7877
1.0    3828
Name: BP1_36_08, dtype: int64

In [164]:
df_copy.BP1_36_08.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_08.value_counts().astype('int64')

0    7877
1    3828
Name: BP1_36_08, dtype: int64

In [165]:
df_copy.BP1_36_09.value_counts()

0.0    6833
1.0    4872
Name: BP1_36_09, dtype: int64

In [166]:
df_copy.BP1_36_09.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_09.value_counts().astype('int64')

0    6833
1    4872
Name: BP1_36_09, dtype: int64

In [167]:
df_copy.BP1_36_10.value_counts()

0.0    11294
1.0      411
Name: BP1_36_10, dtype: int64

In [168]:
df_copy.BP1_36_10.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_10.value_counts().astype('int64')

0    11294
1      411
Name: BP1_36_10, dtype: int64

In [169]:
df_copy.BP1_36_11.value_counts()

0.0    11431
1.0      274
Name: BP1_36_11, dtype: int64

In [170]:
df_copy.BP1_36_11.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_11.value_counts().astype('int64')

0    11431
1      274
Name: BP1_36_11, dtype: int64

In [171]:
df_copy.BP1_36_99.value_counts()

0.0    11642
1.0       63
Name: BP1_36_99, dtype: int64

In [172]:
df_copy.BP1_36_99.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP1_36_99.value_counts().astype('int64')

0    11642
1       63
Name: BP1_36_99, dtype: int64

In [173]:
df_copy.BP2_1.value_counts()

2.0    903
1.0    317
9.0     15
Name: BP2_1, dtype: int64

In [174]:
df_copy.BP2_1.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP2_1.value_counts().astype('int64')

2     903
1     317
99     15
Name: BP2_1, dtype: int64

In [175]:
df_copy.BP3_1_01.value_counts()

0.0    12268
1.0      415
Name: BP3_1_01, dtype: int64

In [176]:
df_copy.BP3_1_01.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_01.value_counts().astype('int64')

0    12268
1      415
Name: BP3_1_01, dtype: int64

In [177]:
df_copy.BP3_1_02.value_counts()

0.0    12222
1.0      461
Name: BP3_1_02, dtype: int64

In [178]:
df_copy.BP3_1_02.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_02.value_counts().astype('int64')

0    12222
1      461
Name: BP3_1_02, dtype: int64

In [179]:
df_copy.BP3_1_03.value_counts()

0.0    10795
1.0     1888
Name: BP3_1_03, dtype: int64

In [180]:
df_copy.BP3_1_03.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_03.value_counts().astype('int64')

0    10795
1     1888
Name: BP3_1_03, dtype: int64

In [181]:
df_copy.BP3_1_04.value_counts()

0.0    11832
1.0      851
Name: BP3_1_04, dtype: int64

In [182]:
df_copy.BP3_1_04.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_04.value_counts().astype('int64')

0    11832
1      851
Name: BP3_1_04, dtype: int64

In [183]:
df_copy.BP3_1_05.value_counts()

0.0    11880
1.0      803
Name: BP3_1_05, dtype: int64

In [184]:
df_copy.BP3_1_05.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_05.value_counts().astype('int64')

0    11880
1      803
Name: BP3_1_05, dtype: int64

In [185]:
df_copy.BP3_1_06.value_counts()

0.0    11056
1.0     1627
Name: BP3_1_06, dtype: int64

In [186]:
df_copy.BP3_1_06.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_06.value_counts().astype('int64')

0    11056
1     1627
Name: BP3_1_06, dtype: int64

In [187]:
df_copy.BP3_1_07.value_counts()

0.0    7662
1.0    5021
Name: BP3_1_07, dtype: int64

In [188]:
df_copy.BP3_1_07.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_07.value_counts().astype('int64')

0    7662
1    5021
Name: BP3_1_07, dtype: int64

In [189]:
df_copy.BP3_1_08.value_counts()

0.0    12004
1.0      679
Name: BP3_1_08, dtype: int64

In [190]:
df_copy.BP3_1_08.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_08.value_counts().astype('int64')

0    12004
1      679
Name: BP3_1_08, dtype: int64

In [191]:
df_copy.BP3_1_09.value_counts()

0.0    9975
1.0    2708
Name: BP3_1_09, dtype: int64

In [192]:
df_copy.BP3_1_09.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_09.value_counts().astype('int64')

0    9975
1    2708
Name: BP3_1_09, dtype: int64

In [193]:
df_copy.BP3_1_10.value_counts()

0.0    12185
1.0      498
Name: BP3_1_10, dtype: int64

In [194]:
df_copy.BP3_1_10.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_10.value_counts().astype('int64')

0    12185
1      498
Name: BP3_1_10, dtype: int64

In [195]:
df_copy.BP3_1_11.value_counts()

0.0    9532
1.0    3151
Name: BP3_1_11, dtype: int64

In [196]:
df_copy.BP3_1_11.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_11.value_counts().astype('int64')

0    9532
1    3151
Name: BP3_1_11, dtype: int64

In [197]:
df_copy.BP3_1_99.value_counts()

0.0    12005
1.0      678
Name: BP3_1_99, dtype: int64

In [198]:
df_copy.BP3_1_99.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP3_1_99.value_counts().astype('int64')

0    12005
1      678
Name: BP3_1_99, dtype: int64

In [199]:
df_copy.BP3_2.value_counts()

2.0    3667
1.0    2117
9.0      20
Name: BP3_2, dtype: int64

In [200]:
df_copy.BP3_2.replace({1.0:'1',2.0:'2',9.0:'99'}, inplace=True)
df_copy.BP3_2.value_counts().astype('int64')

2     3667
1     2117
99      20
Name: BP3_2, dtype: int64

In [201]:
df_copy.BP4_1.value_counts()

1.0    1664
4.0     976
3.0     154
5.0      43
2.0      25
6.0      22
9.0      10
Name: BP4_1, dtype: int64

In [202]:
df_copy.BP4_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP4_1.value_counts().astype('int64')

1     1664
4      976
3      154
5       43
2       25
6       22
99      10
Name: BP4_1, dtype: int64

In [203]:
df_copy.BP5_1.value_counts()

1.0    5965
4.0     154
5.0      90
7.0      71
2.0      31
6.0      23
9.0      22
3.0      17
Name: BP5_1, dtype: int64

In [204]:
df_copy.BP5_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_1.value_counts().astype('int64')

1     5965
4      154
5       90
7       71
2       31
6       23
99      22
3       17
Name: BP5_1, dtype: int64

In [205]:
df_copy.BP5_2_1.value_counts()

1.0    4612
0.0    1761
Name: BP5_2_1, dtype: int64

In [206]:
df_copy.BP5_2_1.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_1.value_counts().astype('int64')

1    4612
0    1761
Name: BP5_2_1, dtype: int64

In [207]:
df_copy.BP5_2_2.value_counts()

0.0    6128
1.0     245
Name: BP5_2_2, dtype: int64

In [208]:
df_copy.BP5_2_2.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_2.value_counts().astype('int64')

0    6128
1     245
Name: BP5_2_2, dtype: int64

In [209]:
df_copy.BP5_2_3.value_counts()

0.0    6139
1.0     234
Name: BP5_2_3, dtype: int64

In [210]:
df_copy.BP5_2_3.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_3.value_counts().astype('int64')

0    6139
1     234
Name: BP5_2_3, dtype: int64

In [211]:
df_copy.BP5_2_4.value_counts()

0.0    4990
1.0    1383
Name: BP5_2_4, dtype: int64

In [212]:
df_copy.BP5_2_4.replace({1.0:'1',0.0:'0'}, inplace=True)
df_copy.BP5_2_4.value_counts().astype('int64')

0    4990
1    1383
Name: BP5_2_4, dtype: int64

In [213]:
df_copy.BP5_3.value_counts()

3.0    4551
1.0     305
2.0     124
9.0      10
Name: BP5_3, dtype: int64

In [214]:
df_copy.BP5_3.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_3.value_counts().astype('int64')

3     4551
1      305
2      124
99      10
Name: BP5_3, dtype: int64

In [215]:
df_copy.BP6_1.value_counts()

9.0    30
2.0    25
1.0    21
Name: BP6_1, dtype: int64

In [216]:
df_copy.BP6_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_1.value_counts().astype('int64')

99    30
2     25
1     21
Name: BP6_1, dtype: int64

In [217]:
df_copy.BP6_2.value_counts()

1.0    35
3.0    27
9.0     8
2.0     6
Name: BP6_2, dtype: int64

In [218]:
df_copy.BP6_2.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_2.value_counts().astype('int64')

1     35
3     27
99     8
2      6
Name: BP6_2, dtype: int64

In [219]:
df_copy.BP6_3.value_counts()

2.0    9
1.0    9
Name: BP6_3, dtype: int64

In [220]:
df_copy.BP6_3.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP6_3.value_counts().astype('int64')

1    9
2    9
Name: BP6_3, dtype: int64

In [221]:
df_copy.BP7_1.value_counts()

2.0    212
3.0    191
4.0    100
1.0     66
9.0      4
5.0      2
Name: BP7_1, dtype: int64

In [222]:
df_copy.BP7_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP7_1.value_counts().astype('int64')

2     212
3     191
4     100
1      66
99      4
5       2
Name: BP7_1, dtype: int64

In [223]:
df_copy.FAC_DEL.value_counts()

180     162
204     136
192     136
179     132
186     127
406     126
190     123
426     121
171     121
220     120
178     119
380     118
202     118
194     115
364     115
412     114
382     112
152     108
460     106
398     105
376     100
196      99
386      99
366      99
418      99
378      96
162      96
188      95
374      95
176      95
       ...
3690      1
3052      1
1581      1
6028      1
2799      1
1774      1
1454      1
7565      1
1358      1
5452      1
5420      1
1262      1
5324      1
1166      1
5228      1
5196      1
2735      1
3756      1
4716      1
4556      1
4428      1
2319      1
2255      1
2223      1
2159      1
1805      1
3852      1
1773      1
1709      1
2049      1
Name: FAC_DEL, Length: 2898, dtype: int64

In [224]:
df_copy.DOM.value_counts()

U    29752
C     9216
R     4510
Name: DOM, dtype: int64

In [225]:
df_copy.EST.value_counts()

104    1926
13      984
97      874
105     721
151     709
12      701
165     682
212     597
60      581
61      566
152     560
136     557
120     550
193     491
57      479
14      470
159     466
56      453
28      450
96      435
174     422
182     419
98      417
147     399
108     398
36      393
117     377
85      374
190     374
121     373
       ...
99       24
125      23
154      23
134      22
188      22
48       22
32       20
39       19
142      18
133      18
54       17
168      17
203      16
95       15
11       15
59       15
208      14
27       13
93       13
74       12
202      11
145      10
66        8
204       7
112       6
132       5
84        4
220       2
180       2
33        1
Name: EST, Length: 238, dtype: int64

In [226]:
df_copy.UPM.value_counts()

7517     49
735      46
9300     42
5428     41
8487     38
5263     33
5454     33
5069     33
615      33
5327     32
6122     32
5450     32
5087     32
4161     31
4980     30
5183     27
5458     27
10452    27
5045     27
5852     27
4585     27
1104     27
458      26
11366    26
8320     26
8466     26
10664    26
5432     25
5337     25
7169     25
         ..
4036      1
7056      1
7088      1
2994      1
11190     1
5991      1
3090      1
5959      1
3122      1
3154      1
1829      1
8983      1
6928      1
755       1
4196      1
2386      1
134       1
4228      1
4625      1
531       1
102       1
10806     1
4849      1
70        1
10307     1
2706      1
10902     1
38        1
10934     1
2049      1
Name: UPM, Length: 9534, dtype: int64

In [227]:
df_copy.FAC_DEL_AM.value_counts()
#Pendiente

180.0     85
178.0     80
390.0     74
203.0     72
410.0     70
408.0     67
211.0     66
378.0     65
212.0     64
182.0     63
172.0     63
412.0     61
186.0     61
372.0     60
188.0     60
169.0     59
197.0     57
192.0     57
191.0     56
216.0     55
360.0     55
190.0     54
176.0     54
200.0     54
138.0     53
202.0     53
388.0     52
156.0     51
170.0     51
370.0     51
          ..
6004.0     1
3756.0     1
1255.0     1
927.0      1
2752.0     1
2656.0     1
3048.0     1
8944.0     1
665.0      1
7880.0     1
3939.0     1
2045.0     1
5576.0     1
8688.0     1
723.0      1
4446.0     1
3186.0     1
1706.0     1
3978.0     1
1978.0     1
4748.0     1
2662.0     1
2425.0     1
989.0      1
3010.0     1
3413.0     1
5466.0     1
1029.0     1
3456.0     1
3086.0     1
Name: FAC_DEL_AM, Length: 2621, dtype: int64

In [228]:
l=[]
for i in df_copy.FAC_DEL_AM:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.FAC_DEL_AM = l
df_copy.FAC_DEL_AM.value_counts()

nan      20823
180         85
178         80
390         74
203         72
410         70
408         67
211         66
378         65
212         64
172         63
182         63
186         61
412         61
188         60
372         60
169         59
197         57
192         57
191         56
216         55
360         55
190         54
176         54
200         54
202         53
138         53
388         52
370         51
156         51
         ...
2806         1
2808         1
2812         1
2828         1
2892         1
2895         1
2900         1
2908         1
2708         1
8603         1
2690         1
2686         1
2566         1
2583         1
673          1
2592         1
669          1
2596         1
665          1
2606         1
2614         1
2619         1
2625         1
2645         1
2656         1
649          1
2662         1
10860        1
10871        1
8976         1
Name: FAC_DEL_AM, Length: 2622, dtype: int64

In [232]:
df_copy.to_csv('2014.csv')