In [1]:
import numpy as np
import pandas as pd

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2017/tmod_vic_envipe2017/conjunto_de_datos/tmod_vic2017.csv'

In [3]:
df = pd.read_csv(df_)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

1     6918
5     6894
2     6880
4     6843
3     6757
8      770
11     747
15     735
13     722
10     703
7      694
17     692
16     686
19     674
12     671
6      657
20     657
14     642
18     620
9      616
21      33
22      15
23       4
Name: VIV_SEL, dtype: int64

In [5]:
df_copy.HOGAR.value_counts()

1    43903
2      630
3       91
4        4
5        2
Name: HOGAR, dtype: int64

In [6]:
df_copy.ND_TIPO.value_counts()

1    36633
2     5537
3     1639
4      541
5      280
Name: ND_TIPO, dtype: int64

In [7]:
df_copy.TD_TIPO.value_counts()

1    31096
2     7796
3     3294
5     1400
4     1044
Name: TD_TIPO, dtype: int64

In [8]:
df_copy.BPCOD.value_counts()

2     7475
9     7386
3     6618
5     5818
4     5799
10    2742
7     2087
6     1832
8     1799
1     1106
11     982
13     707
15     121
14      82
12      76
Name: BPCOD, dtype: int64

In [9]:
df_copy.R_SEL.value_counts()

1     22309
2     14211
3      5250
4      1911
5       646
6       188
7        74
8        23
11        9
10        6
9         3
Name: R_SEL, dtype: int64

In [10]:
df_copy.RESUL_H.value_counts()

A\r    44630
Name: RESUL_H, dtype: int64

In [11]:
df_copy.replace({'A\r':'A'}, inplace=True)

In [12]:
df_copy.RESUL_H.value_counts()

A    44630
Name: RESUL_H, dtype: int64

In [13]:
df_copy.SEXO.value_counts()

2    22423
1    22207
Name: SEXO, dtype: int64

In [14]:
df_copy.EDAD.value_counts()

32    1334
30    1300
40    1275
23    1215
36    1207
22    1203
34    1197
38    1191
27    1174
24    1172
28    1166
26    1144
21    1143
37    1127
25    1121
35    1098
42    1096
39    1054
33    1044
43    1028
31    1024
29    1015
20     996
18     980
19     921
44     871
50     848
41     840
45     823
46     818
      ...
70     238
67     219
69     192
72     172
73     165
74     143
75     111
76     109
71     103
77      94
80      92
78      90
83      70
81      68
79      62
82      45
84      43
85      39
86      37
87      19
88      13
90      12
93       9
97       9
89       8
92       7
91       7
94       4
96       3
95       2
Name: EDAD, Length: 81, dtype: int64

In [15]:
df_copy.AREAM_OCU.value_counts()

\r      17926
01\r     5904
02\r     1488
03\r     1248
04\r     1152
29\r     1129
14\r     1065
36\r     1009
21\r      954
06\r      840
08\r      816
39\r      766
41\r      716
33\r      696
18\r      686
40\r      669
25\r      666
05\r      605
26\r      595
09\r      551
07\r      525
15\r      493
13\r      493
27\r      408
31\r      403
19\r      398
28\r      393
24\r      379
10\r      352
43\r      344
17\r      295
32\r      281
16\r      269
12\r      116
Name: AREAM_OCU, dtype: int64

In [16]:
df_copy.replace({'01\r':1,'02\r':2,'03\r':3,'04\r':4,
                '29\r':29,'14\r':14,'36\r':36,'21\r':21,'06\r':6,
                '08\r':8,'39\r':39,'41\r':41,'33\r':33,'18\r':18,
                '40\r':40,'25\r':25,'05\r':5,'26\r':26,'09\r':9,
                '07\r':7,'13\r':13,'15\r':15,'27\r':27,'31\r':31,
                '19\r':19,'28\r':28,'24\r':24,'10\r':10,'43\r':43,
                '17\r':17,'32\r':32,'16\r':16,'12\r':12,'\r':99}, inplace=True)

In [17]:
df_copy.AREAM_OCU.value_counts()

99    17926
1      5904
2      1488
3      1248
4      1152
29     1129
14     1065
36     1009
21      954
6       840
8       816
39      766
41      716
33      696
18      686
40      669
25      666
5       605
26      595
9       551
7       525
13      493
15      493
27      408
31      403
19      398
28      393
24      379
10      352
43      344
17      295
32      281
16      269
12      116
Name: AREAM_OCU, dtype: int64

In [18]:
df_copy.replace({'\r':'99'}, inplace=True)

In [19]:
df_copy.AREAM_OCU.value_counts()

99    17926
1      5904
2      1488
3      1248
4      1152
29     1129
14     1065
36     1009
21      954
6       840
8       816
39      766
41      716
33      696
18      686
40      669
25      666
5       605
26      595
9       551
7       525
13      493
15      493
27      408
31      403
19      398
28      393
24      379
10      352
43      344
17      295
32      281
16      269
12      116
Name: AREAM_OCU, dtype: int64

In [20]:
df_copy.BP1_1.value_counts()

12    5151
11    4920
6     4184
10    3605
3     3452
5     3415
2     3404
8     3205
9     3194
7     3072
1     2659
4     2604
99    1765
Name: BP1_1, dtype: int64

In [21]:
df_copy.BP1_2C.value_counts()

9     4116
15    2454
2     2128
14    1963
21    1884
17    1748
8     1692
16    1520
12    1482
27    1350
26    1345
6     1341
19    1340
22    1311
3     1306
11    1295
25    1276
1     1225
23    1216
10    1175
28    1156
31    1122
7     1094
5     1073
29    1023
20    1001
13     967
30     959
4      907
24     741
18     707
32     680
99      33
Name: BP1_2C, dtype: int64

In [22]:
df_copy.BP1_3C.value_counts()

2      2403
5      2368
1      2220
4      2218
7      2204
3      1685
14     1301
39     1286
6      1156
8      1114
30     1084
10     1027
114    1018
17     1017
37      851
12      850
20      771
19      762
50      754
11      668
15      655
35      650
9       616
28      583
18      580
53      576
33      568
101     567
48      475
32      431
       ...
137       2
210       2
234       2
406       2
181       2
199       2
248       2
454       2
491       2
133       2
265       2
212       1
364       1
171       1
459       1
367       1
211       1
179       1
558       1
201       1
253       1
226       1
375       1
167       1
366       1
135       1
173       1
293       1
409       1
191       1
Name: BP1_3C, Length: 248, dtype: int64

In [23]:
df_copy.BP1_4.value_counts()

2    13875
3    11394
1     8859
4     8430
9     2072
Name: BP1_4, dtype: int64

In [24]:
df_copy.BP1_4.replace({9:99}, inplace=True)

In [25]:
df_copy.BP1_4.value_counts()

2     13875
3     11394
1      8859
4      8430
99     2072
Name: BP1_4, dtype: int64

In [26]:
df_copy.BP1_5.value_counts()

2    20153
1    14604
4     2812
3     2072
6     1848
5     1703
8      935
9      309
7      194
Name: BP1_5, dtype: int64

In [27]:
df_copy.BP1_5.replace({9:99}, inplace=True)

In [28]:
df_copy.BP1_5.value_counts()

2     20153
1     14604
4      2812
3      2072
6      1848
5      1703
8       935
99      309
7       194
Name: BP1_5, dtype: int64

In [29]:
df_copy.BP1_6.value_counts()

1\r    20273
2\r    13853
99     10504
Name: BP1_6, dtype: int64

In [30]:
df_copy.BP1_6.replace({'1\r':1,'2\r':2}, inplace=True)

In [31]:
df_copy.BP1_6.value_counts()

1     20273
2     13853
99    10504
Name: BP1_6, dtype: int64

In [32]:
df_copy.BP1_7.value_counts()

99     24357
1\r    15775
2\r     4498
Name: BP1_7, dtype: int64

In [33]:
df_copy.BP1_7.replace({'1\r':1,'2\r':2}, inplace=True)

In [34]:
df_copy.BP1_7.value_counts()

99    24357
1     15775
2      4498
Name: BP1_7, dtype: int64

In [35]:
df_copy.BP1_8.value_counts()

99     28855
2\r     8653
1\r     7116
9\r        6
Name: BP1_8, dtype: int64

In [36]:
df_copy.BP1_8.replace({'1\r':1,'2\r':2,'9\r':99}, inplace=True)

In [37]:
df_copy.BP1_8.value_counts()

99    28861
2      8653
1      7116
Name: BP1_8, dtype: int64

In [38]:
df_copy.BP1_9.value_counts()

99     28855
1\r     7894
2\r     4516
3\r     1607
9\r      572
4\r      555
6\r      406
5\r      225
Name: BP1_9, dtype: int64

In [39]:
df_copy.BP1_9.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,
                '5\r':5,'6\r':6,'9\r':99,'99':99}, inplace=True)

In [40]:
df_copy.BP1_9.value_counts()

99    29427
1      7894
2      4516
3      1607
4       555
6       406
5       225
Name: BP1_9, dtype: int64

In [41]:
df_copy.BP1_10_1.value_counts()

99     28855
1\r    14333
0\r     1442
Name: BP1_10_1, dtype: int64

In [42]:
df_copy.BP1_10_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [43]:
df_copy.BP1_10_1.value_counts()

99    28855
1     14333
0      1442
Name: BP1_10_1, dtype: int64

In [44]:
df_copy.BP1_10_2.value_counts()

99     28855
0\r    13413
1\r     2362
Name: BP1_10_2, dtype: int64

In [45]:
df_copy.BP1_10_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [46]:
df_copy.BP1_10_2.value_counts()

99    28855
0     13413
1      2362
Name: BP1_10_2, dtype: int64

In [47]:
df_copy.BP1_10_9.value_counts()

99     28855
0\r    15370
1\r      405
Name: BP1_10_9, dtype: int64

In [48]:
df_copy.BP1_10_9.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [49]:
df_copy.BP1_10_9.value_counts()

99    28855
0     15370
1       405
Name: BP1_10_9, dtype: int64

In [50]:
df_copy.BP1_11.value_counts()

99     28855
4\r     4759
3\r     3610
5\r     2842
9\r     2129
8\r      998
6\r      945
2\r      378
7\r       97
1\r       17
Name: BP1_11, dtype: int64

In [51]:
df_copy.BP1_11.replace({'4\r':4,'3\r':3,'5\r':5,'9\r':9,
                '8\r':8,'6\r':6,'2\r':2,'7\r':7,'1\r':1,'9\r':99,'99':99}, inplace=True)

In [52]:
df_copy.BP1_11.value_counts()

99    30984
4      4759
3      3610
5      2842
8       998
6       945
2       378
7        97
1        17
Name: BP1_11, dtype: int64

In [53]:
df_copy.BP1_12_1.value_counts()

99     28855
1\r    11884
0\r     3891
Name: BP1_12_1, dtype: int64

In [54]:
df_copy.BP1_12_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [55]:
df_copy.BP1_12_1.value_counts()

99    28855
1     11884
0      3891
Name: BP1_12_1, dtype: int64

In [56]:
df_copy.BP1_12_2.value_counts()

99     28855
0\r    14269
1\r     1506
Name: BP1_12_2, dtype: int64

In [57]:
df_copy.BP1_12_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [58]:
df_copy.BP1_12_2.value_counts()

99    28855
0     14269
1      1506
Name: BP1_12_2, dtype: int64

In [59]:
df_copy.BP1_12_3.value_counts()

99     28855
0\r    14829
1\r      946
Name: BP1_12_3, dtype: int64

In [60]:
df_copy.BP1_12_3.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [61]:
df_copy.BP1_12_3.value_counts()

99    28855
0     14829
1       946
Name: BP1_12_3, dtype: int64

In [62]:
df_copy.BP1_12_4.value_counts()

99     28855
0\r    15043
1\r      732
Name: BP1_12_4, dtype: int64

In [63]:
df_copy.BP1_12_4.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [64]:
df_copy.BP1_12_4.value_counts()

99    28855
0     15043
1       732
Name: BP1_12_4, dtype: int64

In [65]:
df_copy.BP1_12_5.value_counts()

99     28855
0\r    15363
1\r      412
Name: BP1_12_5, dtype: int64

In [66]:
df_copy.BP1_12_5.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [67]:
df_copy.BP1_12_5.value_counts()

99    28855
0     15363
1       412
Name: BP1_12_5, dtype: int64

In [68]:
df_copy.BP1_12_9.value_counts()

99     28855
0\r    15395
1\r      380
Name: BP1_12_9, dtype: int64

In [69]:
df_copy.BP1_12_9.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [70]:
df_copy.BP1_12_9.value_counts()

99    28855
0     15395
1       380
Name: BP1_12_9, dtype: int64

In [71]:
df_copy.BP1_13.value_counts()

99     32746
2\r     9282
1\r     2601
9\r        1
Name: BP1_13, dtype: int64

In [72]:
df_copy.BP1_13.replace({'1\r':1,'2\r':0,'99':99,'9\r':99}, inplace=True)

In [73]:
df_copy.BP1_13.value_counts()

99    32747
0      9282
1      2601
Name: BP1_13, dtype: int64

In [74]:
df_copy.BP1_14_1.value_counts()

99     28855
0\r    13095
1\r     2680
Name: BP1_14_1, dtype: int64

In [75]:
df_copy.BP1_14_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [76]:
df_copy.BP1_14_1.value_counts()

99    28855
0     13095
1      2680
Name: BP1_14_1, dtype: int64

In [77]:
df_copy.BP1_14_2.value_counts()

99     28855
0\r    13885
1\r     1890
Name: BP1_14_2, dtype: int64

In [78]:
df_copy.BP1_14_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [79]:
df_copy.BP1_14_2.value_counts()

99    28855
0     13885
1      1890
Name: BP1_14_2, dtype: int64

In [80]:
df_copy.BP1_14_3.value_counts()

99     28855
0\r    15729
1\r       46
Name: BP1_14_3, dtype: int64

In [81]:
df_copy.BP1_14_3.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [82]:
df_copy.BP1_14_3.value_counts()

99    28855
0     15729
1        46
Name: BP1_14_3, dtype: int64

In [83]:
df_copy.BP1_14_4.value_counts()

99     28855
0\r     8840
1\r     6935
Name: BP1_14_4, dtype: int64

In [84]:
df_copy.BP1_14_4.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [85]:
df_copy.BP1_14_4.value_counts()

99    28855
0      8840
1      6935
Name: BP1_14_4, dtype: int64

In [86]:
df_copy.BP1_14_9.value_counts()

99     28855
0\r    10905
1\r     4870
Name: BP1_14_9, dtype: int64

In [87]:
df_copy.BP1_14_9.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [88]:
df_copy.BP1_15.value_counts()

99     28855
2\r     7023
1\r     5560
9\r     3192
Name: BP1_15, dtype: int64

In [89]:
df_copy.BP1_15.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [90]:
df_copy.BP1_15.value_counts()

99    32047
2      7023
1      5560
Name: BP1_15, dtype: int64

In [91]:
df_copy.BP1_16_1.value_counts()

99     39070
1\r     3220
0\r     2340
Name: BP1_16_1, dtype: int64

In [92]:
df_copy.BP1_16_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [93]:
df_copy.BP1_16_1.value_counts()

99    39070
1      3220
0      2340
Name: BP1_16_1, dtype: int64

In [94]:
df_copy.BP1_16_2.value_counts()

99     39070
0\r     3046
1\r     2514
Name: BP1_16_2, dtype: int64

In [95]:
df_copy.BP1_16_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [96]:
df_copy.BP1_16_2.value_counts()

99    39070
0      3046
1      2514
Name: BP1_16_2, dtype: int64

In [97]:
df_copy.BP1_16_3.value_counts()

99     39070
0\r     5302
1\r      258
Name: BP1_16_3, dtype: int64

In [98]:
df_copy.BP1_16_3.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [99]:
df_copy.BP1_16_3.value_counts()

99    39070
0      5302
1       258
Name: BP1_16_3, dtype: int64

In [100]:
df_copy.BP1_16_4.value_counts()

99     39070
0\r     5517
1\r       43
Name: BP1_16_4, dtype: int64

In [101]:
df_copy.BP1_16_4.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [102]:
df_copy.BP1_16_4.value_counts()

99    39070
0      5517
1        43
Name: BP1_16_4, dtype: int64

In [103]:
df_copy.BP1_16_9.value_counts()

99     39070
0\r     5527
1\r       33
Name: BP1_16_9, dtype: int64

In [104]:
df_copy.BP1_16_9.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [105]:
df_copy.BP1_16_9.value_counts()

99    39070
0      5527
1        33
Name: BP1_16_9, dtype: int64

In [106]:
df_copy.BP1_17.value_counts()

99     39070
2\r     5120
1\r      438
9\r        2
Name: BP1_17, dtype: int64

In [107]:
df_copy.BP1_17.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [108]:
df_copy.BP1_17.value_counts()

99    39072
2      5120
1       438
Name: BP1_17, dtype: int64

In [109]:
df_copy.BP1_18.value_counts()

99     29293
2\r    12838
1\r     2245
9\r      254
Name: BP1_18, dtype: int64

In [110]:
df_copy.BP1_18.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [111]:
df_copy.BP1_18.value_counts()

99    29547
2     12838
1      2245
Name: BP1_18, dtype: int64

In [112]:
df_copy.BP1_19_1.value_counts()

99     41947
1\r     1914
0\r      769
Name: BP1_19_1, dtype: int64

In [113]:
df_copy.BP1_19_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [114]:
df_copy.BP1_19_1.value_counts()

99    41947
1      1914
0       769
Name: BP1_19_1, dtype: int64

In [115]:
df_copy.BP1_19_2.value_counts()

99     41947
0\r     2215
1\r      468
Name: BP1_19_2, dtype: int64

In [116]:
df_copy.BP1_19_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [117]:
df_copy.BP1_19_2.value_counts()

99    41947
0      2215
1       468
Name: BP1_19_2, dtype: int64

In [118]:
df_copy.BP1_19_3.value_counts()

99     41947
0\r     2591
1\r       92
Name: BP1_19_3, dtype: int64

In [119]:
df_copy.BP1_19_3.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [120]:
df_copy.BP1_19_3.value_counts()

99    41947
0      2591
1        92
Name: BP1_19_3, dtype: int64

In [121]:
df_copy.BP1_19_4.value_counts()

99     41947
0\r     2536
1\r      147
Name: BP1_19_4, dtype: int64

In [122]:
df_copy.BP1_19_4.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [123]:
df_copy.BP1_19_4.value_counts()

99    41947
0      2536
1       147
Name: BP1_19_4, dtype: int64

In [124]:
df_copy.BP1_19_5.value_counts()

99     41947
0\r     2675
1\r        8
Name: BP1_19_5, dtype: int64

In [125]:
df_copy.BP1_19_5.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [126]:
df_copy.BP1_19_5.value_counts()

99    41947
0      2675
1         8
Name: BP1_19_5, dtype: int64

In [127]:
df_copy.BP1_19_6.value_counts()

99     41947
0\r     2598
1\r       85
Name: BP1_19_6, dtype: int64

In [128]:
df_copy.BP1_19_6.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [129]:
df_copy.BP1_19_6.value_counts()

99    41947
0      2598
1        85
Name: BP1_19_6, dtype: int64

In [130]:
df_copy.BP1_19_7.value_counts()

99     41947
0\r     2650
1\r       33
Name: BP1_19_7, dtype: int64

In [131]:
df_copy.BP1_19_7.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [132]:
df_copy.BP1_19_7.value_counts()

99    41947
0      2650
1        33
Name: BP1_19_7, dtype: int64

In [133]:
df_copy.BP1_19_8.value_counts()

99     41947
0\r     2152
1\r      531
Name: BP1_19_8, dtype: int64

In [134]:
df_copy.BP1_19_8.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [135]:
df_copy.BP1_19_8.value_counts()

99    41947
0      2152
1       531
Name: BP1_19_8, dtype: int64

In [136]:
df_copy.BP1_20.value_counts()

2    39954
1     4676
Name: BP1_20, dtype: int64

In [137]:
df_copy.BP1_21.value_counts()

99     26171
2\r    18196
1\r      162
9\r      101
Name: BP1_21, dtype: int64

In [138]:
df_copy.BP1_21.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [139]:
df_copy.BP1_21.value_counts()

99    26272
2     18196
1       162
Name: BP1_21, dtype: int64

In [140]:
df_copy.BP1_22.value_counts()

99     44468
2\r      121
1\r       41
Name: BP1_22, dtype: int64

In [141]:
df_copy.BP1_22.replace({'1\r':1,'2\r':2,'99':99}, inplace=True)

In [142]:
df_copy.BP1_22.value_counts()

99    44468
2       121
1        41
Name: BP1_22, dtype: int64

In [143]:
df_copy.BP1_23.value_counts()

4       13219
6        6371
3        5167
99       4838
7        4443
9        3498
5        3052
1        1941
8        1605
99\r      312
2         184
Name: BP1_23, dtype: int64

In [144]:
df_copy.BP1_23.replace({'99\r':99,'99':99}, inplace=True)

In [145]:
df_copy.BP1_23.value_counts()

4     13219
6      6371
3      5167
99     5150
7      4443
9      3498
5      3052
1      1941
8      1605
2       184
Name: BP1_23, dtype: int64

In [146]:
df_copy.BP1_24_1.value_counts()

99     39913
1\r     3054
2\r     1260
9\r      403
Name: BP1_24_1, dtype: int64

In [147]:
df_copy.BP1_24_1.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [148]:
df_copy.BP1_24_1.value_counts()

99    40316
1      3054
2      1260
Name: BP1_24_1, dtype: int64

In [149]:
df_copy.BP1_24_2.value_counts()

99     39913
1\r     1940
2\r     1778
9\r      999
Name: BP1_24_2, dtype: int64

In [150]:
df_copy.BP1_24_2.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [151]:
df_copy.BP1_24_2.value_counts()

99    40912
1      1940
2      1778
Name: BP1_24_2, dtype: int64

In [152]:
df_copy.BP1_25_1.value_counts()

99     41576
7\r     1486
2\r      655
3\r      273
9\r      200
5\r      160
8\r      116
4\r       83
1\r       81
Name: BP1_25_1, dtype: int64

In [153]:
df_copy.BP1_25_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'7\r':7,'8\r':8,'99':99,'9\r':99}, inplace=True)

In [154]:
df_copy.BP1_25_1.value_counts()

99    41776
7      1486
2       655
3       273
5       160
8       116
4        83
1        81
Name: BP1_25_1, dtype: int64

In [155]:
df_copy.BP1_25_2.value_counts()

99     42690
7\r      701
2\r      453
6\r      197
3\r      178
9\r      158
5\r       88
1\r       70
4\r       58
8\r       37
Name: BP1_25_2, dtype: int64

In [156]:
df_copy.BP1_25_2.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'7\r':7,'8\r':8,'99':99,'9\r':99}, inplace=True)

In [157]:
df_copy.BP1_25_2.value_counts()

99    42848
7       701
2       453
6       197
3       178
5        88
1        70
4        58
8        37
Name: BP1_25_2, dtype: int64

In [158]:
df_copy.BP1_26_1.value_counts()

99     43370
4\r      383
2\r      325
9\r      160
6\r      130
1\r      116
3\r      115
5\r       31
Name: BP1_26_1, dtype: int64

In [159]:
df_copy.BP1_26_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'99':99,'9\r':99}, inplace=True)

In [160]:
df_copy.BP1_26_1.value_counts()

99    43530
4       383
2       325
6       130
1       116
3       115
5        31
Name: BP1_26_1, dtype: int64

In [161]:
df_copy.BP1_26_2.value_counts()

99     42852
4\r      481
2\r      419
9\r      400
6\r      156
1\r      131
3\r      120
5\r       71
Name: BP1_26_2, dtype: int64

In [162]:
df_copy.BP1_26_2.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'99':99,'9\r':99}, inplace=True)

In [163]:
df_copy.BP1_26_2.value_counts()

99    43252
4       481
2       419
6       156
1       131
3       120
5        71
Name: BP1_26_2, dtype: int64

In [164]:
df_copy.BP1_27.value_counts()

99     39913
2\r     1592
4\r     1286
3\r     1018
1\r      703
9\r      118
Name: BP1_27, dtype: int64

In [165]:
df_copy.BP1_27.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'99':99,'9\r':99}, inplace=True)

In [166]:
df_copy.BP1_27.value_counts()

99    40031
2      1592
4      1286
3      1018
1       703
Name: BP1_27, dtype: int64

In [167]:
df_copy.BP1_28.value_counts()

99     39913
3\r     1657
2\r     1486
5\r      473
4\r      469
6\r      348
1\r      270
9\r       14
Name: BP1_28, dtype: int64

In [168]:
df_copy.BP1_28.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'99':99,'9\r':99}, inplace=True)

In [169]:
df_copy.BP1_28.value_counts()

99    39927
3      1657
2      1486
5       473
4       469
6       348
1       270
Name: BP1_28, dtype: int64

In [170]:
df_copy.BP1_29.value_counts()

99     39913
2\r     2203
3\r     1276
4\r      947
1\r      291
Name: BP1_29, dtype: int64

In [171]:
df_copy.BP1_29.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'99':99}, inplace=True)

In [172]:
df_copy.BP1_30.value_counts()

2    40759
1     3871
Name: BP1_30, dtype: int64

In [173]:
df_copy.BP1_31_1.value_counts()

99     40759
0\r     3635
1\r      236
Name: BP1_31_1, dtype: int64

In [174]:
df_copy.BP1_31_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [175]:
df_copy.BP1_31_1.value_counts()

99    40759
0      3635
1       236
Name: BP1_31_1, dtype: int64

In [176]:
df_copy.BP1_31_2.value_counts()

99     40759
1\r     2241
0\r     1630
Name: BP1_31_2, dtype: int64

In [177]:
df_copy.BP1_31_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [178]:
df_copy.BP1_31_2.value_counts()

99    40759
1      2241
0      1630
Name: BP1_31_2, dtype: int64

In [179]:
df_copy.BP1_31_3.value_counts()

99     40759
0\r     3802
1\r       69
Name: BP1_31_3, dtype: int64

In [180]:
df_copy.BP1_31_3.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [181]:
df_copy.BP1_31_3.value_counts()

99    40759
0      3802
1        69
Name: BP1_31_3, dtype: int64

In [182]:
df_copy.BP1_31_4.value_counts()

99     40759
0\r     3474
1\r      397
Name: BP1_31_4, dtype: int64

In [183]:
df_copy.BP1_31_4.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [184]:
df_copy.BP1_31_4.value_counts()

99    40759
0      3474
1       397
Name: BP1_31_4, dtype: int64

In [185]:
df_copy.BP1_31_5.value_counts()

99     40759
0\r     3715
1\r      156
Name: BP1_31_5, dtype: int64

In [186]:
df_copy.BP1_31_5.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [187]:
df_copy.BP1_31_5.value_counts()

99    40759
0      3715
1       156
Name: BP1_31_5, dtype: int64

In [188]:
df_copy.BP1_31_6.value_counts()

99     40759
0\r     3812
1\r       59
Name: BP1_31_6, dtype: int64

In [189]:
df_copy.BP1_31_6.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [190]:
df_copy.BP1_31_6.value_counts()

99    40759
0      3812
1        59
Name: BP1_31_6, dtype: int64

In [191]:
df_copy.BP1_31_7.value_counts()

99     40759
0\r     3783
1\r       88
Name: BP1_31_7, dtype: int64

In [192]:
df_copy.BP1_31_7.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [193]:
df_copy.BP1_31_7.value_counts()

99    40759
0      3783
1        88
Name: BP1_31_7, dtype: int64

In [194]:
df_copy.BP1_31_8.value_counts()

99     40759
0\r     3446
1\r      425
Name: BP1_31_8, dtype: int64

In [195]:
df_copy.BP1_31_8.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [196]:
df_copy.BP1_31_8.value_counts()

99    40759
0      3446
1       425
Name: BP1_31_8, dtype: int64

In [197]:
df_copy.BP1_31_9.value_counts()

99     40759
0\r     3566
1\r      305
Name: BP1_31_9, dtype: int64

In [198]:
df_copy.BP1_31_9.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [199]:
df_copy.BP1_31_9.value_counts()

99    40759
0      3566
1       305
Name: BP1_31_9, dtype: int64

In [200]:
df_copy.BP1_32_1.value_counts()

99     36743
0\r     5650
1\r     2237
Name: BP1_32_1, dtype: int64

In [201]:
df_copy.BP1_32_1.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [202]:
df_copy.BP1_32_1.value_counts()

99    36743
0      5650
1      2237
Name: BP1_32_1, dtype: int64

In [203]:
df_copy.BP1_32_2.value_counts()

99     36743
0\r     7775
1\r      112
Name: BP1_32_2, dtype: int64

In [204]:
df_copy.BP1_32_2.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [205]:
df_copy.BP1_32_2.value_counts()

99    36743
0      7775
1       112
Name: BP1_32_2, dtype: int64

In [206]:
df_copy.BP1_32_3.value_counts()

99     36743
0\r     7848
1\r       39
Name: BP1_32_3, dtype: int64

In [207]:
df_copy.BP1_32_3.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [208]:
df_copy.BP1_32_3.value_counts()

99    36743
0      7848
1        39
Name: BP1_32_3, dtype: int64

In [209]:
df_copy.BP1_32_4.value_counts()

99     36743
0\r     7856
1\r       31
Name: BP1_32_4, dtype: int64

In [210]:
df_copy.BP1_32_4.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [211]:
df_copy.BP1_32_4.value_counts()

99    36743
0      7856
1        31
Name: BP1_32_4, dtype: int64

In [212]:
df_copy.BP1_32_5.value_counts()

99     36743
1\r     5421
0\r     2466
Name: BP1_32_5, dtype: int64

In [213]:
df_copy.BP1_32_5.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [214]:
df_copy.BP1_32_5.value_counts()

99    36743
1      5421
0      2466
Name: BP1_32_5, dtype: int64

In [215]:
df_copy.BP1_32_9.value_counts()

99     36743
0\r     7791
1\r       96
Name: BP1_32_9, dtype: int64

In [216]:
df_copy.BP1_32_9.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [217]:
df_copy.BP1_32_9.value_counts()

99    36743
0      7791
1        96
Name: BP1_32_9, dtype: int64

In [218]:
df_copy.BP1_33.value_counts()

1    26523
5     9038
3     7668
2     1156
4      138
9      107
Name: BP1_33, dtype: int64

In [219]:
df_copy.BP1_34.value_counts()
#Pediente

99           9145
0000000\r    7534
0002000\r    2121
0001000\r    1984
0003000\r    1802
0000500\r    1688
9999999\r    1503
0005000\r    1449
0001500\r    1350
0000200\r    1080
0000300\r     937
0004000\r     895
0010000\r     775
0000800\r     711
0002500\r     626
0006000\r     620
0000600\r     574
0000100\r     573
0001200\r     572
0000400\r     529
0015000\r     455
0008000\r     436
0020000\r     435
0007000\r     428
0000700\r     400
0003500\r     380
0030000\r     297
0001800\r     244
0000050\r     214
0050000\r     201
             ...
0006100\r       1
0000054\r       1
0000021\r       1
0001770\r       1
0000108\r       1
0051000\r       1
0002250\r       1
0005400\r       1
0000830\r       1
1500000\r       1
0270000\r       1
0000085\r       1
0016300\r       1
0001320\r       1
0008300\r       1
0002367\r       1
0000014\r       1
0001070\r       1
0000294\r       1
0000710\r       1
0029800\r       1
0006300\r       1
0047000\r       1
0001870\r       1
0012100\r       1
0000199\r       1
0000175\r       1
0001360\r       1
0000256\r       1
0000135\r       1
Name: BP1_34, Length: 404, dtype: int64

In [220]:
df_copy.BP1_34 =  df_copy.BP1_35.replace( '\r', "", regex = True  )
df_copy.BP1_34.value_counts()

0000000    32621
99          9145
9999999      987
0001000      194
0000500      162
0002000      153
0000200      112
0000300      112
0005000      105
0003000      102
0001500       84
0000800       70
0000600       59
0010000       56
0000100       54
0004000       49
0000400       41
0001200       34
0015000       29
0002500       29
0000700       28
0006000       22
0007000       21
0000050       21
0000150       20
0008000       19
0020000       19
0000250       17
0050000       12
0030000       12
           ...
0001100        1
0000419        1
0250000        1
0003900        1
0003200        1
0001750        1
0024000        1
0000009        1
0004300        1
0000630        1
0072000        1
0042000        1
0005200        1
0035000        1
0013000        1
0000555        1
0090000        1
0001050        1
0016000        1
0003800        1
0001950        1
0650000        1
0093426        1
0005800        1
0000075        1
0000015        1
0003450        1
0003600        1
0004700        1
0000090        1
Name: BP1_34, Length: 127, dtype: int64

In [221]:
df_copy.BP1_35.value_counts()
#Pendiente

0000000\r    32621
99            9145
9999999\r      987
0001000\r      194
0000500\r      162
0002000\r      153
0000200\r      112
0000300\r      112
0005000\r      105
0003000\r      102
0001500\r       84
0000800\r       70
0000600\r       59
0010000\r       56
0000100\r       54
0004000\r       49
0000400\r       41
0001200\r       34
0002500\r       29
0015000\r       29
0000700\r       28
0006000\r       22
0007000\r       21
0000050\r       21
0000150\r       20
0020000\r       19
0008000\r       19
0000250\r       17
0050000\r       12
0030000\r       12
             ...
0000015\r        1
0003600\r        1
0000630\r        1
0003200\r        1
0000090\r        1
0024000\r        1
0004300\r        1
0000260\r        1
0004700\r        1
0003400\r        1
0005500\r        1
0028000\r        1
0042000\r        1
0002700\r        1
0013000\r        1
0001050\r        1
0001950\r        1
0017500\r        1
0048000\r        1
0090000\r        1
0013400\r        1
0003700\r        1
0035000\r        1
0001770\r        1
0110000\r        1
0093426\r        1
0000022\r        1
0000009\r        1
0005200\r        1
0003900\r        1
Name: BP1_35, Length: 127, dtype: int64

In [222]:
df_copy.BP1_35 =  df_copy.BP1_35.replace( '\r', "", regex = True  )
df_copy.BP1_35.value_counts()

0000000    32621
99          9145
9999999      987
0001000      194
0000500      162
0002000      153
0000200      112
0000300      112
0005000      105
0003000      102
0001500       84
0000800       70
0000600       59
0010000       56
0000100       54
0004000       49
0000400       41
0001200       34
0015000       29
0002500       29
0000700       28
0006000       22
0007000       21
0000050       21
0000150       20
0008000       19
0020000       19
0000250       17
0050000       12
0030000       12
           ...
0001100        1
0000419        1
0250000        1
0003900        1
0003200        1
0001750        1
0024000        1
0000009        1
0004300        1
0000630        1
0072000        1
0042000        1
0005200        1
0035000        1
0013000        1
0000555        1
0090000        1
0001050        1
0016000        1
0003800        1
0001950        1
0650000        1
0093426        1
0005800        1
0000075        1
0000015        1
0003450        1
0003600        1
0004700        1
0000090        1
Name: BP1_35, Length: 127, dtype: int64

In [223]:
df_copy.BP1_36_01.value_counts()

99     18436
0\r    16608
1\r     9586
Name: BP1_36_01, dtype: int64

In [224]:
df_copy.BP1_36_01.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [225]:
df_copy.BP1_36_02.value_counts()

99     18436
0\r    17730
1\r     8464
Name: BP1_36_02, dtype: int64

In [226]:
df_copy.BP1_36_02.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [227]:
df_copy.BP1_36_02.value_counts()

99    18436
0     17730
1      8464
Name: BP1_36_02, dtype: int64

In [228]:
df_copy.BP1_36_03.value_counts()

99     18436
0\r    15510
1\r    10684
Name: BP1_36_03, dtype: int64

In [229]:
df_copy.BP1_36_03.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [230]:
df_copy.BP1_36_03.value_counts()

99    18436
0     15510
1     10684
Name: BP1_36_03, dtype: int64

In [231]:
df_copy.BP1_36_04.value_counts()

99     18436
0\r    14307
1\r    11887
Name: BP1_36_04, dtype: int64

In [232]:
df_copy.BP1_36_04.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [233]:
df_copy.BP1_36_04.value_counts()

99    18436
0     14307
1     11887
Name: BP1_36_04, dtype: int64

In [234]:
df_copy.BP1_36_05.value_counts()

0\r    22510
99     18436
1\r     3684
Name: BP1_36_05, dtype: int64

In [235]:
df_copy.BP1_36_05.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [236]:
df_copy.BP1_36_05.value_counts()

0     22510
99    18436
1      3684
Name: BP1_36_05, dtype: int64

In [237]:
df_copy.BP1_36_06.value_counts()

0\r    19878
99     18436
1\r     6316
Name: BP1_36_06, dtype: int64

In [238]:
df_copy.BP1_36_06.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [239]:
df_copy.BP1_36_06.value_counts()

0     19878
99    18436
1      6316
Name: BP1_36_06, dtype: int64

In [240]:
df_copy.BP1_36_07.value_counts()

0\r    20885
99     18436
1\r     5309
Name: BP1_36_07, dtype: int64

In [241]:
df_copy.BP1_36_07.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [242]:
df_copy.BP1_36_07.value_counts()

0     20885
99    18436
1      5309
Name: BP1_36_07, dtype: int64

In [243]:
df_copy.BP1_36_08.value_counts()

99     18436
0\r    14627
1\r    11567
Name: BP1_36_08, dtype: int64

In [244]:
df_copy.BP1_36_08.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [245]:
df_copy.BP1_36_08.value_counts()

99    18436
0     14627
1     11567
Name: BP1_36_08, dtype: int64

In [246]:
df_copy.BP1_36_09.value_counts()

99     18436
1\r    14536
0\r    11658
Name: BP1_36_09, dtype: int64

In [247]:
df_copy.BP1_36_09.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [248]:
df_copy.BP1_36_09.value_counts()

99    18436
1     14536
0     11658
Name: BP1_36_09, dtype: int64

In [249]:
df_copy.BP1_36_10.value_counts()

0\r    25239
99     18436
1\r      955
Name: BP1_36_10, dtype: int64

In [250]:
df_copy.BP1_36_10.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [251]:
df_copy.BP1_36_10.value_counts()

0     25239
99    18436
1       955
Name: BP1_36_10, dtype: int64

In [252]:
df_copy.BP1_36_11.value_counts()

0\r    25464
99     18436
1\r      730
Name: BP1_36_11, dtype: int64

In [253]:
df_copy.BP1_36_11.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [254]:
df_copy.BP1_36_11.value_counts()

0     25464
99    18436
1       730
Name: BP1_36_11, dtype: int64

In [255]:
df_copy.BP1_36_99.value_counts()

0\r    25967
99     18436
1\r      227
Name: BP1_36_99, dtype: int64

In [256]:
df_copy.BP1_36_99.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [257]:
df_copy.BP1_36_99.value_counts()

0     25967
99    18436
1       227
Name: BP1_36_99, dtype: int64

In [258]:
df_copy.BP2_1.value_counts()

99     43524
2\r      772
1\r      323
9\r       11
Name: BP2_1, dtype: int64

In [259]:
df_copy.BP2_1.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)

In [260]:
df_copy.BP2_1.value_counts()

99    43535
2       772
1       323
Name: BP2_1, dtype: int64

In [261]:
df_copy.BP3_1_01.value_counts()

99     31181
0\r    13189
1\r      260
Name: BP3_1_01, dtype: int64

In [262]:
df_copy.BP3_1_01.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [263]:
df_copy.BP3_1_01.value_counts()

99    31181
0     13189
1       260
Name: BP3_1_01, dtype: int64

In [264]:
df_copy.BP3_1_02.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [265]:
df_copy.BP3_1_02.value_counts()

99    31181
0     12970
1       479
Name: BP3_1_02, dtype: int64

In [266]:
df_copy.BP3_1_03.value_counts()

99     31181
0\r    11572
1\r     1877
Name: BP3_1_03, dtype: int64

In [267]:
df_copy.BP3_1_03.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [268]:
df_copy.BP3_1_03.value_counts()

99    31181
0     11572
1      1877
Name: BP3_1_03, dtype: int64

In [269]:
df_copy.BP3_1_04.value_counts()

99     31181
0\r    12467
1\r      982
Name: BP3_1_04, dtype: int64

In [270]:
df_copy.BP3_1_04.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [271]:
df_copy.BP3_1_04.value_counts()

99    31181
0     12467
1       982
Name: BP3_1_04, dtype: int64

In [272]:
df_copy.BP3_1_05.value_counts()

99     31181
0\r    12543
1\r      906
Name: BP3_1_05, dtype: int64

In [273]:
df_copy.BP3_1_05.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)

In [274]:
df_copy.BP3_1_05.value_counts()

99    31181
0     12543
1       906
Name: BP3_1_05, dtype: int64

In [275]:
df_copy.BP3_1_06.value_counts()

99     31181
0\r    12144
1\r     1305
Name: BP3_1_06, dtype: int64

In [276]:
df_copy.BP3_1_06.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_06.value_counts()

99    31181
0     12144
1      1305
Name: BP3_1_06, dtype: int64

In [277]:
df_copy.BP3_1_07.value_counts()

99     31181
0\r     8264
1\r     5185
Name: BP3_1_07, dtype: int64

In [278]:
df_copy.BP3_1_07.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_07.value_counts()

99    31181
0      8264
1      5185
Name: BP3_1_07, dtype: int64

In [279]:
df_copy.BP3_1_08.value_counts()

99     31181
0\r    12721
1\r      728
Name: BP3_1_08, dtype: int64

In [280]:
df_copy.BP3_1_08.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_08.value_counts()

99    31181
0     12721
1       728
Name: BP3_1_08, dtype: int64

In [281]:
df_copy.BP3_1_09.value_counts()

99     31181
0\r    10009
1\r     3440
Name: BP3_1_09, dtype: int64

In [282]:
df_copy.BP3_1_09.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_09.value_counts()

99    31181
0     10009
1      3440
Name: BP3_1_09, dtype: int64

In [283]:
df_copy.BP3_1_10.value_counts()

99     31181
0\r    12836
1\r      613
Name: BP3_1_10, dtype: int64

In [284]:
df_copy.BP3_1_10.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_10.value_counts()

99    31181
0     12836
1       613
Name: BP3_1_10, dtype: int64

In [285]:
df_copy.BP3_1_11.value_counts()

99     31181
0\r    10843
1\r     2606
Name: BP3_1_11, dtype: int64

In [286]:
df_copy.BP3_1_11.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_11.value_counts()

99    31181
0     10843
1      2606
Name: BP3_1_11, dtype: int64

In [287]:
df_copy.BP3_1_12.value_counts()

99     31181
0\r    11482
1\r     1967
Name: BP3_1_12, dtype: int64

In [288]:
df_copy.BP3_1_12.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_12.value_counts()

99    31181
0     11482
1      1967
Name: BP3_1_12, dtype: int64

In [289]:
df_copy.BP3_1_99.value_counts()

99     31181
0\r    13301
1\r      148
Name: BP3_1_99, dtype: int64

In [290]:
df_copy.BP3_1_99.replace({'1\r':1,'0\r':0,'99':99}, inplace=True)
df_copy.BP3_1_99.value_counts()

99    31181
0     13301
1       148
Name: BP3_1_99, dtype: int64

In [291]:
df_copy.BP3_2.value_counts()

99     38831
2\r     3768
1\r     1991
9\r       40
Name: BP3_2, dtype: int64

In [292]:
df_copy.BP3_2.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)
df_copy.BP3_2.value_counts()

99    38871
2      3768
1      1991
Name: BP3_2, dtype: int64

In [293]:
df_copy.BP4_1.value_counts()

99     40744
1\r     1882
4\r     1429
3\r      452
5\r       59
6\r       23
9\r       21
2\r       20
Name: BP4_1, dtype: int64

In [294]:
df_copy.BP4_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'99':99,'9\r':99}, inplace=True)
df_copy.BP4_1.value_counts()

99    40765
1      1882
4      1429
3       452
5        59
6        23
2        20
Name: BP4_1, dtype: int64

In [295]:
df_copy.BP5_1.value_counts()

99     37244
1\r     7008
4\r      185
7\r       70
5\r       44
2\r       35
6\r       19
9\r       14
3\r       11
Name: BP5_1, dtype: int64

In [296]:
df_copy.BP5_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'7\r':7,'99':99,'9\r':99}, inplace=True)
df_copy.BP5_1.value_counts()

99    37258
1      7008
4       185
7        70
5        44
2        35
6        19
3        11
Name: BP5_1, dtype: int64

In [297]:
df_copy.BP5_2_1.value_counts()

99     37244
1\r     5040
0\r     2343
9\r        3
Name: BP5_2_1, dtype: int64

In [298]:
df_copy.BP5_2_1.replace({'1\r':1,'0\r':0,'99':99,'9\r':99}, inplace=True)
df_copy.BP5_2_1.value_counts()

99    37247
1      5040
0      2343
Name: BP5_2_1, dtype: int64

In [299]:
df_copy.BP5_2_2.value_counts()

99     37244
0\r     7252
1\r      131
9\r        3
Name: BP5_2_2, dtype: int64

In [300]:
df_copy.BP5_2_2.replace({'1\r':1,'0\r':0,'99':99,'9\r':99}, inplace=True)
df_copy.BP5_2_2.value_counts()

99    37247
0      7252
1       131
Name: BP5_2_2, dtype: int64

In [301]:
df_copy.BP5_2_3.value_counts()

99     37244
0\r     7168
1\r      215
9\r        3
Name: BP5_2_3, dtype: int64

In [302]:
df_copy.BP5_2_3.replace({'1\r':1,'0\r':0,'99':99,'9\r':99}, inplace=True)
df_copy.BP5_2_3.value_counts()

99    37247
0      7168
1       215
Name: BP5_2_3, dtype: int64

In [303]:
df_copy.BP5_2_4.value_counts()

99     37244
0\r     5314
1\r     2069
9\r        3
Name: BP5_2_4, dtype: int64

In [304]:
df_copy.BP5_2_4.replace({'1\r':1,'0\r':0,'99':99,'9\r':99}, inplace=True)
df_copy.BP5_2_4.value_counts()

99    37247
0      5314
1      2069
Name: BP5_2_4, dtype: int64

In [305]:
df_copy.BP5_3.value_counts()

99     39313
3\r     4937
1\r      231
2\r      125
9\r       24
Name: BP5_3, dtype: int64

In [306]:
df_copy.BP5_3.replace({'1\r':1,'2\r':2,'3\r':3,'99':99,'9\r':99}, inplace=True)
df_copy.BP5_3.value_counts()

99    39337
3      4937
1       231
2       125
Name: BP5_3, dtype: int64

In [307]:
df_copy.BP6_1.value_counts()

99     44554
2\r       24
1\r       21
3\r       15
9\r       12
4\r        4
Name: BP6_1, dtype: int64

In [308]:
df_copy.BP6_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'99':99,'9\r':99}, inplace=True)
df_copy.BP6_1.value_counts()

99    44566
2        24
1        21
3        15
4         4
Name: BP6_1, dtype: int64

In [309]:
df_copy.BP6_2.value_counts()

99     44554
1\r       30
9\r       15
3\r       12
2\r       11
4\r        8
Name: BP6_2, dtype: int64

In [310]:
df_copy.BP6_2.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'99':99,'9\r':99}, inplace=True)
df_copy.BP6_2.value_counts()

99    44569
1        30
3        12
2        11
4         8
Name: BP6_2, dtype: int64

In [311]:
df_copy.BP6_3.value_counts()

99     44617
2\r        8
1\r        3
9\r        2
Name: BP6_3, dtype: int64

In [312]:
df_copy.BP6_3.replace({'1\r':1,'2\r':2,'99':99,'9\r':99}, inplace=True)
df_copy.BP6_3.value_counts()

99    44619
2         8
1         3
Name: BP6_3, dtype: int64

In [313]:
df_copy.BP7_1.value_counts()

99     43923
2\r      305
3\r      203
4\r      113
1\r       69
9\r       16
5\r        1
Name: BP7_1, dtype: int64

In [314]:
df_copy.BP7_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'99':99,'9\r':99}, inplace=True)
df_copy.BP7_1.value_counts()

99    43939
2       305
3       203
4       113
1        69
5         1
Name: BP7_1, dtype: int64

In [315]:
df_copy.FAC_DEL.value_counts()

201      155
181      139
372      137
388      135
197      131
369      129
206      128
187      125
168      123
196      122
209      122
200      119
192      117
176      115
399      113
211      113
185      112
338      111
195      111
212      110
198      105
191      105
205      104
400      102
202      102
186      102
375      101
180      100
355      100
362       99
        ...
6701       1
2671       1
2767       1
3151       1
1294       1
2700       1
3471       1
1518       1
1582       1
3631       1
5740       1
3727       1
6477       1
4428       1
2191       1
10315      1
1965       1
4012       1
3596       1
7502       1
3372       1
5359       1
5295       1
1165       1
7278       1
2924       1
4943       1
4879       1
2828       1
2049       1
Name: FAC_DEL, Length: 3113, dtype: int64

In [316]:
df_copy.FAC_DEL_AM.value_counts()
#Pendiente

99          17926
000201\r      114
000211\r       89
000372\r       88
000400\r       87
000181\r       84
000388\r       81
000200\r       81
000192\r       80
000198\r       76
000187\r       75
000399\r       74
000385\r       72
000197\r       71
000186\r       71
000194\r       70
000196\r       70
000193\r       70
000206\r       69
000202\r       68
000464\r       68
000168\r       68
000405\r       68
000182\r       67
000411\r       66
000338\r       65
000195\r       65
000191\r       64
000458\r       64
000397\r       64
            ...
002465\r        1
002834\r        1
003273\r        1
002339\r        1
002900\r        1
002553\r        1
002464\r        1
002351\r        1
001827\r        1
002371\r        1
011482\r        1
002179\r        1
001717\r        1
001681\r        1
001595\r        1
003711\r        1
003560\r        1
007484\r        1
003558\r        1
002149\r        1
003588\r        1
001866\r        1
003236\r        1
002090\r        1
001838\r        1
003257\r        1
009868\r        1
008338\r        1
006607\r        1
002295\r        1
Name: FAC_DEL_AM, Length: 2842, dtype: int64

In [317]:
df_copy.FAC_DEL_AM =  df_copy.FAC_DEL_AM.replace( '\r', "", regex = True  )
df_copy.FAC_DEL_AM.value_counts()

99        17926
000201      114
000211       89
000372       88
000400       87
000181       84
000388       81
000200       81
000192       80
000198       76
000187       75
000399       74
000385       72
000197       71
000186       71
000196       70
000193       70
000194       70
000206       69
000405       68
000202       68
000464       68
000168       68
000182       67
000411       66
000338       65
000195       65
000191       64
000177       64
000458       64
          ...
002161        1
003822        1
003308        1
001589        1
002570        1
002322        1
005370        1
001922        1
001440        1
002870        1
004799        1
005783        1
002010        1
001860        1
003969        1
007561        1
007678        1
002795        1
001208        1
009868        1
003039        1
003162        1
004392        1
001189        1
003409        1
004409        1
006607        1
004486        1
010229        1
002428        1
Name: FAC_DEL_AM, Length: 2842, dtype: int64

In [318]:
df_copy.DOMINIO.value_counts()

U\r    30764
C\r     9401
R\r     4465
Name: DOMINIO, dtype: int64

In [319]:
df_copy.DOMINIO.replace({'U\r':'U','C\r':'C','R\r':'R'}, inplace=True)
df_copy.DOMINIO.value_counts()

U    30764
C     9401
R     4465
Name: DOMINIO, dtype: int64

In [320]:
df_copy.ESTRATO.value_counts()

2    22149
3    13095
4     5782
1     3604
Name: ESTRATO, dtype: int64

In [321]:
df_copy.EST_DIS.value_counts()

149    1808
148    1345
249     897
150     714
232     639
2       483
323     481
394     410
250     366
126     365
324     364
130     340
13      336
14      334
358     327
157     324
212     323
377     320
20      313
233     309
291     305
322     297
36      296
292     296
357     289
512     286
445     284
195     281
573     278
93      267
       ...
217       4
547       4
327       4
550       4
6         3
113       3
82        3
551       3
531       3
500       3
494       3
155       3
452       3
12        3
578       3
501       2
147       2
328       2
561       2
321       2
163       2
280       2
460       2
135       2
88        2
535       2
488       2
548       1
269       1
230       1
Name: EST_DIS, Length: 591, dtype: int64

In [322]:
df_copy.UPM_DIS.value_counts()

6283     33
9759     33
10801    32
10447    32
5621     30
6249     30
6272     29
10798    29
6782     28
7467     28
6763     28
5610     27
6748     27
10800    26
5398     26
6250     26
6261     26
1019     25
11008    25
7500     25
10948    25
12074    25
7516     24
1041     24
6248     24
6282     24
8742     24
3849     23
7424     23
10799    23
         ..
9482      1
4141      1
12043     1
12329     1
12297     1
12267     1
8141      1
12235     1
10154     1
8077      1
1902      1
3919      1
1870      1
12107     1
10058     1
3823      1
9514      1
9962      1
7885      1
1710      1
7821      1
9802      1
3631      1
11755     1
11723     1
9674      1
9642      1
11659     1
11563     1
2049      1
Name: UPM_DIS, Length: 11009, dtype: int64

In [323]:
df_copy.head()

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_1,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100172.02,0100172.02.01\r,0100172.02.01.02\r,0100172.02.01.02.09\r,100172,2,1,1,1,9,...,99,99,99,99,364,000364,U,3,2,11
1,100931.01,0100931.01.01\r,0100931.01.01.01\r,0100931.01.01.01.03\r,100931,1,1,1,1,3,...,99,99,99,99,182,000182,U,3,2,111
2,160114.20,0160114.20.01\r,0160114.20.01.01\r,0160114.20.01.01.02\r,160114,20,1,4,4,2,...,99,99,99,99,211,000211,R,2,11,295
3,100208.04,0100208.04.01\r,0100208.04.01.01\r,0100208.04.01.01.03\r,100208,4,1,1,2,3,...,99,99,99,99,147,000147,U,3,2,15
4,1409568.04,1409568.04.01\r,1409568.04.01.01\r,1409568.04.01.01.02\r,1409568,4,1,1,1,2,...,99,99,99,99,1026,001026,U,4,233,6238

In [324]:
df_copy.ID_HOG.value_counts()

0300117.05.01\r    20
0503969.02.01\r    18
2760149.17.01\r    17
0801393.05.01\r    15
2504246.03.03\r    15
2602317.01.01\r    15
0200962.02.01\r    14
2404049.12.01\r    14
1906743.02.01\r    14
2105792.05.01\r    14
1602091.04.01\r    14
2300512.01.01\r    14
2300549.04.01\r    14
2001905.02.01\r    14
1601328.05.02\r    13
1602178.05.01\r    13
2504574.13.01\r    13
2201503.04.01\r    13
0916991.01.01\r    13
1524460.17.01\r    13
2102068.04.01\r    13
1701412.03.01\r    13
0903979.02.01\r    13
1202588.05.01\r    13
2900696.02.01\r    13
0301017.10.01\r    13
3201065.02.01\r    12
0207208.02.01\r    12
0101312.01.01\r    12
3101351.04.01\r    12
                   ..
1700578.05.01\r     1
2900250.05.01\r     1
2900015.03.01\r     1
2760638.18.01\r     1
1101604.02.01\r     1
0921935.01.01\r     1
1504126.01.01\r     1
1410646.02.01\r     1
0916547.05.01\r     1
2202163.01.01\r     1
2400264.01.01\r     1
2301859.02.01\r     1
2302903.14.01\r     1
2700081.04.01\r     1
2902094.02.01\r     1
0807487.03.01\r     1
2300331.01.01\r     1
1909830.19.01\r     1
1060008.19.01\r     1
2700010.05.01\r     1
1410646.12.01\r     1
1601316.04.01\r     1
0400638.02.01\r     1
1510210.03.01\r     1
0202401.03.01\r     1
0501384.03.01\r     1
2302746.02.01\r     1
0806919.03.01\r     1
0506246.02.01\r     1
2901357.04.01\r     1
Name: ID_HOG, Length: 26180, dtype: int64

In [325]:
df_copy.ID_HOG =  df_copy.ID_HOG.replace( '\r', "", regex = True  )
df_copy.ID_HOG.value_counts()

0300117.05.01    20
0503969.02.01    18
2760149.17.01    17
0801393.05.01    15
2504246.03.03    15
2602317.01.01    15
2001905.02.01    14
0200962.02.01    14
1602091.04.01    14
1906743.02.01    14
2300549.04.01    14
2404049.12.01    14
2105792.05.01    14
2300512.01.01    14
1524460.17.01    13
0916991.01.01    13
2504574.13.01    13
1601328.05.02    13
2900696.02.01    13
1602178.05.01    13
1202588.05.01    13
0301017.10.01    13
2201503.04.01    13
2102068.04.01    13
0903979.02.01    13
1701412.03.01    13
0500043.01.01    12
0601551.02.01    12
1100586.01.01    12
1412809.10.01    12
                 ..
2402253.04.01     1
0301086.06.01     1
2560390.01.01     1
0205648.03.01     1
2301690.01.01     1
1403781.04.01     1
3103560.01.01     1
0911239.03.01     1
2500581.03.01     1
0300469.02.01     1
1302540.11.01     1
0903889.03.01     1
0922336.04.01     1
0911636.01.01     1
0903190.03.01     1
1605599.20.01     1
0203054.01.01     1
0905438.05.01     1
1660490.12.01     1
2804763.04.01     1
2760535.03.01     1
0100535.02.01     1
3000152.05.01     1
0360119.02.01     1
1104741.04.01     1
0102139.11.01     1
0100694.02.01     1
0916547.03.01     1
1512587.02.01     1
0203216.04.01     1
Name: ID_HOG, Length: 26180, dtype: int64

In [326]:
df_copy.ID_PER =  df_copy.ID_PER.replace( '\r', "", regex = True  )
df_copy.ID_PER.value_counts()

0300117.05.01.01    20
0503969.02.01.01    18
2760149.17.01.01    17
2504246.03.03.01    15
2602317.01.01.01    15
0801393.05.01.02    15
2001905.02.01.01    14
1602091.04.01.03    14
2105792.05.01.01    14
1906743.02.01.01    14
2300549.04.01.02    14
2300512.01.01.04    14
0200962.02.01.02    14
2404049.12.01.01    14
1524460.17.01.01    13
1701412.03.01.03    13
1601328.05.02.01    13
2504574.13.01.02    13
1202588.05.01.01    13
1602178.05.01.02    13
0903979.02.01.01    13
2201503.04.01.01    13
2900696.02.01.01    13
0916991.01.01.01    13
0301017.10.01.01    13
2102068.04.01.02    13
0300083.01.01.01    12
2100318.03.01.01    12
1412809.10.01.03    12
1100586.01.01.02    12
                    ..
0300599.01.01.01     1
3102850.02.01.01     1
0300032.05.01.03     1
1800226.02.01.02     1
1001261.02.01.03     1
1760018.03.01.01     1
1260715.01.01.04     1
1302698.12.01.01     1
0914480.05.01.01     1
0207260.04.01.05     1
0460211.08.01.01     1
2503653.03.01.02     1
1201240.01.01.02     1
0600198.05.01.01     1
1204532.12.01.03     1
0805452.04.01.02     1
2900558.03.01.02     1
1900524.01.01.02     1
0917000.02.02.01     1
2807367.02.01.02     1
0600706.03.01.02     1
2062335.19.01.01     1
2500279.01.01.04     1
0260116.18.01.01     1
2501546.02.01.01     1
0300312.03.01.01     1
0207283.01.01.01     1
0502475.04.01.02     1
1302399.01.01.02     1
1203647.15.01.02     1
Name: ID_PER, Length: 26180, dtype: int64

In [327]:
df_copy.head()

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_1,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,100172.02,0100172.02.01,0100172.02.01.02,0100172.02.01.02.09\r,100172,2,1,1,1,9,...,99,99,99,99,364,000364,U,3,2,11
1,100931.01,0100931.01.01,0100931.01.01.01,0100931.01.01.01.03\r,100931,1,1,1,1,3,...,99,99,99,99,182,000182,U,3,2,111
2,160114.20,0160114.20.01,0160114.20.01.01,0160114.20.01.01.02\r,160114,20,1,4,4,2,...,99,99,99,99,211,000211,R,2,11,295
3,100208.04,0100208.04.01,0100208.04.01.01,0100208.04.01.01.03\r,100208,4,1,1,2,3,...,99,99,99,99,147,000147,U,3,2,15
4,1409568.04,1409568.04.01,1409568.04.01.01,1409568.04.01.01.02\r,1409568,4,1,1,1,2,...,99,99,99,99,1026,001026,U,4,233,6238

In [328]:
df_copy.ID_DEL =  df_copy.ID_DEL.replace( '\r', "", regex = True  )
df_copy.ID_DEL.value_counts()

2605658.19.01.01.09    5
1601544.02.01.01.03    5
2504574.13.01.02.13    5
0803422.01.01.01.04    5
0804860.05.01.03.09    5
0805295.02.01.01.10    5
0400976.01.01.01.04    5
2901868.03.01.02.09    5
1102509.02.01.02.02    5
1907910.01.01.01.09    5
2200899.05.01.02.03    5
1000168.05.01.01.03    5
2505169.01.01.02.09    5
1701412.02.01.01.04    5
1100019.02.01.01.09    5
0202624.01.01.03.10    5
2161015.06.01.01.03    5
0805962.04.01.01.11    5
1301544.19.01.01.09    5
0702123.04.01.01.02    5
2860081.14.01.01.09    5
2900971.04.01.02.10    5
1400766.02.01.02.13    5
3103192.03.01.03.10    5
1409325.04.01.01.03    5
2201611.03.01.02.03    5
1800739.02.01.01.09    5
1519525.05.01.04.05    5
1403645.02.01.04.03    5
1909398.04.01.01.02    5
                      ..
0921493.02.01.03.05    1
0360082.08.02.01.07    1
1102425.03.01.01.03    1
0200385.02.01.01.09    1
1517765.01.01.01.08    1
1412206.13.02.01.09    1
2301499.01.01.02.04    1
2802407.01.01.02.10    1
2503323.03.01.01.05    1
3103383.01.01.02.07    1
0806898.01.01.01.03    1
1760256.08.01.02.03    1
2900108.02.01.02.03    1
2601357.03.01.01.04    1
0801739.03.01.01.01    1
0600182.03.01.01.10    1
1601878.05.01.02.09    1
1412594.16.01.02.05    1
3102619.02.01.01.02    1
2001572.01.01.03.03    1
0804525.04.01.01.04    1
1603000.10.01.01.02    1
1700387.01.01.02.13    1
0100079.03.01.01.06    1
0100488.05.01.05.11    1
0601379.14.01.01.10    1
3200632.05.01.01.02    1
2401235.05.01.01.03    1
2300797.01.01.01.02    1
0911994.04.01.01.05    1
Name: ID_DEL, Length: 36633, dtype: int64

In [329]:
df_copy.to_csv("2017.csv")