In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2016/tmod_vic_envipe2016/conjunto_de_datos/tmod_vic_envipe2016.csv'

In [3]:
df = pd.read_csv(df_,low_memory = False)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

1     6260
2     6071
5     6054
3     5997
4     5850
16     724
6      688
19     684
17     676
8      674
15     668
11     660
7      652
14     640
13     632
9      625
12     606
10     604
20     593
18     588
21      53
22      18
23       7
24       2
Name: VIV_SEL, dtype: int64

In [5]:
df_copy.HOGAR.value_counts()

1    39428
2      518
3       69
4       11
Name: HOGAR, dtype: int64

In [6]:
df_copy.ND_TIPO.value_counts()

1    32422
2     5307
3     1547
4      510
5      240
Name: ND_TIPO, dtype: int64

In [7]:
df_copy.TD_TIPO.value_counts()

1    27115
2     7520
3     3111
5     1200
4     1080
Name: TD_TIPO, dtype: int64

In [8]:
df_copy.BPCOD.value_counts()

2     6679
9     6655
3     6443
4     5598
5     4839
10    2531
8     1623
7     1550
6     1202
11    1134
1      965
13     561
14      92
15      91
12      63
Name: BPCOD, dtype: int64

In [9]:
df_copy.R_SEL.value_counts()

1     19848
2     12869
3      4736
4      1745
5       577
6       152
7        47
8        24
9        22
11        3
10        3
Name: R_SEL, dtype: int64

In [10]:
df_copy.RESUL_H.value_counts()

A\r    40026
Name: RESUL_H, dtype: int64

In [11]:
df_copy.RESUL_H.replace({'A\r':'A'}, inplace=True)
df_copy.RESUL_H.value_counts()

A    40026
Name: RESUL_H, dtype: int64

In [12]:
df_copy.AREAM_OCU.value_counts()

\r      17449
01\r     3132
02\r     1651
36\r     1278
04\r     1144
14\r     1112
03\r     1065
29\r     1039
08\r      980
39\r      829
41\r      758
33\r      742
21\r      690
15\r      634
18\r      618
05\r      599
25\r      579
40\r      537
07\r      533
26\r      526
13\r      506
31\r      424
24\r      398
09\r      389
27\r      357
28\r      330
43\r      327
17\r      301
19\r      265
32\r      226
10\r      224
16\r      208
12\r      176
Name: AREAM_OCU, dtype: int64

In [13]:
df_copy.AREAM_OCU.replace({'01\r':1,'02\r':2,'03\r':3,'04\r':4,
                '29\r':29,'14\r':14,'36\r':36,'21\r':21,'06\r':6,
                '08\r':8,'39\r':39,'41\r':41,'33\r':33,'18\r':18,
                '40\r':40,'25\r':25,'05\r':5,'26\r':26,'09\r':9,
                '07\r':7,'13\r':13,'15\r':15,'27\r':27,'31\r':31,
                '19\r':19,'28\r':28,'24\r':24,'10\r':10,'43\r':43,
                '17\r':17,'32\r':32,'16\r':16,'12\r':12,'\r':99}, inplace=True)

In [14]:
df_copy.AREAM_OCU.value_counts()

99    17449
1      3132
2      1651
36     1278
4      1144
14     1112
3      1065
29     1039
8       980
39      829
41      758
33      742
21      690
15      634
18      618
5       599
25      579
40      537
7       533
26      526
13      506
31      424
24      398
9       389
27      357
28      330
43      327
17      301
19      265
32      226
10      224
16      208
12      176
Name: AREAM_OCU, dtype: int64

In [15]:
df_copy.BP1_1.value_counts()

12    4647
11    4278
6     3771
2     3272
3     3264
5     3204
10    3051
9     2941
8     2827
7     2691
1     2570
4     2457
99    1053
Name: BP1_1, dtype: int64

In [16]:
df_copy.BP1_2C.value_counts()

15    2217
14    2139
17    1742
21    1736
12    1695
22    1670
2     1516
16    1432
23    1382
9     1377
11    1350
27    1294
8     1268
31    1262
6     1254
3     1242
1     1207
25    1204
19    1167
26    1149
30    1117
10    1113
29    1060
20     994
7      947
28     940
5      898
13     858
24     768
4      742
32     632
18     631
99      23
Name: BP1_2C, dtype: int64

In [17]:
df_copy.BP1_3C.value_counts()

1      2386
5      1963
4      1820
2      1774
7      1498
39     1392
14     1337
3      1205
6      1157
114    1020
8       943
50      938
30      923
17      886
10      820
20      796
33      783
37      724
53      710
35      633
12      602
28      570
19      558
11      543
120     501
9       465
101     459
18      455
15      452
67      421
       ...
203       2
439       2
513       2
346       2
399       2
265       2
545       1
384       1
90        1
126       1
145       1
152       1
278       1
150       1
309       1
180       1
179       1
338       1
209       1
205       1
163       1
173       1
201       1
424       1
135       1
454       1
485       1
317       1
419       1
283       1
Name: BP1_3C, Length: 238, dtype: int64

In [18]:
df_copy.BP1_4.value_counts()

2    12273
3    10540
4     7924
1     7695
9     1594
Name: BP1_4, dtype: int64

In [19]:
df_copy.BP1_4.replace({9:99}, inplace=True)
df_copy.BP1_4.value_counts()

2     12273
3     10540
4      7924
1      7695
99     1594
Name: BP1_4, dtype: int64

In [20]:
df_copy.BP1_5.value_counts()

2    18884
1    13102
4     2176
3     1884
5     1468
6     1293
8      760
9      270
7      189
Name: BP1_5, dtype: int64

In [21]:
df_copy.BP1_5.replace({9:99}, inplace=True)
df_copy.BP1_5.value_counts()

2     18884
1     13102
4      2176
3      1884
5      1468
6      1293
8       760
99      270
7       189
Name: BP1_5, dtype: int64

In [22]:
df_copy.BP1_6.value_counts()

1\r    18244
2\r    12166
\r      9616
Name: BP1_6, dtype: int64

In [23]:
df_copy.BP1_6.replace({'1\r':1,'2\r':2,'\r':99}, inplace=True)
df_copy.BP1_6.value_counts()

1     18244
2     12166
99     9616
Name: BP1_6, dtype: int64

In [24]:
df_copy.BP1_7.value_counts()

\r     21782
1\r    14077
2\r     4167
Name: BP1_7, dtype: int64

In [25]:
df_copy.BP1_7.replace({'1\r':1,'2\r':2,'\r':99}, inplace=True)
df_copy.BP1_7.value_counts()

99    21782
1     14077
2      4167
Name: BP1_7, dtype: int64

In [26]:
df_copy.BP1_8.value_counts()

\r     25949
2\r     7230
1\r     6847
Name: BP1_8, dtype: int64

In [27]:
df_copy.BP1_8.replace({'1\r':1,'2\r':2,'\r':99}, inplace=True)
df_copy.BP1_8.value_counts()

99    25949
2      7230
1      6847
Name: BP1_8, dtype: int64

In [28]:
df_copy.BP1_9.value_counts()

\r     25949
1\r     7145
2\r     3769
3\r     1454
9\r      573
4\r      495
6\r      408
5\r      233
Name: BP1_9, dtype: int64

In [29]:
df_copy.BP1_9.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,
                '5\r':5,'6\r':6,'9\r':99,'\r':99}, inplace=True)

In [30]:
df_copy.BP1_9.value_counts()

99    26522
1      7145
2      3769
3      1454
4       495
6       408
5       233
Name: BP1_9, dtype: int64

In [31]:
df_copy.BP1_10_1.value_counts()

\r     25949
1\r    12796
0\r     1281
Name: BP1_10_1, dtype: int64

In [32]:
df_copy.BP1_10_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)

In [33]:
df_copy.BP1_10_1.value_counts()

99    25949
1     12796
0      1281
Name: BP1_10_1, dtype: int64

In [34]:
df_copy.BP1_10_2.value_counts()

\r     25949
0\r    12055
1\r     2022
Name: BP1_10_2, dtype: int64

In [35]:
df_copy.BP1_10_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_10_2.value_counts()

99    25949
0     12055
1      2022
Name: BP1_10_2, dtype: int64

In [36]:
df_copy.BP1_10_9.value_counts()

\r     25949
0\r    13700
1\r      377
Name: BP1_10_9, dtype: int64

In [37]:
df_copy.BP1_10_9.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_10_9.value_counts()

99    25949
0     13700
1       377
Name: BP1_10_9, dtype: int64

In [38]:
df_copy.BP1_11.value_counts()

\r     25949
4\r     4216
3\r     3234
5\r     2544
9\r     2038
6\r      890
8\r      737
2\r      331
7\r       75
1\r       12
Name: BP1_11, dtype: int64

In [39]:
df_copy.BP1_11.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'7\r':7,'8\r':8,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_11.value_counts()

99    27987
4      4216
3      3234
5      2544
6       890
8       737
2       331
7        75
1        12
Name: BP1_11, dtype: int64

In [40]:
df_copy.BP1_12_1.value_counts()

\r     25949
1\r    10250
0\r     3827
Name: BP1_12_1, dtype: int64

In [41]:
df_copy.BP1_12_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_12_1.value_counts()

99    25949
1     10250
0      3827
Name: BP1_12_1, dtype: int64

In [42]:
df_copy.BP1_12_2.value_counts()

\r     25949
0\r    12720
1\r     1357
Name: BP1_12_2, dtype: int64

In [43]:
df_copy.BP1_12_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_12_2.value_counts()

99    25949
0     12720
1      1357
Name: BP1_12_2, dtype: int64

In [44]:
df_copy.BP1_12_3.value_counts()

\r     25949
0\r    13133
1\r      944
Name: BP1_12_3, dtype: int64

In [45]:
df_copy.BP1_12_3.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_12_3.value_counts()

99    25949
0     13133
1       944
Name: BP1_12_3, dtype: int64

In [46]:
df_copy.BP1_12_4.value_counts()

\r     25949
0\r    13380
1\r      697
Name: BP1_12_4, dtype: int64

In [47]:
df_copy.BP1_12_4.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_12_4.value_counts()

99    25949
0     13380
1       697
Name: BP1_12_4, dtype: int64

In [48]:
df_copy.BP1_12_5.value_counts()

\r     25949
0\r    13652
1\r      425
Name: BP1_12_5, dtype: int64

In [49]:
df_copy.BP1_12_5.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_12_5.value_counts()

99    25949
0     13652
1       425
Name: BP1_12_5, dtype: int64

In [50]:
df_copy.BP1_12_9.value_counts()

\r     25949
0\r    13600
1\r      477
Name: BP1_12_9, dtype: int64

In [51]:
df_copy.BP1_12_9.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_12_9.value_counts()

99    25949
0     13600
1       477
Name: BP1_12_9, dtype: int64

In [52]:
df_copy.BP1_13.value_counts()

\r     29766
2\r     7936
1\r     2324
Name: BP1_13, dtype: int64

In [53]:
df_copy.BP1_13.replace({'1\r':1,'2\r':2,'\r':99}, inplace=True)
df_copy.BP1_13.value_counts()

99    29766
2      7936
1      2324
Name: BP1_13, dtype: int64

In [54]:
df_copy.BP1_14_1.value_counts()

\r     25949
0\r    11645
1\r     2432
Name: BP1_14_1, dtype: int64

In [55]:
df_copy.BP1_14_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_14_1.value_counts()

99    25949
0     11645
1      2432
Name: BP1_14_1, dtype: int64

In [56]:
df_copy.BP1_14_2.value_counts()

\r     25949
0\r    12304
1\r     1773
Name: BP1_14_2, dtype: int64

In [57]:
df_copy.BP1_14_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_14_2.value_counts()

99    25949
0     12304
1      1773
Name: BP1_14_2, dtype: int64

In [58]:
df_copy.BP1_14_3.value_counts()

\r     25949
0\r    14051
1\r       26
Name: BP1_14_3, dtype: int64

In [59]:
df_copy.BP1_14_3.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_14_3.value_counts()

99    25949
0     14051
1        26
Name: BP1_14_3, dtype: int64

In [60]:
df_copy.BP1_14_4.value_counts()

\r     25949
0\r     7847
1\r     6230
Name: BP1_14_4, dtype: int64

In [61]:
df_copy.BP1_14_4.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_14_4.value_counts()

99    25949
0      7847
1      6230
Name: BP1_14_4, dtype: int64

In [62]:
df_copy.BP1_14_9.value_counts()

\r     25949
0\r     9922
1\r     4155
Name: BP1_14_9, dtype: int64

In [63]:
df_copy.BP1_14_9.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_14_9.value_counts()

99    25949
0      9922
1      4155
Name: BP1_14_9, dtype: int64

In [64]:
df_copy.BP1_15.value_counts()

\r     25949
2\r     6214
1\r     4832
9\r     3031
Name: BP1_15, dtype: int64

In [65]:
df_copy.BP1_15.replace({'1\r':1,'2\r':2,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_15.value_counts()

99    28980
2      6214
1      4832
Name: BP1_15, dtype: int64

In [66]:
df_copy.BP1_16_1.value_counts()

\r     35194
1\r     2728
0\r     2104
Name: BP1_16_1, dtype: int64

In [67]:
df_copy.BP1_16_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_16_1.value_counts()

99    35194
1      2728
0      2104
Name: BP1_16_1, dtype: int64

In [68]:
df_copy.BP1_16_2.value_counts()

\r     35194
0\r     2650
1\r     2182
Name: BP1_16_2, dtype: int64

In [69]:
df_copy.BP1_16_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_16_2.value_counts()

99    35194
0      2650
1      2182
Name: BP1_16_2, dtype: int64

In [70]:
df_copy.BP1_16_3.value_counts()

\r     35194
0\r     4628
1\r      204
Name: BP1_16_3, dtype: int64

In [71]:
df_copy.BP1_16_3.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_16_3.value_counts()

99    35194
0      4628
1       204
Name: BP1_16_3, dtype: int64

In [72]:
df_copy.BP1_16_4.value_counts()

\r     35194
0\r     4786
1\r       46
Name: BP1_16_4, dtype: int64

In [73]:
df_copy.BP1_16_4.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_16_4.value_counts()

99    35194
0      4786
1        46
Name: BP1_16_4, dtype: int64

In [74]:
df_copy.BP1_16_9.value_counts()

\r     35194
0\r     4780
1\r       52
Name: BP1_16_9, dtype: int64

In [75]:
df_copy.BP1_16_9.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_16_9.value_counts()

99    35194
0      4780
1        52
Name: BP1_16_9, dtype: int64

In [76]:
df_copy.BP1_17.value_counts()

\r     35194
2\r     4441
1\r      386
9\r        5
Name: BP1_17, dtype: int64

In [77]:
df_copy.BP1_17.replace({'1\r':1,'2\r':2,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_17.value_counts()

99    35199
2      4441
1       386
Name: BP1_17, dtype: int64

In [78]:
df_copy.BP1_18.value_counts()

\r     26335
2\r    11014
1\r     2347
9\r      330
Name: BP1_18, dtype: int64

In [79]:
df_copy.BP1_18.replace({'1\r':1,'2\r':2,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_18.value_counts()

99    26665
2     11014
1      2347
Name: BP1_18, dtype: int64

In [80]:
df_copy.BP1_19_1.value_counts()

\r     37293
1\r     1962
0\r      771
Name: BP1_19_1, dtype: int64

In [81]:
df_copy.BP1_19_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_1.value_counts()

99    37293
1      1962
0       771
Name: BP1_19_1, dtype: int64

In [82]:
df_copy.BP1_19_2.value_counts()

\r     37293
0\r     2302
1\r      431
Name: BP1_19_2, dtype: int64

In [83]:
df_copy.BP1_19_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_2.value_counts()

99    37293
0      2302
1       431
Name: BP1_19_2, dtype: int64

In [84]:
df_copy.BP1_19_3.value_counts()

\r     37293
0\r     2643
1\r       90
Name: BP1_19_3, dtype: int64

In [85]:
df_copy.BP1_19_3.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_3.value_counts()

99    37293
0      2643
1        90
Name: BP1_19_3, dtype: int64

In [86]:
df_copy.BP1_19_4.value_counts()

\r     37293
0\r     2577
1\r      156
Name: BP1_19_4, dtype: int64

In [87]:
df_copy.BP1_19_4.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_4.value_counts()

99    37293
0      2577
1       156
Name: BP1_19_4, dtype: int64

In [88]:
df_copy.BP1_19_5.value_counts()

\r     37293
0\r     2727
1\r        6
Name: BP1_19_5, dtype: int64

In [89]:
df_copy.BP1_19_5.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_5.value_counts()

99    37293
0      2727
1         6
Name: BP1_19_5, dtype: int64

In [90]:
df_copy.BP1_19_6.value_counts()

\r     37293
0\r     2640
1\r       93
Name: BP1_19_6, dtype: int64

In [91]:
df_copy.BP1_19_6.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_6.value_counts()

99    37293
0      2640
1        93
Name: BP1_19_6, dtype: int64

In [92]:
df_copy.BP1_19_7.value_counts()

\r     37293
0\r     2689
1\r       44
Name: BP1_19_7, dtype: int64

In [93]:
df_copy.BP1_19_7.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_7.value_counts()

99    37293
0      2689
1        44
Name: BP1_19_7, dtype: int64

In [94]:
df_copy.BP1_19_8.value_counts()

\r     37293
0\r     2203
1\r      530
Name: BP1_19_8, dtype: int64

In [95]:
df_copy.BP1_19_8.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_19_8.value_counts()

99    37293
0      2203
1       530
Name: BP1_19_8, dtype: int64

In [96]:
df_copy.BP1_20.value_counts()

2    35419
1     4607
Name: BP1_20, dtype: int64

In [97]:
df_copy.BP1_21.value_counts()

\r     22880
2\r    16875
9\r      142
1\r      129
Name: BP1_21, dtype: int64

In [98]:
df_copy.BP1_21.replace({'1\r':1,'2\r':2,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_21.value_counts()

99    23022
2     16875
1       129
Name: BP1_21, dtype: int64

In [99]:
df_copy.BP1_22.value_counts()

\r     39897
2\r       98
1\r       31
Name: BP1_22, dtype: int64

In [100]:
df_copy.BP1_22.replace({'1\r':1,'2\r':2,'\r':99}, inplace=True)
df_copy.BP1_22.value_counts()

99    39897
2        98
1        31
Name: BP1_22, dtype: int64

In [101]:
df_copy.BP1_23.value_counts()

04\r    11350
06\r     5479
\r       4736
03\r     4735
07\r     4316
05\r     2808
09\r     2769
01\r     2064
08\r     1293
02\r      246
99\r      230
Name: BP1_23, dtype: int64

In [102]:
df_copy.BP1_23.replace({'01\r':1,'02\r':2,'03\r':3,'04\r':4,'05\r':5,'06\r':6,'07\r':7,'08\r':8,'09\r':9,'99\r':99,'\r':99}, inplace=True)
df_copy.BP1_23.value_counts()

4     11350
6      5479
99     4966
3      4735
7      4316
5      2808
9      2769
1      2064
8      1293
2       246
Name: BP1_23, dtype: int64

In [103]:
df_copy.BP1_24.value_counts()

\r     35388
1\r     3038
2\r     1315
9\r      285
Name: BP1_24, dtype: int64

In [104]:
df_copy.BP1_24.replace({'1\r':1,'2\r':2,'\r':99,'9\r':99}, inplace=True)
df_copy.BP1_24.value_counts()

99    35673
1      3038
2      1315
Name: BP1_24, dtype: int64

In [105]:
df_copy.BP1_25.value_counts()

\r     36988
6\r     1564
2\r      598
3\r      301
5\r      194
9\r      117
7\r       93
1\r       86
4\r       85
Name: BP1_25, dtype: int64

In [106]:
df_copy.BP1_25.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'7\r':7,'8\r':8,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_25.value_counts()

99    37105
6      1564
2       598
3       301
5       194
7        93
1        86
4        85
Name: BP1_25, dtype: int64

In [107]:
df_copy.BP1_26.value_counts()

\r     38711
4\r      427
2\r      339
6\r      144
9\r      126
3\r      120
1\r      101
5\r       58
Name: BP1_26, dtype: int64

In [108]:
df_copy.BP1_26.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_26.value_counts()

99    38837
4       427
2       339
6       144
3       120
1       101
5        58
Name: BP1_26, dtype: int64

In [109]:
df_copy.BP1_27.value_counts()

\r     35388
2\r     1328
5\r     1144
3\r      828
1\r      802
4\r      536
Name: BP1_27, dtype: int64

In [110]:
df_copy.BP1_27.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'\r':99}, inplace=True)
df_copy.BP1_27.value_counts()

99    35388
2      1328
5      1144
3       828
1       802
4       536
Name: BP1_27, dtype: int64

In [111]:
df_copy.BP1_28.value_counts()

\r     35388
3\r     1719
2\r     1451
5\r      510
4\r      456
6\r      268
1\r      217
9\r       17
Name: BP1_28, dtype: int64

In [112]:
df_copy.BP1_28.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'9\r':99,'\r':99}, inplace=True)
df_copy.BP1_28.value_counts()

99    35405
3      1719
2      1451
5       510
4       456
6       268
1       217
Name: BP1_28, dtype: int64

In [113]:
df_copy.BP1_29.value_counts()

\r     35388
2\r     2144
3\r     1254
4\r      928
1\r      312
Name: BP1_29, dtype: int64

In [114]:
df_copy.BP1_29.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'\r':99}, inplace=True)
df_copy.BP1_29.value_counts()

99    35388
2      2144
3      1254
4       928
1       312
Name: BP1_29, dtype: int64

In [115]:
df_copy.BP1_30.value_counts()

2    36433
1     3593
Name: BP1_30, dtype: int64

In [116]:
df_copy.BP1_31_1.value_counts()

\r     36433
0\r     3352
1\r      241
Name: BP1_31_1, dtype: int64

In [117]:
df_copy.BP1_31_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_1.value_counts()

99    36433
0      3352
1       241
Name: BP1_31_1, dtype: int64

In [118]:
df_copy.BP1_31_2.value_counts()

\r     36433
1\r     1952
0\r     1641
Name: BP1_31_2, dtype: int64

In [119]:
df_copy.BP1_31_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_2.value_counts()

99    36433
1      1952
0      1641
Name: BP1_31_2, dtype: int64

In [120]:
df_copy.BP1_31_3.value_counts()

\r     36433
0\r     3531
1\r       62
Name: BP1_31_3, dtype: int64

In [121]:
df_copy.BP1_31_3.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_3.value_counts()

99    36433
0      3531
1        62
Name: BP1_31_3, dtype: int64

In [122]:
df_copy.BP1_31_4.value_counts()

\r     36433
0\r     3130
1\r      463
Name: BP1_31_4, dtype: int64

In [123]:
df_copy.BP1_31_4.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_4.value_counts()

99    36433
0      3130
1       463
Name: BP1_31_4, dtype: int64

In [124]:
df_copy.BP1_31_5.value_counts()

\r     36433
0\r     3447
1\r      146
Name: BP1_31_5, dtype: int64

In [125]:
df_copy.BP1_31_5.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_5.value_counts()

99    36433
0      3447
1       146
Name: BP1_31_5, dtype: int64

In [126]:
df_copy.BP1_31_6.value_counts()

\r     36433
0\r     3534
1\r       59
Name: BP1_31_6, dtype: int64

In [127]:
df_copy.BP1_31_6.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_6.value_counts()

99    36433
0      3534
1        59
Name: BP1_31_6, dtype: int64

In [128]:
df_copy.BP1_31_7.value_counts()

\r     36433
0\r     3485
1\r      108
Name: BP1_31_7, dtype: int64

In [129]:
df_copy.BP1_31_7.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_7.value_counts()

99    36433
0      3485
1       108
Name: BP1_31_7, dtype: int64

In [130]:
df_copy.BP1_31_8.value_counts()

\r     36433
0\r     3106
1\r      487
Name: BP1_31_8, dtype: int64

In [131]:
df_copy.BP1_31_8.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_8.value_counts()

99    36433
0      3106
1       487
Name: BP1_31_8, dtype: int64

In [132]:
df_copy.BP1_31_9.value_counts()

\r     36433
0\r     3412
1\r      181
Name: BP1_31_9, dtype: int64

In [133]:
df_copy.BP1_31_9.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_31_9.value_counts()

99    36433
0      3412
1       181
Name: BP1_31_9, dtype: int64

In [134]:
df_copy.BP1_32_1.value_counts()

\r     32517
0\r     5510
1\r     1999
Name: BP1_32_1, dtype: int64

In [135]:
df_copy.BP1_32_1.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_32_1.value_counts()

99    32517
0      5510
1      1999
Name: BP1_32_1, dtype: int64

In [136]:
df_copy.BP1_32_2.value_counts()

\r     32517
0\r     7436
1\r       73
Name: BP1_32_2, dtype: int64

In [137]:
df_copy.BP1_32_2.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_32_2.value_counts()

99    32517
0      7436
1        73
Name: BP1_32_2, dtype: int64

In [138]:
df_copy.BP1_32_3.value_counts()

\r     32517
0\r     7484
1\r       25
Name: BP1_32_3, dtype: int64

In [139]:
df_copy.BP1_32_3.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_32_3.value_counts()

99    32517
0      7484
1        25
Name: BP1_32_3, dtype: int64

In [140]:
df_copy.BP1_32_4.value_counts()

\r     32517
0\r     7489
1\r       20
Name: BP1_32_4, dtype: int64

In [141]:
df_copy.BP1_32_4.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_32_4.value_counts()

99    32517
0      7489
1        20
Name: BP1_32_4, dtype: int64

In [142]:
df_copy.BP1_32_5.value_counts()

\r     32517
1\r     5303
0\r     2206
Name: BP1_32_5, dtype: int64

In [143]:
df_copy.BP1_32_5.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_32_5.value_counts()

99    32517
1      5303
0      2206
Name: BP1_32_5, dtype: int64

In [144]:
df_copy.BP1_32_9.value_counts()

\r     32517
0\r     7401
1\r      108
Name: BP1_32_9, dtype: int64

In [145]:
df_copy.BP1_32_9.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_32_9.value_counts()

99    32517
0      7401
1       108
Name: BP1_32_9, dtype: int64

In [146]:
df_copy.BP1_33.value_counts()

1    23547
5     7693
3     7380
2     1159
4      148
9       99
Name: BP1_33, dtype: int64

In [147]:
df_copy.BP1_33.replace({9:99}, inplace=True)
df_copy.BP1_33.value_counts()

1     23547
5      7693
3      7380
2      1159
4       148
99       99
Name: BP1_33, dtype: int64

In [148]:
df_copy.BP1_34.value_counts()
#Pendiente

\r           7792
0000000\r    7361
0002000\r    1949
0001000\r    1861
0000500\r    1645
0003000\r    1604
0001500\r    1296
0005000\r    1246
0000200\r     953
0000300\r     926
0004000\r     786
0010000\r     683
0000800\r     679
0000600\r     588
9999999\r     570
0002500\r     566
0001200\r     562
0000400\r     505
0006000\r     503
0000100\r     479
0015000\r     431
0008000\r     430
0020000\r     393
0000700\r     387
0007000\r     364
0003500\r     312
0030000\r     266
0000150\r     207
0001800\r     207
0000050\r     187
             ...
0008100\r       1
0000613\r       1
0004750\r       1
0000260\r       1
0161000\r       1
0008400\r       1
0015500\r       1
0001080\r       1
0007400\r       1
0001170\r       1
0003950\r       1
0000011\r       1
0850000\r       1
0000055\r       1
0003650\r       1
0000185\r       1
0001930\r       1
0000680\r       1
0000085\r       1
0009200\r       1
0002140\r       1
0006100\r       1
0004696\r       1
0016700\r       1
0000865\r       1
0001570\r       1
0000195\r       1
0003890\r       1
0000370\r       1
0001140\r       1
Name: BP1_34, Length: 383, dtype: int64

In [149]:
df_copy.BP1_34 =  df_copy.BP1_34.replace( '\r', "", regex = True  )
df_copy.BP1_34.value_counts()

           7792
0000000    7361
0002000    1949
0001000    1861
0000500    1645
0003000    1604
0001500    1296
0005000    1246
0000200     953
0000300     926
0004000     786
0010000     683
0000800     679
0000600     588
9999999     570
0002500     566
0001200     562
0000400     505
0006000     503
0000100     479
0015000     431
0008000     430
0020000     393
0000700     387
0007000     364
0003500     312
0030000     266
0000150     207
0001800     207
0000050     187
           ...
0013600       1
0003250       1
0163000       1
0001280       1
0000012       1
0000368       1
0900000       1
0210000       1
0056000       1
0113000       1
0000026       1
0008100       1
0098000       1
0003460       1
0004850       1
0002847       1
0000699       1
0000990       1
0001170       1
0016360       1
0002450       1
0002365       1
0028500       1
0000997       1
0006100       1
0009200       1
0001850       1
0000195       1
0083000       1
0001950       1
Name: BP1_34, Length: 383, dtype: int64

In [150]:
df_copy.BP1_35.value_counts()
#Pendiente

0000000\r    30164
\r            7792
9999999\r      251
0000500\r      182
0001000\r      181
0002000\r      162
0000300\r      119
0003000\r      106
0005000\r      100
0001500\r       94
0000200\r       86
0000800\r       61
0000100\r       57
0000600\r       53
0010000\r       52
0000400\r       41
0004000\r       37
0006000\r       32
0002500\r       30
0000700\r       26
0015000\r       21
0007000\r       21
0000150\r       20
0001200\r       20
0003500\r       20
0030000\r       16
0000250\r       15
0008000\r       15
0000050\r       15
0025000\r       13
             ...
0024000\r        1
0000750\r        1
0000720\r        1
0022500\r        1
0002900\r        1
0000007\r        1
0031000\r        1
0011000\r        1
0000130\r        1
0385000\r        1
0090000\r        1
0000216\r        1
0000028\r        1
0003300\r        1
0000950\r        1
0400000\r        1
0120000\r        1
0000550\r        1
0005500\r        1
0000170\r        1
0047000\r        1
0000343\r        1
0002700\r        1
0000089\r        1
0007200\r        1
0001760\r        1
0007600\r        1
0000055\r        1
0004800\r        1
0000980\r        1
Name: BP1_35, Length: 114, dtype: int64

In [151]:
df_copy.BP1_35 =  df_copy.BP1_34.replace( '\r', "", regex = True  )
df_copy.BP1_35.value_counts()

           7792
0000000    7361
0002000    1949
0001000    1861
0000500    1645
0003000    1604
0001500    1296
0005000    1246
0000200     953
0000300     926
0004000     786
0010000     683
0000800     679
0000600     588
9999999     570
0002500     566
0001200     562
0000400     505
0006000     503
0000100     479
0015000     431
0008000     430
0020000     393
0000700     387
0007000     364
0003500     312
0030000     266
0000150     207
0001800     207
0000050     187
           ...
0013600       1
0003250       1
0163000       1
0001280       1
0000012       1
0000368       1
0900000       1
0210000       1
0056000       1
0113000       1
0000026       1
0008100       1
0098000       1
0003460       1
0004850       1
0002847       1
0000699       1
0000990       1
0001170       1
0016360       1
0002450       1
0002365       1
0028500       1
0000997       1
0006100       1
0009200       1
0001850       1
0000195       1
0083000       1
0001950       1
Name: BP1_35, Length: 383, dtype: int64

In [152]:
df_copy.BP1_36_01.value_counts()

0\r    16636
\r     16603
1\r     6787
Name: BP1_36_01, dtype: int64

In [153]:
df_copy.BP1_36_01.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_01.value_counts()

0     16636
99    16603
1      6787
Name: BP1_36_01, dtype: int64

In [154]:
df_copy.BP1_36_02.value_counts()

0\r    17391
\r     16603
1\r     6032
Name: BP1_36_02, dtype: int64

In [155]:
df_copy.BP1_36_02.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_02.value_counts()

0     17391
99    16603
1      6032
Name: BP1_36_02, dtype: int64

In [156]:
df_copy.BP1_36_03.value_counts()

\r     16603
0\r    15401
1\r     8022
Name: BP1_36_03, dtype: int64

In [157]:
df_copy.BP1_36_03.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_03.value_counts()

99    16603
0     15401
1      8022
Name: BP1_36_03, dtype: int64

In [158]:
df_copy.BP1_36_04.value_counts()

\r     16603
0\r    14986
1\r     8437
Name: BP1_36_04, dtype: int64

In [159]:
df_copy.BP1_36_04.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_04.value_counts()

99    16603
0     14986
1      8437
Name: BP1_36_04, dtype: int64

In [160]:
df_copy.BP1_36_05.value_counts()

0\r    21323
\r     16603
1\r     2100
Name: BP1_36_05, dtype: int64

In [161]:
df_copy.BP1_36_05.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_05.value_counts()

0     21323
99    16603
1      2100
Name: BP1_36_05, dtype: int64

In [162]:
df_copy.BP1_36_06.value_counts()

0\r    18869
\r     16603
1\r     4554
Name: BP1_36_06, dtype: int64

In [163]:
df_copy.BP1_36_06.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_06.value_counts()

0     18869
99    16603
1      4554
Name: BP1_36_06, dtype: int64

In [164]:
df_copy.BP1_36_07.value_counts()

0\r    19987
\r     16603
1\r     3436
Name: BP1_36_07, dtype: int64

In [165]:
df_copy.BP1_36_07.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_07.value_counts()

0     19987
99    16603
1      3436
Name: BP1_36_07, dtype: int64

In [166]:
df_copy.BP1_36_08.value_counts()

\r     16603
0\r    14138
1\r     9285
Name: BP1_36_08, dtype: int64

In [167]:
df_copy.BP1_36_08.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_08.value_counts()

99    16603
0     14138
1      9285
Name: BP1_36_08, dtype: int64

In [168]:
df_copy.BP1_36_09.value_counts()

\r     16603
1\r    12045
0\r    11378
Name: BP1_36_09, dtype: int64

In [169]:
df_copy.BP1_36_09.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_09.value_counts()

99    16603
1     12045
0     11378
Name: BP1_36_09, dtype: int64

In [170]:
df_copy.BP1_36_10.value_counts()

0\r    22585
\r     16603
1\r      838
Name: BP1_36_10, dtype: int64

In [171]:
df_copy.BP1_36_10.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_10.value_counts()

0     22585
99    16603
1       838
Name: BP1_36_10, dtype: int64

In [172]:
df_copy.BP1_36_11.value_counts()

0\r    22670
\r     16603
1\r      753
Name: BP1_36_11, dtype: int64

In [173]:
df_copy.BP1_36_11.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_11.value_counts()

0     22670
99    16603
1       753
Name: BP1_36_11, dtype: int64

In [174]:
df_copy.BP1_36_99.value_counts()

0\r    23126
\r     16603
1\r      297
Name: BP1_36_99, dtype: int64

In [175]:
df_copy.BP1_36_99.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP1_36_99.value_counts()

0     23126
99    16603
1       297
Name: BP1_36_99, dtype: int64

In [176]:
df_copy.BP2_1.value_counts()

\r     39061
2\r      669
1\r      288
9\r        8
Name: BP2_1, dtype: int64

In [177]:
df_copy.BP2_1.replace({'1\r':1,'0\r':0,'\r':99,'2\r':2,'9\r':99}, inplace=True)
df_copy.BP2_1.value_counts()

99    39069
2       669
1       288
Name: BP2_1, dtype: int64

In [178]:
df_copy.BP3_1_01.value_counts()

\r     28387
0\r    11408
1\r      231
Name: BP3_1_01, dtype: int64

In [179]:
df_copy.BP3_1_01.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_01.value_counts()

99    28387
0     11408
1       231
Name: BP3_1_01, dtype: int64

In [180]:
df_copy.BP3_1_02.value_counts()

\r     28387
0\r    11179
1\r      460
Name: BP3_1_02, dtype: int64

In [181]:
df_copy.BP3_1_02.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_02.value_counts()

99    28387
0     11179
1       460
Name: BP3_1_02, dtype: int64

In [182]:
df_copy.BP3_1_03.value_counts()

\r     28387
0\r     9908
1\r     1731
Name: BP3_1_03, dtype: int64

In [183]:
df_copy.BP3_1_03.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_03.value_counts()

99    28387
0      9908
1      1731
Name: BP3_1_03, dtype: int64

In [184]:
df_copy.BP3_1_04.value_counts()

\r     28387
0\r    10750
1\r      889
Name: BP3_1_04, dtype: int64

In [185]:
df_copy.BP3_1_04.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_04.value_counts()

99    28387
0     10750
1       889
Name: BP3_1_04, dtype: int64

In [186]:
df_copy.BP3_1_05.value_counts()

\r     28387
0\r    10835
1\r      804
Name: BP3_1_05, dtype: int64

In [187]:
df_copy.BP3_1_05.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_05.value_counts()

99    28387
0     10835
1       804
Name: BP3_1_05, dtype: int64

In [188]:
df_copy.BP3_1_06.value_counts()

\r     28387
0\r    10317
1\r     1322
Name: BP3_1_06, dtype: int64

In [189]:
df_copy.BP3_1_06.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_06.value_counts()

99    28387
0     10317
1      1322
Name: BP3_1_06, dtype: int64

In [190]:
df_copy.BP3_1_07.value_counts()

\r     28387
0\r     7141
1\r     4498
Name: BP3_1_07, dtype: int64

In [191]:
df_copy.BP3_1_07.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_07.value_counts()

99    28387
0      7141
1      4498
Name: BP3_1_07, dtype: int64

In [192]:
df_copy.BP3_1_08.value_counts()

\r     28387
0\r    11003
1\r      636
Name: BP3_1_08, dtype: int64

In [193]:
df_copy.BP3_1_08.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_08.value_counts()

99    28387
0     11003
1       636
Name: BP3_1_08, dtype: int64

In [194]:
df_copy.BP3_1_09.value_counts()

\r     28387
0\r     8904
1\r     2735
Name: BP3_1_09, dtype: int64

In [195]:
df_copy.BP3_1_09.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_09.value_counts()

99    28387
0      8904
1      2735
Name: BP3_1_09, dtype: int64

In [196]:
df_copy.BP3_1_10.value_counts()

\r     28387
0\r    11116
1\r      523
Name: BP3_1_10, dtype: int64

In [197]:
df_copy.BP3_1_10.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_10.value_counts()

99    28387
0     11116
1       523
Name: BP3_1_10, dtype: int64

In [198]:
df_copy.BP3_1_11.value_counts()

\r     28387
0\r     9423
1\r     2216
Name: BP3_1_11, dtype: int64

In [199]:
df_copy.BP3_1_11.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_11.value_counts()

99    28387
0      9423
1      2216
Name: BP3_1_11, dtype: int64

In [200]:
df_copy.BP3_1_12.value_counts()

\r     28387
0\r     9982
1\r     1657
Name: BP3_1_12, dtype: int64

In [201]:
df_copy.BP3_1_12.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_12.value_counts()

99    28387
0      9982
1      1657
Name: BP3_1_12, dtype: int64

In [202]:
df_copy.BP3_1_99.value_counts()

\r     28387
0\r    11520
1\r      119
Name: BP3_1_99, dtype: int64

In [203]:
df_copy.BP3_1_99.replace({'1\r':1,'0\r':0,'\r':99}, inplace=True)
df_copy.BP3_1_99.value_counts()

99    28387
0     11520
1       119
Name: BP3_1_99, dtype: int64

In [204]:
df_copy.BP3_2.value_counts()

\r     34428
2\r     3597
1\r     1912
9\r       89
Name: BP3_2, dtype: int64

In [205]:
df_copy.BP3_2.replace({'1\r':1,'2\r':2,'9\r':99,'\r':99}, inplace=True)
df_copy.BP3_2.value_counts()

99    34517
2      3597
1      1912
Name: BP3_2, dtype: int64

In [206]:
df_copy.BP4_1.value_counts()

\r     36853
1\r     1696
4\r     1069
3\r      287
5\r       42
6\r       31
9\r       30
2\r       18
Name: BP4_1, dtype: int64

In [207]:
df_copy.BP4_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'9\r':99,'\r':99}, inplace=True)
df_copy.BP4_1.value_counts()

99    36883
1      1696
4      1069
3       287
5        42
6        31
2        18
Name: BP4_1, dtype: int64

In [208]:
df_copy.BP5_1.value_counts()

\r     33371
1\r     6207
4\r      207
7\r       61
9\r       59
5\r       52
2\r       31
6\r       31
3\r        7
Name: BP5_1, dtype: int64

In [209]:
df_copy.BP5_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'6\r':6,'7\r':7,'9\r':99,'\r':99}, inplace=True)
df_copy.BP5_1.value_counts()

99    33430
1      6207
4       207
7        61
5        52
6        31
2        31
3         7
Name: BP5_1, dtype: int64

In [210]:
df_copy.BP5_2_1.value_counts()

\r     33371
1\r     4824
0\r     1816
9\r       15
Name: BP5_2_1, dtype: int64

In [211]:
df_copy.BP5_2_1.replace({'1\r':1,'0\r':0,'\r':99,'9\r':99}, inplace=True)
df_copy.BP5_2_1.value_counts()

99    33386
1      4824
0      1816
Name: BP5_2_1, dtype: int64

In [212]:
df_copy.BP5_2_2.value_counts()

\r     33371
0\r     6455
1\r      185
9\r       15
Name: BP5_2_2, dtype: int64

In [213]:
df_copy.BP5_2_2.replace({'1\r':1,'0\r':0,'\r':99,'9\r':99}, inplace=True)
df_copy.BP5_2_2.value_counts()

99    33386
0      6455
1       185
Name: BP5_2_2, dtype: int64

In [214]:
df_copy.BP5_2_3.value_counts()

\r     33371
0\r     6397
1\r      243
9\r       15
Name: BP5_2_3, dtype: int64

In [215]:
df_copy.BP5_2_3.replace({'1\r':1,'0\r':0,'\r':99,'9\r':99}, inplace=True)
df_copy.BP5_2_3.value_counts()

99    33386
0      6397
1       243
Name: BP5_2_3, dtype: int64

In [216]:
df_copy.BP5_2_4.value_counts()

\r     33371
0\r     5151
1\r     1489
9\r       15
Name: BP5_2_4, dtype: int64

In [217]:
df_copy.BP5_2_4.replace({'1\r':1,'0\r':0,'\r':99,'9\r':99}, inplace=True)
df_copy.BP5_2_4.value_counts()

99    33386
0      5151
1      1489
Name: BP5_2_4, dtype: int64

In [218]:
df_copy.BP5_3.value_counts()

\r     34860
3\r     4767
1\r      253
2\r      117
9\r       29
Name: BP5_3, dtype: int64

In [219]:
df_copy.BP5_3.replace({'1\r':1,'2\r':2,'3\r':3,'\r':99,'9\r':99}, inplace=True)
df_copy.BP5_3.value_counts()

99    34889
3      4767
1       253
2       117
Name: BP5_3, dtype: int64

In [220]:
df_copy.BP6_1.value_counts()

\r     39963
2\r       19
1\r       18
9\r       11
3\r        8
4\r        7
Name: BP6_1, dtype: int64

In [221]:
df_copy.BP6_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'\r':99,'9\r':99}, inplace=True)
df_copy.BP6_1.value_counts()

99    39974
2        19
1        18
3         8
4         7
Name: BP6_1, dtype: int64

In [222]:
df_copy.BP6_2.value_counts()

\r     39963
1\r       27
3\r       11
9\r        9
2\r        8
4\r        8
Name: BP6_2, dtype: int64

In [223]:
df_copy.BP6_2.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'\r':99,'9\r':99}, inplace=True)
df_copy.BP6_2.value_counts()

99    39972
1        27
3        11
4         8
2         8
Name: BP6_2, dtype: int64

In [224]:
df_copy.BP6_3.value_counts()

\r     40014
2\r        6
1\r        5
9\r        1
Name: BP6_3, dtype: int64

In [225]:
df_copy.BP6_3.replace({'1\r':1,'2\r':2,'\r':99,'9\r':99}, inplace=True)
df_copy.BP6_3.value_counts()

99    40015
2         6
1         5
Name: BP6_3, dtype: int64

In [226]:
df_copy.BP7_1.value_counts()

\r     39465
2\r      243
3\r      177
4\r       79
1\r       49
5\r        7
9\r        6
Name: BP7_1, dtype: int64

In [227]:
df_copy.BP7_1.replace({'1\r':1,'2\r':2,'3\r':3,'4\r':4,'5\r':5,'\r':99,'9\r':99}, inplace=True)
df_copy.BP7_1.value_counts()

99    39471
2       243
3       177
4        79
1        49
5         7
Name: BP7_1, dtype: int64

In [228]:
df_copy.FAC_DEL.value_counts()

192      157
187      149
191      146
178      135
185      129
189      128
188      112
166      111
179      110
194      109
176      107
182      105
180      105
202      102
197      101
195      100
200      100
203       99
169       98
160       97
205       97
365       96
405       96
183       95
335       95
373       94
184       94
167       94
193       93
217       92
        ...
2489       1
5127       1
2039       1
5863       1
3094       1
3844       1
3083       1
5205       1
5160       1
3222       1
6373       1
9491       1
3115       1
4260       1
1431       1
1463       1
12416      1
2151       1
5192       1
8258       1
4132       1
2021       1
1989       1
5959       1
5749       1
7974       1
1751       1
3876       1
3830       1
2015       1
Name: FAC_DEL, Length: 3252, dtype: int64

In [229]:
df_copy.FAC_DEL_AM.value_counts()
#Pendiente

\r          17449
000185\r      101
000191\r       95
000192\r       89
000178\r       89
000187\r       87
000194\r       85
000182\r       84
000176\r       83
000195\r       79
000193\r       78
000180\r       77
000188\r       76
000166\r       72
000189\r       71
000203\r       69
000202\r       66
000214\r       66
000160\r       65
000205\r       63
000169\r       62
000183\r       61
000200\r       60
000155\r       59
000199\r       58
000384\r       57
000179\r       57
000168\r       56
000225\r       56
000181\r       55
            ...
002890\r        1
006847\r        1
001820\r        1
003513\r        1
003681\r        1
005418\r        1
001041\r        1
002867\r        1
002535\r        1
011187\r        1
006673\r        1
005469\r        1
005153\r        1
002564\r        1
001520\r        1
006176\r        1
003335\r        1
001461\r        1
000875\r        1
002316\r        1
002004\r        1
004227\r        1
007053\r        1
002750\r        1
002505\r        1
001482\r        1
001383\r        1
004212\r        1
001804\r        1
003630\r        1
Name: FAC_DEL_AM, Length: 2970, dtype: int64

In [230]:
df_copy.FAC_DEL_AM =  df_copy.FAC_DEL_AM.replace( '\r', "", regex = True  )
df_copy.FAC_DEL_AM.value_counts()

          17449
000185      101
000191       95
000192       89
000178       89
000187       87
000194       85
000182       84
000176       83
000195       79
000193       78
000180       77
000188       76
000166       72
000189       71
000203       69
000214       66
000202       66
000160       65
000205       63
000169       62
000183       61
000200       60
000155       59
000199       58
000179       57
000384       57
000168       56
000225       56
000181       55
          ...
001800        1
001438        1
003807        1
001167        1
002267        1
003366        1
011138        1
004701        1
003744        1
002950        1
002737        1
003107        1
003699        1
004364        1
001258        1
001320        1
002105        1
002543        1
002375        1
002564        1
006841        1
001828        1
001592        1
006402        1
002440        1
001366        1
007285        1
001804        1
001065        1
001892        1
Name: FAC_DEL_AM, Length: 2970, dtype: int64

In [231]:
df_copy.DOMINIO.value_counts()

U\r    26712
C\r     8893
R\r     4421
Name: DOMINIO, dtype: int64

In [232]:
df_copy.DOMINIO.replace({'U\r':'U','C\r':'C','R\r':'R'}, inplace=True)
df_copy.DOMINIO.value_counts()

U    26712
C     8893
R     4421
Name: DOMINIO, dtype: int64

In [233]:
df_copy.ESTRATO.value_counts()

2    20282
3    11284
4     5076
1     3384
Name: ESTRATO, dtype: int64

In [234]:
df_copy.EST_DIS.value_counts()

246    911
229    749
2      541
147    476
374    472
146    456
391    422
320    414
247    402
209    396
354    359
125    355
321    336
228    333
355    321
268    308
289    298
512    294
192    293
570    288
509    286
410    274
569    272
230    267
13     263
92     253
154    253
91     251
288    250
36     245
      ...
548      4
139      4
486      4
557      4
532      4
551      4
89       4
101      3
194      3
217      3
26       3
422      3
296      3
17       3
491      3
418      3
506      3
84       3
487      2
22       2
545      2
457      2
325      2
210      2
273      2
113      2
81       2
542      1
572      1
575      1
Name: EST_DIS, Length: 590, dtype: int64

In [235]:
df_copy.UPM_DIS.value_counts()

4407     37
5103     36
10870    33
4117     31
1033     31
4396     30
6287     30
1014     29
4452     29
9598     28
7668     27
4392     26
7131     26
4404     26
6344     25
155      25
5721     24
1025     24
4410     23
11236    23
9447     23
2928     23
4393     23
1583     22
6346     22
8044     22
766      22
4405     22
5045     21
7616     21
         ..
10765     1
1175      1
11442     1
10733     1
1207      1
808       1
4906      1
7307      1
7147      1
8851      1
663       1
1128      1
5194      1
6836      1
4789      1
695       1
11245     1
9196      1
7115      1
7028      1
3017      1
2838      1
11058     1
9011      1
11090     1
5002      1
2953      1
9068      1
7019      1
2047      1
Name: UPM_DIS, Length: 9922, dtype: int64

In [237]:
df_copy.head()

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_1,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,101318.05,0101318.05.01\r,0101318.05.01.03\r,0101318.05.01.03.03.1\r,101318,5,1,1,1,3,...,99,99,99,99,206,000206,U,4,3,176
1,101989.02,0101989.02.01\r,0101989.02.01.02\r,0101989.02.01.02.02.1\r,101989,2,1,1,1,2,...,99,99,99,99,286,000286,U,2,1,256
2,100777.01,0100777.01.02\r,0100777.01.02.01\r,0100777.01.02.01.02.2\r,100777,1,2,2,2,2,...,99,99,99,99,195,000195,U,2,1,99
3,101318.03,0101318.03.01\r,0101318.03.01.01\r,0101318.03.01.01.04.1\r,101318,3,1,1,1,4,...,99,99,99,99,206,000206,U,4,3,176
4,100457.03,0100457.03.01\r,0100457.03.01.03\r,0100457.03.01.03.02.3\r,100457,3,1,3,3,2,...,99,99,99,99,202,000202,U,2,1,62

In [238]:
df_copy.ID_HOG =  df_copy.ID_HOG.replace( '\r', "", regex = True  )
df_copy.ID_PER =  df_copy.ID_PER.replace( '\r', "", regex = True  )
df_copy.ID_DEL =  df_copy.ID_DEL.replace( '\r', "", regex = True  )

In [239]:
df_copy.head()

,ID_VIV,ID_HOG,ID_PER,ID_DEL,UPM,VIV_SEL,HOGAR,ND_TIPO,TD_TIPO,BPCOD,...,BP6_1,BP6_2,BP6_3,BP7_1,FAC_DEL,FAC_DEL_AM,DOMINIO,ESTRATO,EST_DIS,UPM_DIS
0,101318.05,0101318.05.01,0101318.05.01.03,0101318.05.01.03.03.1,101318,5,1,1,1,3,...,99,99,99,99,206,000206,U,4,3,176
1,101989.02,0101989.02.01,0101989.02.01.02,0101989.02.01.02.02.1,101989,2,1,1,1,2,...,99,99,99,99,286,000286,U,2,1,256
2,100777.01,0100777.01.02,0100777.01.02.01,0100777.01.02.01.02.2,100777,1,2,2,2,2,...,99,99,99,99,195,000195,U,2,1,99
3,101318.03,0101318.03.01,0101318.03.01.01,0101318.03.01.01.04.1,101318,3,1,1,1,4,...,99,99,99,99,206,000206,U,4,3,176
4,100457.03,0100457.03.01,0100457.03.01.03,0100457.03.01.03.02.3,100457,3,1,3,3,2,...,99,99,99,99,202,000202,U,2,1,62

In [240]:
df_copy.to_csv("2016.csv")