In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2011/tmod_vic2011.csv'

In [3]:
df = pd.read_csv(df_,low_memory = False)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

5     4252
3     4051
1     3927
2     3891
4     3886
8      754
6      746
10     722
7      722
9      687
12     325
14     318
15     308
20     304
13     304
11     303
17     300
16     295
19     284
18     245
21      78
23      37
22      33
38      28
29      28
40      26
27      22
37      21
32      21
25      21
      ...
43       4
58       4
46       3
57       3
65       3
54       3
73       3
66       2
64       2
56       2
49       2
81       2
77       2
75       2
45       2
51       2
67       2
84       2
53       2
91       1
92       1
93       1
97       1
72       1
59       1
68       1
80       1
48       1
62       1
47       1
Name: VIV_SEL, Length: 77, dtype: int64

In [5]:
df_copy.HOGAR.value_counts()

1    26700
2      391
3       85
4       10
Name: HOGAR, dtype: int64

In [6]:
df_copy.R_SEL.value_counts()

1     14220
2      8492
3      2886
4      1039
5       351
6       111
7        55
9        15
8        12
11        2
10        2
12        1
Name: R_SEL, dtype: int64

In [7]:
df_copy.BPCOD.value_counts()

2     5642
8     5067
4     4126
3     4067
9     1658
5     1470
1     1232
10     980
7      958
6      942
12     580
14     356
11      86
13      22
Name: BPCOD, dtype: int64

In [8]:
df_copy.ND_TIPO.value_counts()

1    21545
2     3868
3     1143
4      405
5      225
Name: ND_TIPO, dtype: int64

In [9]:
df_copy.BP1_1.value_counts()

12    3148
11    3110
6     2623
10    2365
3     2171
9     2143
8     2132
2     2128
5     2058
7     1936
4     1680
1     1569
88      75
99      48
Name: BP1_1, dtype: int64

In [10]:
df_copy.BP1_2C.value_counts()

8     2245
2     2188
25    1839
15    1658
14    1304
20    1224
28    1211
27    1207
23    1125
9     1119
12    1000
19     987
17     894
16     851
5      775
1      766
26     637
24     549
32     536
31     520
18     489
11     463
21     450
13     421
3      416
30     370
7      358
29     356
10     323
22     311
4      308
6      262
99      24
Name: BP1_2C, dtype: int64

In [11]:
df_copy.BP1_3C.value_counts()

4      2156
2      1683
6      1602
1      1596
5      1418
37     1255
39     1096
19      914
30      887
67      876
7       782
27      758
53      695
3       658
17      556
106     540
11      453
28      364
20      361
120     347
14      332
50      302
33      287
48      287
8       281
13      270
35      257
18      253
10      251
9       246
       ...
105       3
158       2
318       2
175       2
334       2
551       2
194       2
338       2
498       2
125       2
403       2
211       2
324       2
191       1
374       1
142       1
427       1
310       1
377       1
361       1
169       1
200       1
133       1
293       1
453       1
199       1
502       1
438       1
214       1
195       1
Name: BP1_3C, Length: 203, dtype: int64

In [12]:
df_copy.BP1_4.value_counts()

2    8923
3    7062
1    5437
4    4400
9    1314
8      37
7      13
Name: BP1_4, dtype: int64

In [13]:
df_copy.BP1_4.replace({9:99,8:99,7:99}, inplace=True)
df_copy.BP1_4.value_counts()

2     8923
3     7062
1     5437
4     4400
99    1364
Name: BP1_4, dtype: int64

In [14]:
df_copy.BP1_5.value_counts()

2    11530
1    10433
4     1814
3     1316
6      920
8      704
5      211
7      142
9      116
Name: BP1_5, dtype: int64

In [15]:
df_copy.BP1_5.replace({9:99}, inplace=True)
df_copy.BP1_5.value_counts()

2     11530
1     10433
4      1814
3      1316
6       920
8       704
5       211
7       142
99      116
Name: BP1_5, dtype: int64

In [16]:
df_copy.BP1_6.value_counts()

2.0    11299
1.0     7372
7.0      105
Name: BP1_6, dtype: int64

In [17]:
df_copy.BP1_6.replace({2.0:'2',1.0:'1',7:99}, inplace=True)
df_copy.BP1_6.value_counts()

2     11299
1      7372
99      105
Name: BP1_6, dtype: int64

In [18]:
df_copy.BP1_7.value_counts()

1.0    8241
2.0    7620
7.0      26
Name: BP1_7, dtype: int64

In [19]:
df_copy.BP1_7.replace({2.0:'2',1.0:'1',7:99}, inplace=True)
df_copy.BP1_7.value_counts()

1     8241
2     7620
99      26
Name: BP1_7, dtype: int64

In [20]:
df_copy.BP1_8.value_counts()

1.0    11426
2.0     4435
7.0       26
Name: BP1_8, dtype: int64

In [21]:
df_copy.BP1_8.replace({2.0:'2',1.0:'1',7:99}, inplace=True)
df_copy.BP1_8.value_counts()

1     11426
2      4435
99       26
Name: BP1_8, dtype: int64

In [22]:
df_copy.BP1_9.value_counts()

1.0    5593
2.0    2966
3.0    1308
4.0     487
6.0     483
9.0     391
5.0     179
7.0      26
8.0      19
Name: BP1_9, dtype: int64

In [23]:
df_copy.BP1_9.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'99',
                          8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_9.value_counts()

1     5593
2     2966
3     1308
4      487
6      483
99     436
5      179
Name: BP1_9, dtype: int64

In [24]:
df_copy.BP1_10_1.value_counts()

1.0     5506
2.0     2729
3.0     1174
0.0      600
4.0      426
6.0      164
5.0      159
10.0      59
8.0       49
7.0       40
15.0      31
98.0      31
20.0      20
12.0      18
9.0       10
11.0       6
30.0       5
14.0       3
40.0       2
13.0       2
37.0       1
16.0       1
80.0       1
50.0       1
18.0       1
17.0       1
35.0       1
25.0       1
Name: BP1_10_1, dtype: int64

In [25]:
df_copy.BP1_10_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50',80.0:'80'}, inplace=True)
df_copy.BP1_10_1.value_counts()

1     5506
2     2729
3     1174
0      600
4      426
6      164
5      159
10      59
8       49
7       40
99      31
15      31
20      20
12      18
9       10
11       6
30       5
14       3
13       2
40       2
25       1
50       1
16       1
18       1
80       1
37       1
17       1
35       1
Name: BP1_10_1, dtype: int64

In [26]:
df_copy.BP1_10_2.value_counts()

0.0     9731
1.0      944
2.0      197
3.0       75
98.0      31
4.0       28
5.0       14
6.0        8
10.0       6
7.0        2
9.0        2
8.0        2
15.0       1
30.0       1
Name: BP1_10_2, dtype: int64

In [27]:
df_copy.BP1_10_2.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_10_2.value_counts()

0     9731
1      944
2      197
3       75
99      31
4       28
5       14
6        8
10       6
8        2
9        2
7        2
30       1
15       1
Name: BP1_10_2, dtype: int64

In [28]:
df_copy.BP1_11.value_counts()

4.0     3291
3.0     3087
5.0     1968
99.0    1282
8.0      812
6.0      553
2.0      331
7.0       72
98.0      26
88.0      23
1.0        7
Name: BP1_11, dtype: int64

In [29]:
df_copy.BP1_11.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_11.value_counts()

4     3291
3     3087
5     1968
99    1331
8      812
6      553
2      331
7       72
1        7
Name: BP1_11, dtype: int64

In [30]:
df_copy.BP1_12_1.value_counts()

1.0    8774
7.0      30
Name: BP1_12_1, dtype: int64

In [31]:
df_copy.BP1_12_1.replace({0.0:'0',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_12_1.value_counts()

1     8774
99      30
Name: BP1_12_1, dtype: int64

In [32]:
df_copy.BP1_12_2.value_counts()

2.0    1282
Name: BP1_12_2, dtype: int64

In [33]:
df_copy.BP1_12_2.replace({2.0:'2',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_12_2.value_counts()

2    1282
Name: BP1_12_2, dtype: int64

In [34]:
df_copy.BP1_12_3.value_counts()

3.0    700
Name: BP1_12_3, dtype: int64

In [35]:
df_copy.BP1_12_3.replace({3.0:'3',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_12_3.value_counts()

3    700
Name: BP1_12_3, dtype: int64

In [36]:
df_copy.BP1_12_4.value_counts()

4.0    462
Name: BP1_12_4, dtype: int64

In [37]:
df_copy.BP1_12_4.replace({4.0:'4',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_12_4.value_counts()

4    462
Name: BP1_12_4, dtype: int64

In [38]:
df_copy.BP1_12_5.value_counts()

5.0    289
Name: BP1_12_5, dtype: int64

In [39]:
df_copy.BP1_12_5.replace({5.0:'5',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_12_5.value_counts()

5    289
Name: BP1_12_5, dtype: int64

In [40]:
df_copy.BP1_13.value_counts()

2.0    6510
1.0    2264
Name: BP1_13, dtype: int64

In [41]:
df_copy.BP1_13.replace({2.0:'2',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_13.value_counts()

2    6510
1    2264
Name: BP1_13, dtype: int64

In [42]:
df_copy.BP1_14_1.value_counts()

1.0    2011
Name: BP1_14_1, dtype: int64

In [43]:
df_copy.BP1_14_1.replace({2.0:'2',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_14_1.value_counts()

1    2011
Name: BP1_14_1, dtype: int64

In [44]:
df_copy.BP1_14_2.value_counts()

2.0    1360
Name: BP1_14_2, dtype: int64

In [45]:
df_copy.BP1_14_2.replace({2.0:'2',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_14_2.value_counts()

2    1360
Name: BP1_14_2, dtype: int64

In [46]:
df_copy.BP1_14_3.value_counts()

3.0    37
Name: BP1_14_3, dtype: int64

In [47]:
df_copy.BP1_14_3.replace({3.0:'3',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_14_3.value_counts()

3    37
Name: BP1_14_3, dtype: int64

In [48]:
df_copy.BP1_14_4.value_counts()

4.0    5164
Name: BP1_14_4, dtype: int64

In [49]:
df_copy.BP1_14_4.replace({4.0:'4',1.0:'1',7.0:'99'}, inplace=True)
df_copy.BP1_14_4.value_counts()

4    5164
Name: BP1_14_4, dtype: int64

In [50]:
df_copy.BP1_15.value_counts()

2.0    5185
1.0    4124
9.0    2092
7.0      26
8.0      25
Name: BP1_15, dtype: int64

In [51]:
df_copy.BP1_15.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'99',
                          8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_15.value_counts()

2     5185
1     4124
99    2143
Name: BP1_15, dtype: int64

In [52]:
df_copy.BP1_14_8.value_counts()

8.0    31
7.0    27
Name: BP1_14_8, dtype: int64

In [53]:
df_copy.BP1_14_8.replace({8.0:'99',7.0:'99'}, inplace=True)
df_copy.BP1_14_8.value_counts()

99    58
Name: BP1_14_8, dtype: int64

In [54]:
df_copy.BP1_14_9.value_counts()

9.0    3194
Name: BP1_14_9, dtype: int64

In [55]:
df_copy.BP1_14_9.replace({9.0:'99',7.0:'99'}, inplace=True)
df_copy.BP1_14_9.value_counts()

99    3194
Name: BP1_14_9, dtype: int64

In [56]:
df_copy.BP1_16_1.value_counts()

1.0    2414
Name: BP1_16_1, dtype: int64

In [57]:
df_copy.BP1_16_1.replace({1.0:'1'}, inplace=True)
df_copy.BP1_16_1.value_counts()

1    2414
Name: BP1_16_1, dtype: int64

In [58]:
df_copy.BP1_16_2.value_counts()

2.0    1811
Name: BP1_16_2, dtype: int64

In [59]:
df_copy.BP1_16_1.replace({2.0:'2'}, inplace=True)
df_copy.BP1_16_1.value_counts()

1    2414
Name: BP1_16_1, dtype: int64

In [60]:
df_copy.BP1_16_3.value_counts()

3.0    167
Name: BP1_16_3, dtype: int64

In [61]:
df_copy.BP1_16_3.replace({3.0:'3'}, inplace=True)
df_copy.BP1_16_3.value_counts()

3    167
Name: BP1_16_3, dtype: int64

In [62]:
df_copy.BP1_16_4.value_counts()

4.0    43
Name: BP1_16_4, dtype: int64

In [63]:
df_copy.BP1_16_4.replace({4.0:'4'}, inplace=True)
df_copy.BP1_16_4.value_counts()

4    43
Name: BP1_16_4, dtype: int64

In [64]:
df_copy.BP1_16_8.value_counts()

7.0    26
8.0     2
Name: BP1_16_8, dtype: int64

In [65]:
df_copy.BP1_16_8.replace({7.0:'99',8.0:'99'}, inplace=True)
df_copy.BP1_16_8.value_counts()

99    28
Name: BP1_16_8, dtype: int64

In [66]:
df_copy.BP1_16_9.value_counts()

9.0    26
Name: BP1_16_9, dtype: int64

In [67]:
df_copy.BP1_16_9.replace({9.0:'99',8.0:'99'}, inplace=True)
df_copy.BP1_16_9.value_counts()

99    26
Name: BP1_16_9, dtype: int64

In [68]:
df_copy.BP1_17.value_counts()

2.0    3126
1.0     955
9.0      42
7.0      26
8.0       1
Name: BP1_17, dtype: int64

In [69]:
df_copy.BP1_17.replace({1.0:'1',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_17.value_counts()

2     3126
1      955
99      69
Name: BP1_17, dtype: int64

In [70]:
df_copy.BP1_18.value_counts()

2.0    7387
1.0    4039
7.0      26
Name: BP1_18, dtype: int64

In [71]:
df_copy.BP1_18.replace({1.0:'1',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_18.value_counts()

2     7387
1     4039
99      26
Name: BP1_18, dtype: int64

In [72]:
df_copy.BP1_19_1.value_counts()

1.0    8776
7.0     748
Name: BP1_19_1, dtype: int64

In [73]:
df_copy.BP1_19_1.replace({1.0:'1',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_1.value_counts()

1     8776
99     748
Name: BP1_19_1, dtype: int64

In [74]:
df_copy.BP1_19_2.value_counts()

2.0    1498
Name: BP1_19_2, dtype: int64

In [75]:
df_copy.BP1_19_2.replace({1.0:'1',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_2.value_counts()

2    1498
Name: BP1_19_2, dtype: int64

In [76]:
df_copy.BP1_19_3.value_counts()

3.0    419
Name: BP1_19_3, dtype: int64

In [77]:
df_copy.BP1_19_3.replace({3.0:'3',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_3.value_counts()

3    419
Name: BP1_19_3, dtype: int64

In [78]:
df_copy.BP1_19_4.value_counts()

4.0    86
Name: BP1_19_4, dtype: int64

In [79]:
df_copy.BP1_19_4.replace({4.0:'4',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_4.value_counts()

4    86
Name: BP1_19_4, dtype: int64

In [80]:
df_copy.BP1_19_5.value_counts()

5.0    148
Name: BP1_19_5, dtype: int64

In [81]:
df_copy.BP1_19_5.replace({5.0:'5',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_5.value_counts()

5    148
Name: BP1_19_5, dtype: int64

In [82]:
df_copy.BP1_19_6.value_counts()

6.0    7
Name: BP1_19_6, dtype: int64

In [83]:
df_copy.BP1_19_6.replace({6.0:'6',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_6.value_counts()

6    7
Name: BP1_19_6, dtype: int64

In [84]:
df_copy.BP1_19_7.value_counts()

7.0    58
Name: BP1_19_7, dtype: int64

In [85]:
df_copy.BP1_19_7.replace({7.0:'7',2.0:'2',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_19_7.value_counts()

7    58
Name: BP1_19_7, dtype: int64

In [86]:
df_copy.BP1_19_8.value_counts()

8.0    106
Name: BP1_19_8, dtype: int64

In [87]:
df_copy.BP1_19_8.replace({8.0:'8'}, inplace=True)
df_copy.BP1_19_8.value_counts()

8    106
Name: BP1_19_8, dtype: int64

In [88]:
df_copy.BP1_20.value_counts()

2    22964
1     4207
7       15
Name: BP1_20, dtype: int64

In [89]:
df_copy.BP1_20.replace({7:99}, inplace=True)
df_copy.BP1_20.value_counts()

2     22964
1      4207
99       15
Name: BP1_20, dtype: int64

In [90]:
df_copy.BP1_21.value_counts()

4.0     8322
6.0     3363
3.0     2571
7.0     2266
5.0     1851
1.0     1779
9.0     1301
8.0      901
99.0     435
2.0      131
88.0      44
98.0      15
Name: BP1_21, dtype: int64

In [91]:
df_copy.BP1_21.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_21.value_counts()

4     8322
6     3363
3     2571
7     2266
5     1851
1     1779
9     1301
8      901
99     494
2      131
Name: BP1_21, dtype: int64

In [92]:
df_copy.BP1_22.value_counts()

1.0    2952
2.0     972
9.0     283
Name: BP1_22, dtype: int64

In [93]:
df_copy.BP1_22.replace({9.0:'99',1.0:'1',2.0:'2'}, inplace=True)
df_copy.BP1_22.value_counts()

1     2952
2      972
99     283
Name: BP1_22, dtype: int64

In [94]:
df_copy.BP1_23_1.value_counts()

11.0    437
6.0     391
12.0    382
3.0     366
5.0     351
10.0    347
8.0     337
9.0     328
4.0     328
1.0     320
2.0     315
7.0     296
99.0      6
98.0      3
Name: BP1_23_1, dtype: int64

In [95]:
df_copy.BP1_23_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_23_1.value_counts()

11    437
6     391
12    382
3     366
5     351
10    347
8     337
9     328
4     328
1     320
2     315
7     296
99      9
Name: BP1_23_1, dtype: int64

In [96]:
df_copy.BP1_23_2.value_counts()

10.0    4083
11.0     122
98.0       2
Name: BP1_23_2, dtype: int64

In [97]:
df_copy.BP1_23_2.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_23_2.value_counts()

10    4083
11     122
99       2
Name: BP1_23_2, dtype: int64

In [98]:
df_copy.BP1_24.value_counts()

2.0    1583
4.0     973
1.0     886
3.0     761
7.0       4
Name: BP1_24, dtype: int64

In [99]:
df_copy.BP1_24.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'99'}, inplace=True)
df_copy.BP1_24.value_counts()

2     1583
4      973
1      886
3      761
99       4
Name: BP1_24, dtype: int64

In [100]:
df_copy.BP1_25.value_counts()

6.0    1334
1.0    1127
3.0     862
4.0     334
9.0     180
5.0     161
2.0     110
7.0      95
8.0       4
Name: BP1_25, dtype: int64

In [101]:
df_copy.BP1_25.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'99',7.0:'7',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_25.value_counts()

99    1518
1     1127
3      862
4      334
5      161
2      110
7       95
Name: BP1_25, dtype: int64

In [102]:
df_copy.BP1_26.value_counts()

2.0    1537
3.0    1486
5.0     435
4.0     429
1.0     279
9.0      32
8.0       9
Name: BP1_26, dtype: int64

In [103]:
df_copy.BP1_26.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'99',7.0:'7',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_26.value_counts()

2     1537
3     1486
5      435
4      429
1      279
99      41
Name: BP1_26, dtype: int64

In [104]:
df_copy.BP1_27.value_counts()

2.0    1383
3.0    1325
4.0     816
5.0     485
1.0     197
7.0       1
Name: BP1_27, dtype: int64

In [105]:
df_copy.BP1_27.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'99',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP1_27.value_counts()

2     1383
3     1325
4      816
5      485
1      197
99       1
Name: BP1_27, dtype: int64

In [106]:
df_copy.BP1_28.value_counts()

2    23981
1     3190
7       15
Name: BP1_28, dtype: int64

In [107]:
df_copy.BP1_28.replace({7:99}, inplace=True)
df_copy.BP1_28.value_counts()

2     23981
1      3190
99       15
Name: BP1_28, dtype: int64

In [108]:
df_copy.BP1_29_1.value_counts()

1.0    127
Name: BP1_29_1, dtype: int64

In [109]:
df_copy.BP1_29_1.replace({1.0:'1'}, inplace=True)
df_copy.BP1_29_1.value_counts()

1    127
Name: BP1_29_1, dtype: int64

In [110]:
df_copy.BP1_29_2.value_counts()

2.0    1350
Name: BP1_29_2, dtype: int64

In [111]:
df_copy.BP1_29_2.replace({2.0:'2'}, inplace=True)
df_copy.BP1_29_2.value_counts()

2    1350
Name: BP1_29_2, dtype: int64

In [112]:
df_copy.BP1_29_3.value_counts()

3.0    33
Name: BP1_29_3, dtype: int64

In [113]:
df_copy.BP1_29_3.replace({3.0:'3'}, inplace=True)
df_copy.BP1_29_3.value_counts()

3    33
Name: BP1_29_3, dtype: int64

In [114]:
df_copy.BP1_29_4.value_counts()

4.0    350
Name: BP1_29_4, dtype: int64

In [115]:
df_copy.BP1_29_4.replace({4.0:'4'}, inplace=True)
df_copy.BP1_29_4.value_counts()

4    350
Name: BP1_29_4, dtype: int64

In [116]:
df_copy.BP1_29_5.value_counts()

5.0    188
Name: BP1_29_5, dtype: int64

In [117]:
df_copy.BP1_29_5.replace({5.0:'5'}, inplace=True)
df_copy.BP1_29_5.value_counts()

5    188
Name: BP1_29_5, dtype: int64

In [118]:
df_copy.BP1_29_6.value_counts()

6.0    56
Name: BP1_29_6, dtype: int64

In [119]:
df_copy.BP1_29_6.replace({6.0:'6'}, inplace=True)
df_copy.BP1_29_6.value_counts()

6    56
Name: BP1_29_6, dtype: int64

In [120]:
df_copy.BP1_29_7.value_counts()

7.0    132
Name: BP1_29_7, dtype: int64

In [121]:
df_copy.BP1_29_7.replace({7.0:'7'}, inplace=True)
df_copy.BP1_29_7.value_counts()

7    132
Name: BP1_29_7, dtype: int64

In [122]:
df_copy.BP1_29_8.value_counts()

8.0    71
Name: BP1_29_8, dtype: int64

In [123]:
df_copy.BP1_29_8.replace({8.0:'8'}, inplace=True)
df_copy.BP1_29_8.value_counts()

8    71
Name: BP1_29_8, dtype: int64

In [124]:
df_copy.BP1_29_9.value_counts()

9.0    678
Name: BP1_29_9, dtype: int64

In [125]:
df_copy.BP1_29_9.replace({9.0:'9'}, inplace=True)
df_copy.BP1_29_9.value_counts()

9    678
Name: BP1_29_9, dtype: int64

In [126]:
df_copy.BP1_29_88.value_counts()

98.0    15
88.0     3
Name: BP1_29_88, dtype: int64

In [127]:
df_copy.BP1_29_88.replace({98.0:'99',88.0:'99'}, inplace=True)
df_copy.BP1_29_88.value_counts()

99    18
Name: BP1_29_88, dtype: int64

In [128]:
df_copy.BP1_29_99.value_counts()

99.0    326
Name: BP1_29_99, dtype: int64

In [129]:
df_copy.BP1_29_99.replace({99.0:'99',88.0:'99'}, inplace=True)
df_copy.BP1_29_99.value_counts()

99    326
Name: BP1_29_99, dtype: int64

In [130]:
df_copy.BP1_30_1.value_counts()

1.0    1671
Name: BP1_30_1, dtype: int64

In [131]:
df_copy.BP1_30_1.replace({1.0:'1'}, inplace=True)
df_copy.BP1_30_1.value_counts()

1    1671
Name: BP1_30_1, dtype: int64

In [132]:
df_copy.BP1_30_2.value_counts()

2.0    48
Name: BP1_30_2, dtype: int64

In [133]:
df_copy.BP1_30_2.replace({2.0:'2'}, inplace=True)
df_copy.BP1_30_2.value_counts()

2    48
Name: BP1_30_2, dtype: int64

In [134]:
df_copy.BP1_30_3.value_counts()

3.0    49
Name: BP1_30_3, dtype: int64

In [135]:
df_copy.BP1_30_3.replace({3.0:'3'}, inplace=True)
df_copy.BP1_30_3.value_counts()

3    49
Name: BP1_30_3, dtype: int64

In [136]:
df_copy.BP1_30_4.value_counts()

4.0    14
Name: BP1_30_4, dtype: int64

In [137]:
df_copy.BP1_30_4.replace({4.0:'4'}, inplace=True)
df_copy.BP1_30_4.value_counts()

4    14
Name: BP1_30_4, dtype: int64

In [138]:
df_copy.BP1_30_5.value_counts()

5.0    4822
Name: BP1_30_5, dtype: int64

In [139]:
df_copy.BP1_30_5.replace({5.0:'5'}, inplace=True)
df_copy.BP1_30_5.value_counts()

5    4822
Name: BP1_30_5, dtype: int64

In [140]:
df_copy.BP1_30_8.value_counts()

7.0    15
8.0     9
Name: BP1_30_8, dtype: int64

In [141]:
df_copy.BP1_30_8.replace({7.0:'99',8.0:'99'}, inplace=True)
df_copy.BP1_30_8.value_counts()

99    24
Name: BP1_30_8, dtype: int64

In [142]:
df_copy.BP1_30_9.value_counts()

9.0    62
Name: BP1_30_9, dtype: int64

In [143]:
df_copy.BP1_30_9.replace({9.0:'99',8.0:'99'}, inplace=True)
df_copy.BP1_30_9.value_counts()

99    62
Name: BP1_30_9, dtype: int64

In [144]:
df_copy.BP1_31_1.value_counts()

1.0    291
Name: BP1_31_1, dtype: int64

In [145]:
df_copy.BP1_31_1.replace({1.0:'1'}, inplace=True)
df_copy.BP1_31_1.value_counts()

1    291
Name: BP1_31_1, dtype: int64

In [146]:
df_copy.BP1_31_2.value_counts()

2.0    1163
Name: BP1_31_2, dtype: int64

In [147]:
df_copy.BP1_31_2.replace({2.0:'2'}, inplace=True)
df_copy.BP1_31_2.value_counts()

2    1163
Name: BP1_31_2, dtype: int64

In [148]:
df_copy.BP1_31_3.value_counts()

3.0    708
Name: BP1_31_3, dtype: int64

In [149]:
df_copy.BP1_31_3.replace({3.0:'3'}, inplace=True)
df_copy.BP1_31_3.value_counts()

3    708
Name: BP1_31_3, dtype: int64

In [150]:
df_copy.BP1_31_4.value_counts()

4.0    956
Name: BP1_31_4, dtype: int64

In [151]:
df_copy.BP1_31_4.replace({4.0:'4'}, inplace=True)
df_copy.BP1_31_4.value_counts()

4    956
Name: BP1_31_4, dtype: int64

In [152]:
df_copy.BP1_31_5.value_counts()

5.0    38
Name: BP1_31_5, dtype: int64

In [153]:
df_copy.BP1_31_5.replace({5.0:'5'}, inplace=True)
df_copy.BP1_31_5.value_counts()

5    38
Name: BP1_31_5, dtype: int64

In [154]:
df_copy.BP1_31_6.value_counts()

6.0    110
Name: BP1_31_6, dtype: int64

In [155]:
df_copy.BP1_31_6.replace({6.0:'6'}, inplace=True)
df_copy.BP1_31_6.value_counts()

6    110
Name: BP1_31_6, dtype: int64

In [156]:
df_copy.BP1_31_7.value_counts()

7.0    102
Name: BP1_31_7, dtype: int64

In [157]:
df_copy.BP1_31_7.replace({7.0:'7'}, inplace=True)
df_copy.BP1_31_7.value_counts()

7    102
Name: BP1_31_7, dtype: int64

In [158]:
df_copy.BP1_31_8.value_counts()

8.0    364
Name: BP1_31_8, dtype: int64

In [159]:
df_copy.BP1_31_8.replace({8.0:'8'}, inplace=True)
df_copy.BP1_31_8.value_counts()

8    364
Name: BP1_31_8, dtype: int64

In [160]:
df_copy.BP1_31_9.value_counts()

9.0    402
Name: BP1_31_9, dtype: int64

In [161]:
df_copy.BP1_31_9.replace({9.0:'9'}, inplace=True)
df_copy.BP1_31_9.value_counts()

9    402
Name: BP1_31_9, dtype: int64

In [162]:
df_copy.BP1_31_10.value_counts()

10.0    144
Name: BP1_31_10, dtype: int64

In [163]:
df_copy.BP1_31_10.replace({10.0:'10'}, inplace=True)
df_copy.BP1_31_10.value_counts()

10    144
Name: BP1_31_10, dtype: int64

In [164]:
df_copy.BP1_31_11.value_counts()

11.0    3121
Name: BP1_31_11, dtype: int64

In [165]:
df_copy.BP1_31_11.replace({11.0:'11'}, inplace=True)
df_copy.BP1_31_11.value_counts()

11    3121
Name: BP1_31_11, dtype: int64

In [166]:
df_copy.BP1_31_88.value_counts()

98.0    15
88.0    12
Name: BP1_31_88, dtype: int64

In [167]:
df_copy.BP1_31_88.replace({98.0:'99',88.0:'99'}, inplace=True)
df_copy.BP1_31_88.value_counts()

99    27
Name: BP1_31_88, dtype: int64

In [168]:
df_copy.BP1_31_99.value_counts()

99.0    52
Name: BP1_31_99, dtype: int64

In [169]:
df_copy.BP1_31_99.replace({99.0:'99',88.0:'99'}, inplace=True)
df_copy.BP1_31_99.value_counts()

99    52
Name: BP1_31_99, dtype: int64

In [170]:
df_copy.BP1_32_1.value_counts()

1.0    3788
Name: BP1_32_1, dtype: int64

In [171]:
df_copy.BP1_32_1.replace({1.0:'1'}, inplace=True)
df_copy.BP1_32_1.value_counts()

1    3788
Name: BP1_32_1, dtype: int64

In [172]:
df_copy.BP1_32_2.value_counts()

2.0    4593
Name: BP1_32_2, dtype: int64

In [173]:
df_copy.BP1_32_2.replace({2.0:'2'}, inplace=True)
df_copy.BP1_32_2.value_counts()

2    4593
Name: BP1_32_2, dtype: int64

In [174]:
df_copy.BP1_32_3.value_counts()

3.0    7018
Name: BP1_32_3, dtype: int64

In [175]:
df_copy.BP1_32_3.replace({3.0:'3'}, inplace=True)
df_copy.BP1_32_3.value_counts()

3    7018
Name: BP1_32_3, dtype: int64

In [176]:
df_copy.BP1_32_4.value_counts()

4.0    7919
Name: BP1_32_4, dtype: int64

In [177]:
df_copy.BP1_32_4.replace({4.0:'4'}, inplace=True)
df_copy.BP1_32_4.value_counts()

4    7919
Name: BP1_32_4, dtype: int64

In [178]:
df_copy.BP1_32_5.value_counts()

5.0    560
Name: BP1_32_5, dtype: int64

In [179]:
df_copy.BP1_32_5.replace({5.0:'5'}, inplace=True)
df_copy.BP1_32_5.value_counts()

5    560
Name: BP1_32_5, dtype: int64

In [180]:
df_copy.BP1_32_6.value_counts()

6.0    1529
Name: BP1_32_6, dtype: int64

In [181]:
df_copy.BP1_32_6.replace({6.0:'6'}, inplace=True)
df_copy.BP1_32_6.value_counts()

6    1529
Name: BP1_32_6, dtype: int64

In [182]:
df_copy.BP1_32_7.value_counts()

7.0    844
Name: BP1_32_7, dtype: int64

In [183]:
df_copy.BP1_32_7.replace({7.0:'7'}, inplace=True)
df_copy.BP1_32_7.value_counts()

7    844
Name: BP1_32_7, dtype: int64

In [184]:
df_copy.BP1_32_8.value_counts()

8.0    3651
Name: BP1_32_8, dtype: int64

In [185]:
df_copy.BP1_32_8.replace({8.0:'8'}, inplace=True)
df_copy.BP1_32_8.value_counts()

8    3651
Name: BP1_32_8, dtype: int64

In [186]:
df_copy.BP1_32_9.value_counts()

9.0    6712
Name: BP1_32_9, dtype: int64

In [187]:
df_copy.BP1_32_9.replace({9.0:'9'}, inplace=True)
df_copy.BP1_32_9.value_counts()

9    6712
Name: BP1_32_9, dtype: int64

In [188]:
df_copy.BP1_32_10.value_counts()

10.0    2237
Name: BP1_32_10, dtype: int64

In [189]:
df_copy.BP1_32_10.replace({10.0:'10'}, inplace=True)
df_copy.BP1_32_10.value_counts()

10    2237
Name: BP1_32_10, dtype: int64

In [190]:
df_copy.BP1_32_11.value_counts()

11.0    1508
Name: BP1_32_11, dtype: int64

In [191]:
df_copy.BP1_32_11.replace({11.0:'11'}, inplace=True)
df_copy.BP1_32_11.value_counts()

11    1508
Name: BP1_32_11, dtype: int64

In [192]:
df_copy.BP1_32_88.value_counts()

88.0    77
98.0    13
Name: BP1_32_88, dtype: int64

In [193]:
df_copy.BP1_32_88.replace({98.0:'99',88.0:'99'}, inplace=True)
df_copy.BP1_32_88.value_counts()

99    90
Name: BP1_32_88, dtype: int64

In [194]:
df_copy.BP1_32_99.value_counts()

99.0    556
Name: BP1_32_99, dtype: int64

In [195]:
df_copy.BP1_32_99.replace({99.0:'99',88.0:'99'}, inplace=True)
df_copy.BP1_32_99.value_counts()

99    556
Name: BP1_32_99, dtype: int64

In [196]:
df_copy.BP1_33.value_counts()

1    16703
3     6505
5     2692
2     1050
4      157
9       46
8       20
7       13
Name: BP1_33, dtype: int64

In [197]:
df_copy.BP1_33.replace({7:99,8:99,9:99}, inplace=True)
df_copy.BP1_33.value_counts()

1     16703
3      6505
5      2692
2      1050
4       157
99       79
Name: BP1_33, dtype: int64

In [198]:
df_copy.BP1_34.value_counts()
#Pendiente

0.0          5702
2000.0       1470
1000.0       1407
3000.0       1339
5000.0        960
1500.0        959
500.0         937
4000.0        653
10000.0       550
800.0         535
300.0         487
2500.0        476
600.0         440
9999999.0     431
6000.0        421
200.0         420
20000.0       391
1200.0        363
15000.0       357
400.0         331
8000.0        302
700.0         300
7000.0        292
30000.0       291
3500.0        254
8888888.0     239
100.0         193
50000.0       182
40000.0       161
12000.0       158
             ...
124000.0        1
5700.0          1
4163.0          1
21600.0         1
15.0            1
140.0           1
7100.0          1
4180.0          1
135000.0        1
2017.0          1
29000.0         1
11600.0         1
275000.0        1
4640.0          1
122000.0        1
72900.0         1
308000.0        1
1970.0          1
195000.0        1
63.0            1
19.0            1
480000.0        1
118000.0        1
890.0           1
840.0           1
110.0           1
224000.0        1
83300.0         1
11900.0         1
270000.0        1
Name: BP1_34, Length: 362, dtype: int64

In [199]:
l=[]
for i in df_copy.BP1_34:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_34 = l
df_copy.BP1_34.value_counts()

0          5702
nan        2758
2000       1470
1000       1407
3000       1339
5000        960
1500        959
500         937
4000        653
10000       550
800         535
300         487
2500        476
600         440
9999999     431
6000        421
200         420
20000       391
1200        363
15000       357
400         331
8000        302
700         300
7000        292
30000       291
3500        254
8888888     239
100         193
50000       182
40000       161
           ...
47600         1
2000000       1
1180          1
5450          1
6070          1
210000        1
125000        1
18500         1
2113          1
10300         1
92200         1
2070          1
63500         1
2050          1
2017          1
3500000       1
1970          1
1450          1
1950          1
47000         1
3000000       1
9870          1
1640          1
5700          1
1550          1
9720          1
280000        1
209000        1
5550          1
83300         1
Name: BP1_34, Length: 363, dtype: int64

In [200]:
df_copy.BP1_35.value_counts()
#Pendiente

0.0          22694
9999999.0      173
1000.0         170
500.0          132
3000.0         110
2000.0         107
300.0          104
1500.0          88
200.0           79
5000.0          68
10000.0         56
800.0           50
400.0           47
600.0           46
100.0           46
8888888.0       32
4000.0          31
700.0           28
6000.0          26
20000.0         24
150.0           19
1200.0          17
50.0            16
15000.0         14
30000.0         14
8000.0          13
7000.0          11
2500.0          10
750.0            9
250.0            9
             ...
385.0            1
35.0             1
220.0            1
4100.0           1
308000.0         1
240.0            1
480.0            1
1600.0           1
12.0             1
70.0             1
7500.0           1
2400.0           1
130.0            1
200000.0         1
13000.0          1
120000.0         1
746.0            1
600000.0         1
26000.0          1
360.0            1
5.0              1
14400.0          1
220000.0         1
280.0            1
40.0             1
1000000.0        1
150000.0         1
3600.0           1
650.0            1
5500.0           1
Name: BP1_35, Length: 101, dtype: int64

In [201]:
l=[]
for i in df_copy.BP1_35:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_35 = l
df_copy.BP1_35.value_counts()

0          22694
nan         2758
9999999      173
1000         170
500          132
3000         110
2000         107
300          104
1500          88
200           79
5000          68
10000         56
800           50
400           47
100           46
600           46
8888888       32
4000          31
700           28
6000          26
20000         24
150           19
1200          17
50            16
15000         14
30000         14
8000          13
7000          11
2500          10
12000          9
           ...
1600           1
70             1
2400           1
26000          1
35             1
8400           1
40             1
746            1
240            1
220            1
9000           1
13000          1
600000         1
650            1
308000         1
2700           1
580            1
150000         1
200000         1
7500           1
730            1
480            1
220000         1
385            1
380            1
360            1
120000         1
3600           1
280            1
1000000        1
Name: BP1_35, Length: 102, dtype: int64

In [202]:
df_copy.BP2_1.value_counts()

1.0    5959
2.0     881
7.0      34
Name: BP2_1, dtype: int64

In [203]:
df_copy.BP2_1.replace({1.0:'1',2.0:'2',7.0:'99'}, inplace=True)
df_copy.BP2_1.value_counts()

1     5959
2      881
99      34
Name: BP2_1, dtype: int64

In [204]:
df_copy.BP2_2.value_counts()

1.0    821
2.0    383
3.0     15
7.0     13
Name: BP2_2, dtype: int64

In [205]:
df_copy.BP2_2.replace({1.0:'1',2.0:'2',3.0:'3',7.0:'99'}, inplace=True)
df_copy.BP2_2.value_counts()

1     821
2     383
3      15
99     13
Name: BP2_2, dtype: int64

In [206]:
df_copy.BP2_3.value_counts()

2.0    902
1.0    317
7.0     13
Name: BP2_3, dtype: int64

In [207]:
df_copy.BP2_3.replace({1.0:'1',2.0:'2',3.0:'3',7.0:'99'}, inplace=True)
df_copy.BP2_3.value_counts()

2     902
1     317
99     13
Name: BP2_3, dtype: int64

In [208]:
df_copy.BP2_4.value_counts()

2.0    846
1.0    373
7.0     13
Name: BP2_4, dtype: int64

In [209]:
df_copy.BP2_4.replace({1.0:'1',2.0:'2',3.0:'3',7.0:'99'}, inplace=True)
df_copy.BP2_4.value_counts()

2     846
1     373
99     13
Name: BP2_4, dtype: int64

In [210]:
df_copy.BP2_5.value_counts()

2.0    215
1.0    158
7.0     13
Name: BP2_5, dtype: int64

In [211]:
df_copy.BP2_5.replace({1.0:'1',2.0:'2',3.0:'3',7.0:'99'}, inplace=True)
df_copy.BP2_5.value_counts()

2     215
1     158
99     13
Name: BP2_5, dtype: int64

In [212]:
df_copy.BP3_1_1.value_counts()

1.0    485
Name: BP3_1_1, dtype: int64

In [213]:
df_copy.BP3_1_1.replace({1.0:'1'}, inplace=True)
df_copy.BP3_1_1.value_counts()

1    485
Name: BP3_1_1, dtype: int64

In [214]:
df_copy.BP3_1_2.value_counts()

2.0    1770
Name: BP3_1_2, dtype: int64

In [215]:
df_copy.BP3_1_2.replace({2.0:'2'}, inplace=True)
df_copy.BP3_1_2.value_counts()

2    1770
Name: BP3_1_2, dtype: int64

In [216]:
df_copy.BP3_1_3.value_counts()

3.0    719
Name: BP3_1_3, dtype: int64

In [217]:
df_copy.BP3_1_3.replace({3.0:'3'}, inplace=True)
df_copy.BP3_1_3.value_counts()

3    719
Name: BP3_1_3, dtype: int64

In [218]:
df_copy.BP3_1_4.value_counts()

4.0    683
Name: BP3_1_4, dtype: int64

In [219]:
df_copy.BP3_1_4.replace({4.0:'4'}, inplace=True)
df_copy.BP3_1_4.value_counts()

4    683
Name: BP3_1_4, dtype: int64

In [220]:
df_copy.BP3_1_5.value_counts()

5.0    1779
Name: BP3_1_5, dtype: int64

In [221]:
df_copy.BP3_1_5.replace({5.0:'5'}, inplace=True)
df_copy.BP3_1_5.value_counts()

5    1779
Name: BP3_1_5, dtype: int64

In [222]:
df_copy.BP3_1_6.value_counts()

6.0    110
Name: BP3_1_6, dtype: int64

In [223]:
df_copy.BP3_1_6.replace({6.0:'6'}, inplace=True)
df_copy.BP3_1_6.value_counts()

6    110
Name: BP3_1_6, dtype: int64

In [224]:
df_copy.BP3_1_7.value_counts()

7.0    3861
Name: BP3_1_7, dtype: int64

In [225]:
df_copy.BP3_1_7.replace({7.0:'7'}, inplace=True)
df_copy.BP3_1_7.value_counts()

7    3861
Name: BP3_1_7, dtype: int64

In [226]:
df_copy.BP3_1_8.value_counts()

8.0    556
Name: BP3_1_8, dtype: int64

In [227]:
df_copy.BP3_1_8.replace({8.0:'8'}, inplace=True)
df_copy.BP3_1_8.value_counts()

8    556
Name: BP3_1_8, dtype: int64

In [228]:
df_copy.BP3_1_9.value_counts()

9.0    1680
Name: BP3_1_9, dtype: int64

In [229]:
df_copy.BP3_1_9.replace({9.0:'9'}, inplace=True)
df_copy.BP3_1_9.value_counts()

9    1680
Name: BP3_1_9, dtype: int64

In [230]:
df_copy.BP3_1_10.value_counts()

10.0    379
Name: BP3_1_10, dtype: int64

In [231]:
df_copy.BP3_1_10.replace({10.0:'10'}, inplace=True)
df_copy.BP3_1_10.value_counts()

10    379
Name: BP3_1_10, dtype: int64

In [232]:
df_copy.BP3_1_11.value_counts()

11.0    2287
Name: BP3_1_11, dtype: int64

In [233]:
df_copy.BP3_1_11.replace({11.0:'11'}, inplace=True)
df_copy.BP3_1_11.value_counts()

11    2287
Name: BP3_1_11, dtype: int64

In [234]:
df_copy.BP3_1_88.value_counts()

98.0    103
88.0     65
Name: BP3_1_88, dtype: int64

In [235]:
df_copy.BP3_1_88.replace({88.0:'99',98.0:'99'}, inplace=True)
df_copy.BP3_1_88.value_counts()

99    168
Name: BP3_1_88, dtype: int64

In [236]:
df_copy.BP3_1_99.value_counts()

99.0    70
Name: BP3_1_99, dtype: int64

In [237]:
df_copy.BP3_1_99.replace({88.0:'88',99.0:'99'}, inplace=True)
df_copy.BP3_1_99.value_counts()

99    70
Name: BP3_1_99, dtype: int64

In [238]:
df_copy.BP3_2.value_counts()

2.0    3069
1.0     871
7.0     127
Name: BP3_2, dtype: int64

In [239]:
df_copy.BP3_2.replace({1.0:'1',2.0:'2',7.0:'99'}, inplace=True)
df_copy.BP3_2.value_counts()

2     3069
1      871
99     127
Name: BP3_2, dtype: int64

In [240]:
df_copy.BP4_1.value_counts()

2.0    810
9.0     75
3.0     35
4.0     23
1.0     15
Name: BP4_1, dtype: int64

In [241]:
df_copy.BP4_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',9.0:'99'}, inplace=True)
df_copy.BP4_1.value_counts()

2     810
99     75
3      35
4      23
1      15
Name: BP4_1, dtype: int64

In [242]:
df_copy.BP5_1.value_counts()

1.0    4643
4.0     149
5.0      69
7.0      68
9.0      67
2.0      52
6.0      14
3.0       5
Name: BP5_1, dtype: int64

In [243]:
df_copy.BP5_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_1.value_counts()

1     4643
4      149
5       69
7       68
99      67
2       52
6       14
3        5
Name: BP5_1, dtype: int64

In [244]:
df_copy.BP5_2_1.value_counts()

1.0    4345
7.0     141
Name: BP5_2_1, dtype: int64

In [245]:
df_copy.BP5_2_1.replace({1.0:'1',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_2_1.value_counts()

1    4345
7     141
Name: BP5_2_1, dtype: int64

In [246]:
df_copy.BP5_2_2.value_counts()

2.0    327
Name: BP5_2_2, dtype: int64

In [247]:
df_copy.BP5_2_2.replace({2.0:'2',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_2_2.value_counts()

2    327
Name: BP5_2_2, dtype: int64

In [248]:
df_copy.BP5_2_3.value_counts()

3.0    358
Name: BP5_2_3, dtype: int64

In [249]:
df_copy.BP5_2_3.replace({3.0:'3',7.0:'7',9.0:'99'}, inplace=True)
df_copy.BP5_2_3.value_counts()

3    358
Name: BP5_2_3, dtype: int64

In [250]:
df_copy.BP5_3.value_counts()

2.0    4646
1.0     387
7.0      26
8.0       8
Name: BP5_3, dtype: int64

In [251]:
df_copy.BP5_3.replace({1.0:'1',2.0:'2',7.0:'99',8.0:'99'}, inplace=True)
df_copy.BP5_3.value_counts()

2     4646
1      387
99      34
Name: BP5_3, dtype: int64

In [252]:
df_copy.BP5_4.value_counts()

2.0    4597
1.0      47
7.0      26
9.0       5
8.0       5
Name: BP5_4, dtype: int64

In [253]:
df_copy.BP5_4.replace({1.0:'1',2.0:'2',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP5_4.value_counts()

2     4597
1       47
99      36
Name: BP5_4, dtype: int64

In [254]:
df_copy.BP6_1.value_counts()

2.0    266
3.0    170
4.0     99
1.0     39
5.0      3
9.0      2
8.0      1
Name: BP6_1, dtype: int64

In [255]:
df_copy.BP6_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP6_1.value_counts()

2     266
3     170
4      99
1      39
5       3
99      3
Name: BP6_1, dtype: int64

In [256]:
df_copy.BP7_1.value_counts()

1.0    32
2.0    25
8.0    13
9.0    11
7.0     5
Name: BP7_1, dtype: int64

In [257]:
df_copy.BP7_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP7_1.value_counts()

1     32
99    29
2     25
Name: BP7_1, dtype: int64

In [258]:
df_copy.BP7_2.value_counts()

1.0    42
2.0    15
3.0     9
9.0     8
8.0     7
7.0     2
5.0     2
4.0     1
Name: BP7_2, dtype: int64

In [259]:
df_copy.BP7_2.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',7.0:'99',8.0:'99',9.0:'99'}, inplace=True)
df_copy.BP7_2.value_counts()

1     42
99    17
2     15
3      9
5      2
4      1
Name: BP7_2, dtype: int64

In [260]:
df_copy.EST.value_counts()

266    551
297    549
317    508
324    504
309    492
270    486
298    475
310    439
320    435
302    426
96     424
281    422
294    417
278    406
318    388
313    381
325    368
306    357
271    344
274    331
275    311
286    288
293    273
180    273
289    265
285    259
303    256
311    256
305    255
86     254
      ...
128      6
260      6
265      5
53       5
170      5
296      5
10       5
24       5
181      5
232      5
3        4
91       4
2        4
78       4
71       3
284      3
292      3
18       3
5        3
269      2
43       2
33       2
31       2
45       2
8        2
27       1
300      1
243      1
179      1
19       1
Name: EST, Length: 323, dtype: int64

In [261]:
df_copy.UPM.value_counts()

8345     41
8389     37
2348     33
8320     33
1368     31
8343     30
8324     30
770      29
8339     29
9258     29
8323     25
8336     25
6051     25
8511     25
116      25
7226     24
7874     24
9699     23
10007    23
6515     23
3758     22
6493     22
136      22
109      21
8954     21
2310     20
3129     20
8521     20
8357     20
6947     20
         ..
4821      1
4805      1
8883      1
7188      1
3094      1
7204      1
7460      1
3526      1
5573      1
7604      1
7588      1
5525      1
5477      1
9571      1
5461      1
5445      1
5429      1
7444      1
7236      1
9475      1
3286      1
3270      1
5317      1
9411      1
1207      1
5301      1
3190      1
5237      1
7284      1
2049      1
Name: UPM, Length: 7855, dtype: int64

In [262]:
df_copy.CIUDAD.value_counts()

24.0    1220
20.0    1184
2.0     1082
44.0    1042
31.0    1011
0.0      935
21.0     927
18.0     895
9.0      871
3.0      856
1.0      839
41.0     837
23.0     708
13.0     697
15.0     695
29.0     689
16.0     687
Name: CIUDAD, dtype: int64

In [263]:
df_copy.DOM.value_counts()

A    15175
U     5707
C     3357
R     2947
Name: DOM, dtype: int64

In [264]:
df_copy.FAC_DEL.value_counts()

130      106
64        94
121       90
76        86
273       85
132       82
233       82
117       79
61        78
123       78
154       77
118       76
126       75
71        74
136       74
128       73
112       71
214       71
124       70
86        69
120       68
208       68
149       67
168       67
138       67
114       67
135       66
139       66
62        65
142       65
        ...
4126       1
2468       1
6159       1
10223      1
4567       1
2027       1
2011       1
1995       1
1979       1
2205       1
2221       1
4359       1
2493       1
2068       1
2100       1
2116       1
2132       1
6607       1
8648       1
2164       1
4215       1
2308       1
2413       1
2244       1
12586      1
2333       1
2317       1
6358       1
8449       1
3029       1
Name: FAC_DEL, Length: 3301, dtype: int64

In [265]:
df_copy.to_csv('2011.csv')