In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = 'C:/Users/chris/Documents/TRABAJO/PROYECTOS/PROGRAMA DELFIN/PROYECTOCRIMEN/2012/tmod_vic2012.csv'

In [3]:
df = pd.read_csv(df_,low_memory = False)
df_copy = df

In [4]:
df_copy.VIV_SEL.value_counts()

4     5361
3     5278
1     5106
5     5080
2     5073
6      572
7      494
8      491
9      481
10     444
20     384
19     358
12     356
15     353
14     337
16     331
18     323
17     321
13     318
11     306
22      60
21      55
24      47
37      40
36      40
26      40
25      38
35      38
39      37
32      36
28      34
23      32
40      32
38      30
27      30
30      29
33      28
29      26
31      24
34      23
43       2
44       2
41       1
45       1
47       1
Name: VIV_SEL, dtype: int64

In [5]:
df_copy.HOGAR.value_counts()

1    31862
2      521
3       84
4       19
5        4
6        2
8        1
Name: HOGAR, dtype: int64

In [6]:
df_copy.ND_TIPO.value_counts()

1    25392
2     4811
3     1515
4      519
5      255
0        1
Name: ND_TIPO, dtype: int64

In [7]:
df_copy.BPCOD.value_counts()

2     7316
3     5161
8     5095
4     5066
9     2294
1     1655
6     1407
5     1227
7     1107
10    1063
12     790
14     157
11      81
13      74
Name: BPCOD, dtype: int64

In [8]:
df_copy.R_SEL.value_counts()

1     15443
2     10558
3      3912
4      1744
5       550
6       170
7        70
8        27
9         9
10        7
14        1
12        1
11        1
Name: R_SEL, dtype: int64

In [9]:
df_copy.BP1_1.value_counts()

12    3654
11    3451
10    2707
2     2682
6     2637
3     2636
8     2402
9     2368
5     2317
7     2116
4     2028
1     2025
99    1470
Name: BP1_1, dtype: int64

In [10]:
df_copy.BP1_2C.value_counts()

21    1728
25    1426
15    1415
16    1357
14    1280
2     1273
13    1259
30    1196
8     1173
3     1116
23    1100
19    1071
11    1060
26    1055
27    1045
12    1037
7     1029
9     1025
22     972
20     955
17     951
10     918
6      829
28     788
24     788
5      748
1      727
31     667
29     657
18     648
4      619
32     487
99      94
Name: BP1_2C, dtype: int64

In [11]:
df_copy.BP1_3C.value_counts()

5      1857
1      1774
4      1741
2      1492
114    1437
3      1286
30     1284
6      1241
39     1147
53     1008
7       919
19      907
14      885
28      836
48      831
20      751
101     749
17      642
67      603
50      553
193     486
10      438
33      386
8       376
15      363
12      351
38      343
11      321
120     298
106     295
       ...
117       2
409       2
439       2
324       2
149       2
498       2
213       2
153       2
211       2
392       2
232       2
327       1
144       1
565       1
307       1
403       1
293       1
176       1
557       1
147       1
110       1
139       1
397       1
444       1
137       1
348       1
172       1
539       1
500       1
551       1
Name: BP1_3C, Length: 214, dtype: int64

In [12]:
df_copy.BP1_4.value_counts()

2    10365
3     8602
1     6742
4     5217
9     1567
Name: BP1_4, dtype: int64

In [13]:
df_copy.BP1_4.replace({9:99}, inplace=True)

In [14]:
df_copy.BP1_4.value_counts()

2     10365
3      8602
1      6742
4      5217
99     1567
Name: BP1_4, dtype: int64

In [15]:
df_copy.BP1_5.value_counts()

1    13206
2    12575
4     1813
3     1438
6     1226
5     1182
8      555
9      318
7      180
Name: BP1_5, dtype: int64

In [16]:
df_copy.BP1_5.replace({9:99}, inplace=True)

In [17]:
df_copy.BP1_5.value_counts()

1     13206
2     12575
4      1813
3      1438
6      1226
5      1182
8       555
99      318
7       180
Name: BP1_5, dtype: int64

In [18]:
df_copy.BP1_6.value_counts()

2.0    13482
1.0     7129
Name: BP1_6, dtype: int64

In [19]:
df_copy.BP1_6.replace({2.0:'2',1.0:'1'}, inplace=True)
df_copy.BP1_6.value_counts()

2    13482
1     7129
Name: BP1_6, dtype: int64

In [20]:
df_copy.BP1_7.value_counts()

1.0    8353
2.0    8108
9.0      36
Name: BP1_7, dtype: int64

In [21]:
df_copy.BP1_7.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_7.value_counts()

1     8353
2     8108
99      36
Name: BP1_7, dtype: int64

In [22]:
df_copy.BP1_8.value_counts()

1.0    12085
2.0     4412
Name: BP1_8, dtype: int64

In [23]:
df_copy.BP1_8.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_8.value_counts()

1    12085
2     4412
Name: BP1_8, dtype: int64

In [24]:
df_copy.BP1_9.value_counts()

1.0    5805
2.0    3223
3.0    1410
4.0     579
6.0     552
9.0     284
5.0     232
Name: BP1_9, dtype: int64

In [25]:
df_copy.BP1_9.replace({2.0:'2',1.0:'1',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_9.value_counts()

1     5805
2     3223
3     1410
4      579
6      552
99     284
5      232
Name: BP1_9, dtype: int64

In [26]:
df_copy.BP1_10_1.value_counts()

1.0     5855
2.0     2928
3.0     1259
0.0      570
4.0      490
5.0      206
6.0      190
7.0       79
8.0       70
10.0      60
20.0      25
15.0      22
12.0      10
9.0        9
13.0       4
25.0       4
11.0       3
16.0       3
40.0       3
14.0       3
30.0       2
45.0       2
99.0       2
18.0       1
22.0       1
Name: BP1_10_1, dtype: int64

In [27]:
df_copy.BP1_10_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_10_1.value_counts()

1     5855
2     2928
3     1259
0      570
4      490
5      206
6      190
7       79
8       70
10      60
20      25
15      22
12      10
9        9
13       4
25       4
11       3
16       3
40       3
14       3
30       2
99       2
45       2
22       1
18       1
Name: BP1_10_1, dtype: int64

In [28]:
df_copy.BP1_10_2.value_counts()

0.0     10346
1.0      1082
2.0       233
3.0        64
4.0        26
5.0        13
6.0         8
8.0         8
7.0         5
15.0        5
10.0        5
11.0        2
99.0        2
50.0        1
12.0        1
Name: BP1_10_2, dtype: int64

In [29]:
df_copy.BP1_10_2.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_10_2.value_counts()

0     10346
1      1082
2       233
3        64
4        26
5        13
6         8
8         8
7         5
10        5
15        5
99        2
11        2
50        1
12        1
Name: BP1_10_2, dtype: int64

In [30]:
df_copy.BP1_11.value_counts()

4.0    3773
3.0    3304
5.0    2096
9.0    1237
6.0     627
8.0     618
2.0     356
7.0      58
1.0      16
Name: BP1_11, dtype: int64

In [31]:
df_copy.BP1_11.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'99'}, inplace=True)
df_copy.BP1_11.value_counts()

4     3773
3     3304
5     2096
99    1237
6      627
8      618
2      356
7       58
1       16
Name: BP1_11, dtype: int64

In [32]:
df_copy.BP1_12_1.value_counts()

1.0    9340
0.0    2744
9.0       1
Name: BP1_12_1, dtype: int64

In [33]:
df_copy.BP1_12_1.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_12_1.value_counts()

1     9340
0     2744
99       1
Name: BP1_12_1, dtype: int64

In [34]:
df_copy.BP1_12_2.value_counts()

0.0    10822
1.0     1262
9.0        1
Name: BP1_12_2, dtype: int64

In [35]:
df_copy.BP1_12_2.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_12_2.value_counts()

0     10822
1      1262
99        1
Name: BP1_12_2, dtype: int64

In [36]:
df_copy.BP1_12_3.value_counts()

0.0    11403
1.0      681
9.0        1
Name: BP1_12_3, dtype: int64

In [37]:
df_copy.BP1_12_3.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_12_3.value_counts()

0     11403
1       681
99        1
Name: BP1_12_3, dtype: int64

In [38]:
df_copy.BP1_12_4.value_counts()

0.0    11511
1.0      573
9.0        1
Name: BP1_12_4, dtype: int64

In [39]:
df_copy.BP1_12_4.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_12_4.value_counts()

0     11511
1       573
99        1
Name: BP1_12_4, dtype: int64

In [40]:
df_copy.BP1_12_5.value_counts()

0.0    11780
1.0      304
9.0        1
Name: BP1_12_5, dtype: int64

In [41]:
df_copy.BP1_12_5.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_12_5.value_counts()

0     11780
1       304
99        1
Name: BP1_12_5, dtype: int64

In [42]:
df_copy.BP1_13.value_counts()

2.0    7003
1.0    2337
Name: BP1_13, dtype: int64

In [43]:
df_copy.BP1_13.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_13.value_counts()

2    7003
1    2337
Name: BP1_13, dtype: int64

In [44]:
df_copy.BP1_14_1.value_counts()

0.0    9843
1.0    2242
Name: BP1_14_1, dtype: int64

In [45]:
df_copy.BP1_14_1.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_14_1.value_counts()

0    9843
1    2242
Name: BP1_14_1, dtype: int64

In [46]:
df_copy.BP1_14_2.value_counts()

0.0    10478
1.0     1607
Name: BP1_14_2, dtype: int64

In [47]:
df_copy.BP1_14_2.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_14_2.value_counts()

0    10478
1     1607
Name: BP1_14_2, dtype: int64

In [48]:
df_copy.BP1_14_3.value_counts()

0.0    12036
1.0       49
Name: BP1_14_3, dtype: int64

In [49]:
df_copy.BP1_14_3.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_14_3.value_counts()

0    12036
1       49
Name: BP1_14_3, dtype: int64

In [50]:
df_copy.BP1_14_4.value_counts()

0.0    6581
1.0    5504
Name: BP1_14_4, dtype: int64

In [51]:
df_copy.BP1_14_4.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_14_4.value_counts()

0    6581
1    5504
Name: BP1_14_4, dtype: int64

In [52]:
df_copy.BP1_14_9.value_counts()

0.0    8950
1.0    3135
Name: BP1_14_9, dtype: int64

In [53]:
df_copy.BP1_14_9.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_14_9.value_counts()

0    8950
1    3135
Name: BP1_14_9, dtype: int64

In [54]:
df_copy.BP1_15.value_counts()

2.0    5541
1.0    4658
9.0    1886
Name: BP1_15, dtype: int64

In [55]:
df_copy.BP1_15.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_15.value_counts()

2.0    5541
1      4658
99     1886
Name: BP1_15, dtype: int64

In [56]:
df_copy.BP1_16_1.value_counts()

1.0    2639
0.0    2019
Name: BP1_16_1, dtype: int64

In [57]:
df_copy.BP1_16_1.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_16_1.value_counts()

1    2639
0    2019
Name: BP1_16_1, dtype: int64

In [58]:
df_copy.BP1_16_4.value_counts()

0.0    4606
1.0      52
Name: BP1_16_4, dtype: int64

In [59]:
df_copy.BP1_16_4.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_16_4.value_counts()

0    4606
1      52
Name: BP1_16_4, dtype: int64

In [60]:
df_copy.BP1_16_2.value_counts()

0.0    2583
1.0    2075
Name: BP1_16_2, dtype: int64

In [61]:
df_copy.BP1_16_2.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_16_2.value_counts()

0    2583
1    2075
Name: BP1_16_2, dtype: int64

In [62]:
df_copy.BP1_16_3.value_counts()

0.0    4464
1.0     194
Name: BP1_16_3, dtype: int64

In [63]:
df_copy.BP1_16_3.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_16_3.value_counts()

0    4464
1     194
Name: BP1_16_3, dtype: int64

In [64]:
df_copy.BP1_16_9.value_counts()

0.0    4633
1.0      25
Name: BP1_16_9, dtype: int64

In [65]:
df_copy.BP1_16_9.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_16_9.value_counts()

0    4633
1      25
Name: BP1_16_9, dtype: int64

In [66]:
df_copy.BP1_17.value_counts()

2.0    3701
1.0     955
9.0       2
Name: BP1_17, dtype: int64

In [67]:
df_copy.BP1_17.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_17.value_counts()

2     3701
1      955
99       2
Name: BP1_17, dtype: int64

In [68]:
df_copy.BP1_18.value_counts()

2.0    8935
1.0    2102
9.0      93
Name: BP1_18, dtype: int64

In [69]:
df_copy.BP1_18.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_18.value_counts()

2     8935
1     2102
99      93
Name: BP1_18, dtype: int64

In [70]:
df_copy.BP1_19_1.value_counts()

0.0    1577
1.0    1480
Name: BP1_19_1, dtype: int64

In [71]:
df_copy.BP1_19_1.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_1.value_counts()

0    1577
1    1480
Name: BP1_19_1, dtype: int64

In [72]:
df_copy.BP1_19_2.value_counts()

0.0    2573
1.0     484
Name: BP1_19_2, dtype: int64

In [73]:
df_copy.BP1_19_2.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_2.value_counts()

0    2573
1     484
Name: BP1_19_2, dtype: int64

In [74]:
df_copy.BP1_19_3.value_counts()

0.0    2975
1.0      82
Name: BP1_19_3, dtype: int64

In [75]:
df_copy.BP1_19_3.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_3.value_counts()

0    2975
1      82
Name: BP1_19_3, dtype: int64

In [76]:
df_copy.BP1_19_4.value_counts()

0.0    2906
1.0     151
Name: BP1_19_4, dtype: int64

In [77]:
df_copy.BP1_19_4.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_4.value_counts()

0    2906
1     151
Name: BP1_19_4, dtype: int64

In [78]:
df_copy.BP1_19_5.value_counts()

0.0    3043
1.0      14
Name: BP1_19_5, dtype: int64

In [79]:
df_copy.BP1_19_5.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_5.value_counts()

0    3043
1      14
Name: BP1_19_5, dtype: int64

In [80]:
df_copy.BP1_19_6.value_counts()

0.0    2989
1.0      68
Name: BP1_19_6, dtype: int64

In [81]:
df_copy.BP1_19_6.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_6.value_counts()

0    2989
1      68
Name: BP1_19_6, dtype: int64

In [82]:
df_copy.BP1_19_7.value_counts()

0.0    1817
1.0    1240
Name: BP1_19_7, dtype: int64

In [83]:
df_copy.BP1_19_7.replace({0.0:'0',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_19_7.value_counts()

0    1817
1    1240
Name: BP1_19_7, dtype: int64

In [84]:
df_copy.BP1_20.value_counts()

2    27274
1     5219
Name: BP1_20, dtype: int64

In [85]:
df_copy.BP1_21.value_counts()

2.0    10804
1.0      178
9.0       68
Name: BP1_21, dtype: int64

In [86]:
df_copy.BP1_21.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_21.value_counts()

2     10804
1       178
99       68
Name: BP1_21, dtype: int64

In [87]:
df_copy.BP1_22.value_counts()

2.0    126
1.0     52
Name: BP1_22, dtype: int64

In [88]:
df_copy.BP1_22.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_22.value_counts()

2    126
1     52
Name: BP1_22, dtype: int64

In [89]:
df_copy.BP1_23.value_counts()

4.0     9696
6.0     4251
3.0     2754
5.0     2535
7.0     2500
1.0     2163
9.0     2037
8.0      675
99.0     248
2.0      237
Name: BP1_23, dtype: int64

In [90]:
df_copy.BP1_23.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_23.value_counts()

4     9696
6     4251
3     2754
5     2535
7     2500
1     2163
9     2037
8      675
99     248
2      237
Name: BP1_23, dtype: int64

In [91]:
df_copy.BP1_24.value_counts()

1.0    3641
2.0    1290
9.0     340
Name: BP1_24, dtype: int64

In [92]:
df_copy.BP1_24.replace({2.0:'2',1.0:'1',9.0:'99'}, inplace=True)
df_copy.BP1_24.value_counts()

1     3641
2     1290
99     340
Name: BP1_24, dtype: int64

In [93]:
df_copy.BP1_25.value_counts()

4.0    385
2.0    352
5.0    218
1.0    126
3.0    120
9.0     89
Name: BP1_25, dtype: int64

In [94]:
df_copy.BP1_25.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_25.value_counts()

4    385
2    352
5    218
1    126
3    120
9     89
Name: BP1_25, dtype: int64

In [95]:
df_copy.BP1_26_1.value_counts()

11.0    554
12.0    526
2.0     484
3.0     456
10.0    441
6.0     414
4.0     404
1.0     399
8.0     382
9.0     380
5.0     376
7.0     343
99.0    112
Name: BP1_26_1, dtype: int64

In [96]:
df_copy.BP1_26_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_26_1.value_counts()

11    554
12    526
2     484
3     456
10    441
6     414
4     404
1     399
8     382
9     380
5     376
7     343
99    112
Name: BP1_26_1, dtype: int64

In [97]:
df_copy.BP1_26_2.value_counts()

11.0    5095
12.0      94
99.0      82
Name: BP1_26_2, dtype: int64

In [98]:
df_copy.BP1_26_2.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',
                          8.0:'8',9.0:'9',10.0:'10',11.0:'11',12.0:'12',
                          13.0:'13',14.0:'14',15.0:'15',16.0:'16',17.0:'17',
                          18.0:'18',19.0:'19',20.0:'20',21.0:'21',22.0:'22',
                          23.0:'23',24.0:'24',25.0:'25',26.0:'26',27.0:'27',
                          28.0:'28',29.0:'29',30.0:'30',31.0:'31',32.0:'32',
                          33.0:'33',34.0:'34',35.0:'35',36.0:'36',37.0:'37',
                          38.0:'38',39.0:'39',40.0:'40',41.0:'41',42.0:'42',
                          43.0:'43',44.0:'44',45.0:'45',46.0:'46',47.0:'47',
                          99.0:'99',98.0:'99',88.0:'99',50.0:'50'}, inplace=True)
df_copy.BP1_26_2.value_counts()

11    5095
12      94
99      82
Name: BP1_26_2, dtype: int64

In [99]:
df_copy.BP1_27.value_counts()

2.0    1918
4.0    1193
3.0    1054
1.0    1020
9.0      86
Name: BP1_27, dtype: int64

In [100]:
df_copy.BP1_27.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',9.0:'99'}, inplace=True)
df_copy.BP1_27.value_counts()

2     1918
4     1193
3     1054
1     1020
99      86
Name: BP1_27, dtype: int64

In [101]:
df_copy.BP1_28.value_counts()

5.0    3316
2.0     809
3.0     457
4.0     226
9.0     199
1.0     163
6.0     101
Name: BP1_28, dtype: int64

In [102]:
df_copy.BP1_28.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_28.value_counts()

5     3316
2      809
3      457
4      226
99     199
1      163
6      101
Name: BP1_28, dtype: int64

In [103]:
df_copy.BP1_29.value_counts()

2.0    1962
3.0    1865
4.0     608
5.0     433
1.0     278
9.0     125
Name: BP1_29, dtype: int64

In [104]:
df_copy.BP1_29.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_29.value_counts()

2     1962
3     1865
4      608
5      433
1      278
99     125
Name: BP1_29, dtype: int64

In [105]:
df_copy.BP1_30.value_counts()

3.0    1627
2.0    1547
4.0    1037
5.0     752
1.0     224
9.0      84
Name: BP1_30, dtype: int64

In [106]:
df_copy.BP1_30.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',9.0:'99'}, inplace=True)
df_copy.BP1_30.value_counts()

3     1627
2     1547
4     1037
5      752
1      224
99      84
Name: BP1_30, dtype: int64

In [107]:
df_copy.BP1_31.value_counts()

2    29046
1     3447
Name: BP1_31, dtype: int64

In [108]:
df_copy.BP1_32_1.value_counts()

0.0    3337
1.0     110
Name: BP1_32_1, dtype: int64

In [109]:
df_copy.BP1_32_1.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_1.value_counts()

0    3337
1     110
Name: BP1_32_1, dtype: int64

In [110]:
df_copy.BP1_32_2.value_counts()

0.0    2113
1.0    1334
Name: BP1_32_2, dtype: int64

In [111]:
df_copy.BP1_32_2.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_2.value_counts()

0    2113
1    1334
Name: BP1_32_2, dtype: int64

In [112]:
df_copy.BP1_32_3.value_counts()

0.0    3412
1.0      35
Name: BP1_32_3, dtype: int64

In [113]:
df_copy.BP1_32_3.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_3.value_counts()

0    3412
1      35
Name: BP1_32_3, dtype: int64

In [114]:
df_copy.BP1_32_4.value_counts()

0.0    3066
1.0     381
Name: BP1_32_4, dtype: int64

In [115]:
df_copy.BP1_32_4.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_4.value_counts()

0    3066
1     381
Name: BP1_32_4, dtype: int64

In [116]:
df_copy.BP1_32_5.value_counts()

0.0    3253
1.0     194
Name: BP1_32_5, dtype: int64

In [117]:
df_copy.BP1_32_5.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_5.value_counts()

0    3253
1     194
Name: BP1_32_5, dtype: int64

In [118]:
df_copy.BP1_32_6.value_counts()

0.0    3386
1.0      61
Name: BP1_32_6, dtype: int64

In [119]:
df_copy.BP1_32_6.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_6.value_counts()

0    3386
1      61
Name: BP1_32_6, dtype: int64

In [120]:
df_copy.BP1_32_7.value_counts()

0.0    3238
1.0     209
Name: BP1_32_7, dtype: int64

In [121]:
df_copy.BP1_32_7.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_7.value_counts()

0    3238
1     209
Name: BP1_32_7, dtype: int64

In [122]:
df_copy.BP1_32_8.value_counts()

0.0    3383
1.0      64
Name: BP1_32_8, dtype: int64

In [123]:
df_copy.BP1_32_8.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_8.value_counts()

0    3383
1      64
Name: BP1_32_8, dtype: int64

In [124]:
df_copy.BP1_32_9.value_counts()

0.0    2464
1.0     983
Name: BP1_32_9, dtype: int64

In [125]:
df_copy.BP1_32_9.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_9.value_counts()

0    2464
1     983
Name: BP1_32_9, dtype: int64

In [126]:
df_copy.BP1_32_99.value_counts()

0.0    3274
1.0     173
Name: BP1_32_99, dtype: int64

In [127]:
df_copy.BP1_32_99.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_32_99.value_counts()

0    3274
1     173
Name: BP1_32_99, dtype: int64

In [128]:
df_copy.BP1_33_1.value_counts()

0.0    5895
1.0    1959
Name: BP1_33_1, dtype: int64

In [129]:
df_copy.BP1_33_1.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_33_1.value_counts()

0    5895
1    1959
Name: BP1_33_1, dtype: int64

In [130]:
df_copy.BP1_33_2.value_counts()

0.0    7799
1.0      55
Name: BP1_33_2, dtype: int64

In [131]:
df_copy.BP1_33_2.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_33_2.value_counts()

0    7799
1      55
Name: BP1_33_2, dtype: int64

In [132]:
df_copy.BP1_33_3.value_counts()

0.0    7811
1.0      43
Name: BP1_33_3, dtype: int64

In [133]:
df_copy.BP1_33_3.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_33_3.value_counts()

0    7811
1      43
Name: BP1_33_3, dtype: int64

In [134]:
df_copy.BP1_33_4.value_counts()

0.0    7826
1.0      28
Name: BP1_33_4, dtype: int64

In [135]:
df_copy.BP1_33_4.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_33_4.value_counts()

0    7826
1      28
Name: BP1_33_4, dtype: int64

In [136]:
df_copy.BP1_33_5.value_counts()

1.0    5618
0.0    2236
Name: BP1_33_5, dtype: int64

In [137]:
df_copy.BP1_33_5.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_33_5.value_counts()

1    5618
0    2236
Name: BP1_33_5, dtype: int64

In [138]:
df_copy.BP1_33_9.value_counts()

0.0    7668
1.0     186
Name: BP1_33_9, dtype: int64

In [139]:
df_copy.BP1_33_9.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_33_9.value_counts()

0    7668
1     186
Name: BP1_33_9, dtype: int64

In [140]:
df_copy.BP1_34_1.value_counts()

0.0    7423
1.0     431
Name: BP1_34_1, dtype: int64

In [141]:
df_copy.BP1_34_1.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_1.value_counts()

0    7423
1     431
Name: BP1_34_1, dtype: int64

In [142]:
df_copy.BP1_34_2.value_counts()

0.0    6325
1.0    1529
Name: BP1_34_2, dtype: int64

In [143]:
df_copy.BP1_34_2.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_2.value_counts()

0    6325
1    1529
Name: BP1_34_2, dtype: int64

In [144]:
df_copy.BP1_34_3.value_counts()

0.0    6781
1.0    1073
Name: BP1_34_3, dtype: int64

In [145]:
df_copy.BP1_34_3.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_3.value_counts()

0    6781
1    1073
Name: BP1_34_3, dtype: int64

In [146]:
df_copy.BP1_34_4.value_counts()

0.0    6536
1.0    1318
Name: BP1_34_4, dtype: int64

In [147]:
df_copy.BP1_34_4.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_4.value_counts()

0    6536
1    1318
Name: BP1_34_4, dtype: int64

In [148]:
df_copy.BP1_34_5.value_counts()

0.0    7807
1.0      47
Name: BP1_34_5, dtype: int64

In [149]:
df_copy.BP1_34_5.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_5.value_counts()

0    7807
1      47
Name: BP1_34_5, dtype: int64

In [150]:
df_copy.BP1_34_6.value_counts()

0.0    7743
1.0     111
Name: BP1_34_6, dtype: int64

In [151]:
df_copy.BP1_34_6.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_6.value_counts()

0    7743
1     111
Name: BP1_34_6, dtype: int64

In [152]:
df_copy.BP1_34_7.value_counts()

0.0    7747
1.0     107
Name: BP1_34_7, dtype: int64

In [153]:
df_copy.BP1_34_7.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_7.value_counts()

0    7747
1     107
Name: BP1_34_7, dtype: int64

In [154]:
df_copy.BP1_34_8.value_counts()

0.0    7405
1.0     449
Name: BP1_34_8, dtype: int64

In [155]:
df_copy.BP1_34_8.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_8.value_counts()

0    7405
1     449
Name: BP1_34_8, dtype: int64

In [156]:
df_copy.BP1_34_9.value_counts()

0.0    7423
1.0     431
Name: BP1_34_9, dtype: int64

In [157]:
df_copy.BP1_34_9.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_9.value_counts()

0    7423
1     431
Name: BP1_34_9, dtype: int64

In [158]:
df_copy.BP1_34_10.value_counts()

0.0    7587
1.0     267
Name: BP1_34_10, dtype: int64

In [159]:
df_copy.BP1_34_10.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_10.value_counts()

0    7587
1     267
Name: BP1_34_10, dtype: int64

In [160]:
df_copy.BP1_34_11.value_counts()

0.0    4811
1.0    3043
Name: BP1_34_11, dtype: int64

In [161]:
df_copy.BP1_34_11.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_11.value_counts()

0    4811
1    3043
Name: BP1_34_11, dtype: int64

In [162]:
df_copy.BP1_34_99.value_counts()

0.0    7656
1.0     198
Name: BP1_34_99, dtype: int64

In [163]:
df_copy.BP1_34_99.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_34_99.value_counts()

0    7656
1     198
Name: BP1_34_99, dtype: int64

In [164]:
df_copy.BP1_35_1.value_counts()

0    27111
1     5382
Name: BP1_35_1, dtype: int64

In [165]:
df_copy.BP1_35_1.replace({0.0:'0',1.0:'1'}, inplace=True)
df_copy.BP1_35_1.value_counts()

0    27111
1     5382
Name: BP1_35_1, dtype: int64

In [166]:
df_copy.BP1_35_2.value_counts()

0    26282
1     6211
Name: BP1_35_2, dtype: int64

In [167]:
df_copy.BP1_35_3.value_counts()

0    23020
1     9473
Name: BP1_35_3, dtype: int64

In [168]:
df_copy.BP1_35_4.value_counts()

0    22266
1    10227
Name: BP1_35_4, dtype: int64

In [169]:
df_copy.BP1_35_5.value_counts()

0    31863
1      630
Name: BP1_35_5, dtype: int64

In [170]:
df_copy.BP1_35_6.value_counts()

0    30780
1     1713
Name: BP1_35_6, dtype: int64

In [171]:
df_copy.BP1_35_7.value_counts()

0    31577
1      916
Name: BP1_35_7, dtype: int64

In [172]:
df_copy.BP1_35_8.value_counts()

0    27921
1     4572
Name: BP1_35_8, dtype: int64

In [173]:
df_copy.BP1_35_9.value_counts()

0    24963
1     7530
Name: BP1_35_9, dtype: int64

In [174]:
df_copy.BP1_35_10.value_counts()

0    30884
1     1609
Name: BP1_35_10, dtype: int64

In [175]:
df_copy.BP1_35_11.value_counts()

0    31128
1     1365
Name: BP1_35_11, dtype: int64

In [176]:
df_copy.BP1_35_99.value_counts()

0    31901
1      592
Name: BP1_35_99, dtype: int64

In [177]:
df_copy.BP1_36.value_counts()

1    20682
3     7669
5     2541
2     1267
4      202
9      132
Name: BP1_36, dtype: int64

In [178]:
df_copy.replace({9:99},inplace = True)
df_copy.BP1_36.value_counts()

1     20682
3      7669
5      2541
2      1267
4       202
99      132
Name: BP1_36, dtype: int64

In [179]:
df_copy.BP1_37.value_counts()
#Pendiente

0.0          6703
2000.0       1927
3000.0       1699
1000.0       1658
5000.0       1400
1500.0       1127
500.0        1022
4000.0        853
10000.0       829
9999999.0     816
300.0         586
800.0         584
2500.0        570
6000.0        495
20000.0       493
600.0         480
1200.0        473
200.0         471
15000.0       468
8000.0        436
7000.0        413
30000.0       378
400.0         326
700.0         309
3500.0        284
50000.0       239
12000.0       232
40000.0       227
100.0         213
25000.0       203
             ...
25600.0         1
44.0            1
480.0           1
29250.0         1
2070.0          1
2033.0          1
1950.0          1
8941.0          1
79000.0         1
10700.0         1
388.0           1
115.0           1
13200.0         1
230.0           1
315000.0        1
5250.0          1
366000.0        1
4940.0          1
475.0           1
29000.0         1
98000.0         1
45700.0         1
84000.0         1
22300.0         1
420000.0        1
6000000.0       1
8400.0          1
73.0            1
708.0           1
895.0           1
Name: BP1_37, Length: 371, dtype: int64

In [180]:
l=[]
for i in df_copy.BP1_37:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_37 = l
df_copy.BP1_37.value_counts()

0          6703
nan        2673
2000       1927
3000       1699
1000       1658
5000       1400
1500       1127
500        1022
4000        853
10000       829
9999999     816
300         586
800         584
2500        570
6000        495
20000       493
600         480
1200        473
200         471
15000       468
8000        436
7000        413
30000       378
400         326
700         309
3500        284
50000       239
12000       232
40000       227
100         213
           ...
660           1
45700         1
5250          1
890000        1
133000        1
79000         1
1923          1
1870          1
1850          1
51000         1
22300         1
1790          1
138000        1
5850          1
46800         1
1640          1
1590          1
190000        1
63000         1
1470          1
366000        1
9600          1
41000         1
1380          1
1520          1
105300        1
1240          1
1230          1
13500         1
1260          1
Name: BP1_37, Length: 372, dtype: int64

In [181]:
df_copy.BP1_38.value_counts()
#Pendiente

0.0          27659
1000.0         211
2000.0         177
500.0          169
9999999.0      151
3000.0         145
300.0          111
5000.0         110
200.0          107
1500.0          78
600.0           73
10000.0         69
400.0           60
800.0           53
99.0            50
4000.0          47
20000.0         40
100.0           37
6000.0          35
7000.0          28
700.0           26
15000.0         24
50.0            21
250.0           19
1200.0          18
30000.0         17
2500.0          17
8000.0          16
50000.0         15
350.0           14
             ...
9200.0           1
89.0             1
3200.0           1
5.0              1
1.0              1
3.0              1
70.0             1
630000.0         1
24000.0          1
80000.0          1
15.0             1
3250.0           1
160.0            1
600000.0         1
8400.0           1
19000.0          1
1700.0           1
880.0            1
5200.0           1
750.0            1
29000.0          1
130.0            1
17000.0          1
300000.0         1
330.0            1
120000.0         1
260.0            1
280.0            1
16000.0          1
270.0            1
Name: BP1_38, Length: 105, dtype: int64

In [182]:
l=[]
for i in df_copy.BP1_38:
    k = str(i)
    if(k != "nan"):
        k = int(eval(k))
        l.append(k)
    else:
        l.append(k)
df_copy.BP1_38 = l
df_copy.BP1_38.value_counts()

0          27659
nan         2673
1000         211
2000         177
500          169
9999999      151
3000         145
300          111
5000         110
200          107
1500          78
600           73
10000         69
400           60
800           53
99            50
4000          47
20000         40
100           37
6000          35
7000          28
700           26
15000         24
50            21
250           19
1200          18
30000         17
2500          17
8000          16
50000         15
           ...
160            1
3              1
1              1
260            1
4800           1
275            1
5200           1
2700           1
19000          1
6400           1
80000          1
600000         1
1700           1
22000          1
3200           1
800000         1
120000         1
9200           1
280            1
3250           1
300000         1
630000         1
750            1
720            1
17000          1
24000          1
380            1
330            1
29000          1
880            1
Name: BP1_38, Length: 106, dtype: int64

In [183]:
df_copy.BP2_1.value_counts()

1.0     1083
2.0      530
99.0      26
3.0       16
Name: BP2_1, dtype: int64

In [184]:
df_copy.BP2_1.replace({1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP2_1.value_counts()

1     1083
2      530
99      26
3       16
Name: BP2_1, dtype: int64

In [185]:
df_copy.BP2_2.value_counts()

2.0     1136
1.0      497
99.0      22
Name: BP2_2, dtype: int64

In [186]:
df_copy.BP2_2.replace({1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP2_2.value_counts()

2     1136
1      497
99      22
Name: BP2_2, dtype: int64

In [187]:
df_copy.BP2_3.value_counts()

2.0    1102
1.0     553
Name: BP2_3, dtype: int64

In [188]:
df_copy.BP2_3.replace({1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP2_3.value_counts()

2    1102
1     553
Name: BP2_3, dtype: int64

In [189]:
df_copy.BP2_4.value_counts()

2.0    323
1.0    230
Name: BP2_4, dtype: int64

In [190]:
df_copy.BP2_4.replace({1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP2_4.value_counts()

2    323
1    230
Name: BP2_4, dtype: int64

In [191]:
df_copy.BP3_1_1.value_counts()

0.0    10776
1.0      678
Name: BP3_1_1, dtype: int64

In [192]:
df_copy.BP3_1_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_1.value_counts()

0    10776
1      678
Name: BP3_1_1, dtype: int64

In [193]:
df_copy.BP3_1_2.value_counts()

0.0    9245
1.0    2209
Name: BP3_1_2, dtype: int64

In [194]:
df_copy.BP3_1_2.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_2.value_counts()

0    9245
1    2209
Name: BP3_1_2, dtype: int64

In [195]:
df_copy.BP3_1_3.value_counts()

0.0    10542
1.0      912
Name: BP3_1_3, dtype: int64

In [196]:
df_copy.BP3_1_3.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_3.value_counts()

0    10542
1      912
Name: BP3_1_3, dtype: int64

In [197]:
df_copy.BP3_1_4.value_counts()

0.0    10513
1.0      941
Name: BP3_1_4, dtype: int64

In [198]:
df_copy.BP3_1_4.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_4.value_counts()

0    10513
1      941
Name: BP3_1_4, dtype: int64

In [199]:
df_copy.BP3_1_5.value_counts()

0.0    9488
1.0    1966
Name: BP3_1_5, dtype: int64

In [200]:
df_copy.BP3_1_5.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_5.value_counts()

0    9488
1    1966
Name: BP3_1_5, dtype: int64

In [201]:
df_copy.BP3_1_6.value_counts()

0.0    11321
1.0      133
Name: BP3_1_6, dtype: int64

In [202]:
df_copy.BP3_1_6.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_6.value_counts()

0    11321
1      133
Name: BP3_1_6, dtype: int64

In [203]:
df_copy.BP3_1_7.value_counts()

0.0    6917
1.0    4537
Name: BP3_1_7, dtype: int64

In [204]:
df_copy.BP3_1_7.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_7.value_counts()

0    6917
1    4537
Name: BP3_1_7, dtype: int64

In [205]:
df_copy.BP3_1_8.value_counts()

0.0    10922
1.0      532
Name: BP3_1_8, dtype: int64

In [206]:
df_copy.BP3_1_8.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_8.value_counts()

0    10922
1      532
Name: BP3_1_8, dtype: int64

In [207]:
df_copy.BP3_1_9.value_counts()

0.0    9389
1.0    2065
Name: BP3_1_9, dtype: int64

In [208]:
df_copy.BP3_1_9.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_9.value_counts()

0    9389
1    2065
Name: BP3_1_9, dtype: int64

In [209]:
df_copy.BP3_1_10.value_counts()

0.0    11027
1.0      427
Name: BP3_1_10, dtype: int64

In [210]:
df_copy.BP3_1_10.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_10.value_counts()

0    11027
1      427
Name: BP3_1_10, dtype: int64

In [211]:
df_copy.BP3_1_11.value_counts()

0.0    9047
1.0    2407
Name: BP3_1_11, dtype: int64

In [212]:
df_copy.BP3_1_11.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_11.value_counts()

0    9047
1    2407
Name: BP3_1_11, dtype: int64

In [213]:
df_copy.BP3_1_99.value_counts()

0.0    11084
1.0      370
Name: BP3_1_99, dtype: int64

In [214]:
df_copy.BP3_1_99.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_1_99.value_counts()

0    11084
1      370
Name: BP3_1_99, dtype: int64

In [215]:
df_copy.BP3_2.value_counts()

2.0     3801
1.0     1317
99.0      43
Name: BP3_2, dtype: int64

In [216]:
df_copy.BP3_2.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',99.0:'99'}, inplace=True)
df_copy.BP3_2.value_counts()

2     3801
1     1317
99      43
Name: BP3_2, dtype: int64

In [217]:
df_copy.BP4_1.value_counts()

2.0     888
99.0     78
3.0      43
1.0      36
4.0      33
5.0      29
Name: BP4_1, dtype: int64

In [218]:
df_copy.BP4_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',99.0:'99'}, inplace=True)
df_copy.BP4_1.value_counts()

2     888
99     78
3      43
1      36
4      33
5      29
Name: BP4_1, dtype: int64

In [219]:
df_copy.BP5_1.value_counts()

1.0     4591
4.0      212
99.0      79
2.0       70
7.0       62
5.0       50
6.0       26
3.0        5
Name: BP5_1, dtype: int64

In [220]:
df_copy.BP5_1.replace({0.0:'0',1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',6.0:'6',7.0:'7',99.0:'99'}, inplace=True)
df_copy.BP5_1.value_counts()

1     4591
4      212
99      79
2       70
7       62
5       50
6       26
3        5
Name: BP5_1, dtype: int64

In [221]:
df_copy.BP5_2_1.value_counts()

1.0    3998
0.0    1097
Name: BP5_2_1, dtype: int64

In [222]:
df_copy.BP5_2_1.replace({0.0:'0',1.0:'1',99.0:'99'}, inplace=True)
df_copy.BP5_2_1.value_counts()

1    3998
0    1097
Name: BP5_2_1, dtype: int64

In [223]:
df_copy.BP5_2_2.value_counts()

0.0    4844
1.0     251
Name: BP5_2_2, dtype: int64

In [224]:
df_copy.BP5_2_2.replace({0.0:'0',1.0:'1',99.0:'99'}, inplace=True)
df_copy.BP5_2_2.value_counts()

0    4844
1     251
Name: BP5_2_2, dtype: int64

In [225]:
df_copy.BP5_2_3.value_counts()

0.0    4843
1.0     252
Name: BP5_2_3, dtype: int64

In [226]:
df_copy.BP5_2_3.replace({0.0:'0',1.0:'1',99.0:'99'}, inplace=True)
df_copy.BP5_2_3.value_counts()

0    4843
1     252
Name: BP5_2_3, dtype: int64

In [227]:
df_copy.BP5_2_4.value_counts()

0.0    4401
1.0     694
Name: BP5_2_4, dtype: int64

In [228]:
df_copy.BP5_2_4.replace({0.0:'0',1.0:'1',99.0:'99'}, inplace=True)
df_copy.BP5_2_4.value_counts()

0    4401
1     694
Name: BP5_2_4, dtype: int64

In [229]:
df_copy.BP5_3.value_counts()

2.0     3915
1.0      444
99.0      42
Name: BP5_3, dtype: int64

In [230]:
df_copy.BP5_3.replace({2.0:'2',1.0:'1',99.0:'99'}, inplace=True)
df_copy.BP5_3.value_counts()

2     3915
1      444
99      42
Name: BP5_3, dtype: int64

In [231]:
df_copy.BP5_4.value_counts()

2.0     3865
1.0       47
99.0      45
Name: BP5_4, dtype: int64

In [232]:
df_copy.BP5_4.replace({2.0:'2',1.0:'1',99.0:'99'}, inplace=True)
df_copy.BP5_4.value_counts()

2     3865
1       47
99      45
Name: BP5_4, dtype: int64

In [233]:
df_copy.BP6_1.value_counts()

1.0     42
2.0     13
3.0     12
99.0    11
5.0      2
4.0      1
Name: BP6_1, dtype: int64

In [234]:
df_copy.BP6_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',99.0:'99'}, inplace=True)
df_copy.BP6_1.value_counts()

1     42
2     13
3     12
99    11
5      2
4      1
Name: BP6_1, dtype: int64

In [235]:
df_copy.BP6_2.value_counts()

1.0     35
99.0    23
2.0     23
Name: BP6_2, dtype: int64

In [236]:
df_copy.BP6_2.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',99.0:'99'}, inplace=True)
df_copy.BP6_2.value_counts()

1     35
99    23
2     23
Name: BP6_2, dtype: int64

In [237]:
df_copy.BP6_3.value_counts()

1.0     45
99.0    18
2.0     18
Name: BP6_3, dtype: int64

In [238]:
df_copy.BP6_3.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',99.0:'99'}, inplace=True)
df_copy.BP6_3.value_counts()

1     45
99    18
2     18
Name: BP6_3, dtype: int64

In [239]:
df_copy.BP7_1.value_counts()

2.0     337
3.0     246
4.0     120
1.0      70
99.0     13
5.0       4
Name: BP7_1, dtype: int64

In [240]:
df_copy.BP7_1.replace({1.0:'1',2.0:'2',3.0:'3',4.0:'4',5.0:'5',99.0:'99'}, inplace=True)
df_copy.BP7_1.value_counts()

2     337
3     246
4     120
1      70
99     13
5       4
Name: BP7_1, dtype: int64

In [241]:
df_copy.FAC_DEL.value_counts()

160      137
126      123
158      119
165      108
154      108
338      105
134      105
138      104
196      104
147      102
152      101
166      100
169      100
156      100
142       99
164       98
294       97
132       95
296       95
140       94
172       93
202       93
129       92
322       91
304       91
330       91
180       90
80        90
258       90
314       88
        ...
4200       1
4257       1
2187       1
4296       1
4360       1
6528       1
20112      1
1193       1
3544       1
2658       1
1273       1
3336       1
6720       1
1417       1
6704       1
1465       1
2594       1
6688       1
1497       1
11868      1
3560       1
1529       1
3592       1
2546       1
1545       1
1561       1
5691       1
1609       1
2498       1
2031       1
Name: FAC_DEL, Length: 2607, dtype: int64

In [242]:
df_copy.DOM.value_counts()

U    25021
C     5130
R     2342
Name: DOM, dtype: int64

In [243]:
df_copy.EST.value_counts()

143    672
217    568
109    547
218    527
243    518
10     483
132    458
158    422
159    420
267    403
268    402
74     386
61     384
99     366
21     353
119    351
83     345
232    341
120    338
97     330
84     324
11     324
195    321
133    319
328    318
279    318
194    317
89     309
196    307
280    306
      ...
71       6
359      6
142      6
176      6
64       6
30       6
183      6
228      5
157      5
287      5
48       5
7        4
253      4
193      4
173      4
202      4
301      3
311      3
240      3
249      3
316      3
291      2
112      2
203      2
254      2
351      2
72       1
149      1
102      1
146      1
Name: EST, Length: 360, dtype: int64

In [244]:
df_copy.UPM.value_counts()

1057     29
6623     29
1052     27
5180     27
9970     27
10220    25
7157     24
10304    24
6413     24
8575     23
10267    22
2058     22
1059     22
6166     21
10965    21
12448    21
1085     20
3163     20
6590     20
7813     20
1064     20
282      20
9606     19
13014    19
10526    19
10186    19
8267     19
10573    19
663      19
10539    19
         ..
6129      1
10875     1
10215     1
12718     1
10305     1
8620      1
4214      1
4442      1
4246      1
2197      1
148       1
6491      1
2425      1
2181      1
132       1
12670     1
392       1
2441      1
7087      1
8304      1
4198      1
100       1
956       1
4668      1
12702     1
84        1
10321     1
424       1
2473      1
3705      1
Name: UPM, Length: 9877, dtype: int64

In [245]:
df_copy.to_csv('2012.csv')